SOC_Block_Indicators_-_Generic_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    isoverridable: false
    itemVersion: 2.6.55
    packID: ""
    packName: Common Playbooks
    prevname: ""
    toServerVersion: ""
description: |-
  This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:

  - Block URL - Generic v2
  - Block Account - Generic v2
  - Block IP - Generic v3
  - Block File - Generic v2
  - Block Email - Generic v2
  - Block Domain - Generic v2.
id: 'SOC Block Indicators - Generic v3'
inputs:
- description: 'An array of malicious IPs to block. Enter a comma-separated list of
    IPs (i.e.: 1.1.1.1,2.2.2.2).'
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: ip
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: Array of malicious URLs to block.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: url
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: Array of malicious usernames to block.
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: username
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: The MD5 hash of the file you want to block.
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Indicator
          operator: stringHasLength
          right:
            value:
              simple: "32"
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: file
        - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: hash
      root: DBotScore
      transformers:
      - operator: uniq
- description: The SHA256 hash of the file you want to block.
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Indicator
          operator: stringHasLength
          right:
            value:
              simple: "64"
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: file
        - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: hash
      root: DBotScore
      transformers:
      - operator: uniq
- description: Array of malicious file hashes to block.
  key: FilesToBlock
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: file
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: The domain that you wish to block.
  key: DomainToBlock
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: domain
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: The email address that you wish to block.
  key: EmailToBlock
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Indicator
      filters:
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Type
          operator: isEqualString
          right:
            value:
              simple: email
      - - left:
            iscontext: true
            value:
              simple: DBotScore.Score
          operator: greaterThanOrEqual
          right:
            value:
              simple: "3"
      root: DBotScore
      transformers:
      - operator: uniq
- description: "Should the given indicators be automatically blocked, or should the
    user be prompted to select whether to block them?\n\nPossible values: True/False.
    \nDefault value: True.\n\nIf set to True - No prompt will appear. All of the provided
    indicators will be blocked automatically.\n\nIf set to False - The user will be
    prompted to select which indicators to block."
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "This input determines whether Palo Alto Networks Panorama or Firewall
    Custom Block Rules are used.\nSpecify \"True\" to create new Custom Block Rules
    (2 FW rules inside the PAN-OS device). \nFor \"False\" - no rules will be created."
  key: CustomBlockRule
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Panorama log forwarding object name. Indicate what type of Log Forwarding
    setting will be specified in the PAN-OS custom rules.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input determines whether to commit the configuration automatically
    on PAN-OS devices and other FWs. \nYes - Commit automatically.\nNo - Commit manually."
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static Address Groups are used.
    Specify the Static Address Group name for IPs list handling.
  key: StaticAddressGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: Custom URL Category name.
  key: CustomURLCategory
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR Remediation - Malicious URLs
- description: Custom URL category type. Insert "URL List"/ "Category Match".
  key: type
  playbookInputQuery: null
  required: false
  value: {}
- description: Device group for the Custom URL Category (Panorama instances).
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
- description: The list of categories. Relevant from PAN-OS v9.x.
  key: categories
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The Domain List ID to add the Domain to.
    product: Proofpoint Threat Response
  key: DomainBlackListID
  playbookInputQuery: null
  required: false
  value: {}
- description: Insert a tag name with which indicators will get tagged. This tag can
    be used later in the External Dynamic Lists integration by using the tag for filtering
    IPs in the indicator query.
  key: Tag
  playbookInputQuery: null
  required: false
  value:
    simple: Blocked Indicator In Systems
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Specify the Dynamic Address Group tag name for IPs list handling.
  key: DAG
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.  Default: True.\nWhether to provide user
    verification for blocking those IPs. \n\nFalse - No prompt will be displayed to
    the user.\nTrue - The server will ask the user for blocking verification and will
    display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: 'A list of internal IP ranges to check IP addresses against. The comma-separated
    list should be provided in CIDR notation. For example, a list of ranges would
    be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: PrivateIPs
      root: lists
      transformers:
      - args:
          error_if_no_match: {}
          ignore_case: {}
          multi_line: {}
          period_matches_newline: {}
          regex:
            value:
              simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
          unpack_matches: {}
        operator: RegexExtractAll
      - args:
          separator:
            value:
              simple: ','
        operator: join
- description: Signal Sciences WAF - Enter the site name for the integration to be
    applied. The site name can be found in your instance console.
  key: SiteName
  playbookInputQuery: null
  required: false
  value: {}
- description: Akamai's WAF network list ID, which is mandatory to be mentioned for
    the integration. The chosen IPs will be added to this ID.
  key: AkamaiNetworkListID
  playbookInputQuery: null
  required: false
  value: {}
- description: Cisco ASA (firewall) value for the rule's source object in the created
    blocking rule. Can be the value of an IPv4, an address block, or the name of a
    network object.
  key: CiscoFWSource
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The rule name/description that will be presented on the created rule in certain integrations (if there is a need).
    The supported integrations: PAN-OS, CheckPoint.

    Default input- "XSOAR - Block IP playbook - ${incident.id}"
  key: InputEnrichment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The rule name/description that will be presented on the created rule in certain integrations (if there is a need).
    The supported integrations: PAN-OS, CheckPoint.

    Default input- "XSOAR - Block IP playbook - ${incident.id}"
  key: RuleName
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR - Block Indicators playbook - ${alert.id}
- description: |-
    Determine if a newly created rule should be with the network direction of outbound or inbound blocked traffic.
    Possible values: inbound or outbound
    Default: outbound
  key: RuleDirection
  playbookInputQuery: null
  required: false
  value:
    simple: outbound
- description: EDL Server IP Address
  key: EDLServerIP
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Block Indicators - Generic v3
outputs:
- contextPath: CheckpointFWRule.Domain
  description: Rule domain.
- contextPath: CheckpointFWRule.Enabled
  description: Rule status.
- contextPath: CheckpointFWRule.Name
  description: Rule name.
- contextPath: CheckpointFWRule.UID
  description: Rule UID.
- contextPath: CheckpointFWRule.Type
  description: Rule Type.
- contextPath: CheckpointFWRule.DestinationNegate
  description: Rule destination negate status (True/False).
- contextPath: CheckpointFWRule.Action
  description: 'Rule action (Valid values are: Accept, Drop, Apply Layer, Ask, Info).'
- contextPath: CheckpointFWRule.Destination
  description: Rule Destination.
- contextPath: CheckpointFWRule.ActionSetting
  description: Rule action settings.
- contextPath: CheckpointFWRule.CustomFields
  description: Rule custom fields.
- contextPath: CheckpointFWRule.Data
  description: Rule data.
- contextPath: CheckpointFWRule.DataDirection
  description: Rule data direction.
- contextPath: CheckpointFWRule.DataNegate
  description: Rule data negate status (True/False).
- contextPath: CheckpointFWRule.Hits
  description: Rule hits count.
- contextPath: PanoramaRule.Direction
  description: Direction of the Panorama rule. Can be 'to','from', 'both'.
  type: string
- contextPath: PanoramaRule.IP
  description: The IP the Panorama rule blocks.
  type: string
- contextPath: PanoramaRule.Name
  description: Name of the Panorama rule.
  type: string
- contextPath: CheckpointFWRule.Data.Name
  description: Rule data object name.
- contextPath: CheckpointFWRule.Data.Domain
  description: Information about the domain the data object belongs to.
- contextPath: CheckpointFWRule.Domain.Name
  description: Rule domain name.
- contextPath: CheckpointFWRule.Domain.UID
  description: Rule domain UID.
- contextPath: CheckpointFWRule.Domain.Type
  description: Rule domain type.
- contextPath: CheckpointFWRule.Hits.FirstDate
  description: The date of the first hit for the rule.
- contextPath: CheckpointFWRule.Hits.LastDate
  description: The date of the last hit for the rule.
- contextPath: CheckpointFWRule.Hits.Level
  description: Level of rule hits.
- contextPath: CheckpointFWRule.Hits.Percentage
  description: Percentage of rule hits.
- contextPath: CheckpointFWRule.Hits.Value
  description: Value of rule hits.
- contextPath: IndicatorsToBlock
  description: Selected indicators to block.
  type: unknown
sourceplaybookid: Block Indicators - Generic v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: be855f8e-b0d6-4b33-8898-954bf9ba99cc
      iscommand: false
      name: ""
      version: -1
    taskid: be855f8e-b0d6-4b33-8898-954bf9ba99cc
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1733.5,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c155d55d-f7f3-4af2-8739-3cb6143e0e81
      iscommand: false
      name: Tag Indicators
      type: title
      version: -1
    taskid: c155d55d-f7f3-4af2-8739-3cb6143e0e81
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 1390
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
      - "31"
      - "32"
      - "33"
      - "34"
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 15d43128-6c48-4deb-8ed0-044d0454fa7b
      iscommand: false
      name: Block indicators
      type: title
      version: -1
    taskid: 15d43128-6c48-4deb-8ed0-044d0454fa7b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 1060
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 22f0eb38-c4d3-4e67-889b-6abbff216ab8
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 22f0eb38-c4d3-4e67-889b-6abbff216ab8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 626.25,
          "y": 2060
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: errorPath
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "29"
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        complex:
          root: inputs.Tag
      indicatorsValues:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IndicatorsToBlock
              operator: isNotEqualString
              right:
                value:
                  simple: No indicators to block
          root: IndicatorsToBlock
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      id: 4bbbb815-008f-4d0c-8ec2-54259dd88260
      iscommand: true
      name: Tag bad indicators
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 4bbbb815-008f-4d0c-8ec2-54259dd88260
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1720
        }
      }
  "19":
    continueonerrortype: ""
    form:
      description: Select which indicators to block.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Select IPs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Select URLs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Select files to block
        options: []
        optionsarg:
        - complex:
            root: inputs.MD5
            transformers:
            - args:
                item:
                  iscontext: true
                  value:
                    simple: inputs.SHA256
              operator: append
            - args:
                item:
                  iscontext: true
                  value:
                    simple: inputs.FilesToBlock
              operator: append
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Select users to block
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Select emails to block
        options: []
        optionsarg:
        - complex:
            root: inputs.EmailToBlock
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Select domains to block
        options: []
        optionsarg:
        - complex:
            root: inputs.DomainToBlock
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Which indicators would you like to block?
      totalanswers: 0
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Select which indicators to block.
      id: 0d20c35f-5bdf-4b27-8b63-f5334f9342f5
      iscommand: false
      name: Which indicators would you like to block?
      type: collection
      version: -1
    taskid: 0d20c35f-5bdf-4b27-8b63-f5334f9342f5
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 550
        }
      }
  "20":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoBlockIndicators
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the AutoBlockIndicators input is set to 'True'
      id: 8a156613-e43b-4bf2-857c-159220291b3b
      iscommand: false
      name: Block Indicators Automatically?
      type: condition
      version: -1
    taskid: 8a156613-e43b-4bf2-857c-159220291b3b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 380
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: errorPath
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "29"
      '#none#':
      - "23"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      key:
        simple: IndicatorsToBlock
      value:
        complex:
          accessor: "0"
          root: Which indicators would you like to block?.Answers
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Which indicators would you like to block?.Answers.1
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: Which indicators would you like to block?.Answers.2
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: Which indicators would you like to block?.Answers.3
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: Which indicators would you like to block?.Answers.4
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: Which indicators would you like to block?.Answers.5
            operator: append
          - operator: uniq
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No indicators to block
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7a237970-c68f-4a7d-9c8c-41cf65cb611b
      iscommand: false
      name: Set indicators to block - Manual
      script: Set
      type: regular
      version: -1
    taskid: 7a237970-c68f-4a7d-9c8c-41cf65cb611b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 720
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: errorPath
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "29"
      '#none#':
      - "23"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      key:
        simple: IndicatorsToBlock
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.URL
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.Username
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.MD5
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.SHA256
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.EmailToBlock
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.DomainToBlock
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: inputs.FilesToBlock
            operator: append
          - operator: uniq
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No indicators to block
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 602f76f6-12ce-420f-b62e-4e9b92c0bdc8
      iscommand: false
      name: Set indicators to block - Auto
      script: Set
      type: regular
      version: -1
    taskid: 602f76f6-12ce-420f-b62e-4e9b92c0bdc8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2936,
          "y": 720
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: IndicatorsToBlock
          operator: isNotEqualString
          right:
            value:
              simple: No indicators to block
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are indicators to block.
      id: 92a68f14-96ed-4e6f-880f-dde5980b1fc2
      iscommand: false
      name: Has indicators to block?
      type: condition
      version: -1
    taskid: 92a68f14-96ed-4e6f-880f-dde5980b1fc2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 626.25,
          "y": 890
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Tag
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a tag for blocked indicators was specified.
      id: ee795eae-1fc0-4458-864b-91b2f224db89
      iscommand: false
      name: Tag received from inputs?
      type: condition
      version: -1
    taskid: ee795eae-1fc0-4458-864b-91b2f224db89
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1252.5,
          "y": 1550
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IP
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.URL
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.Username
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.MD5
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.SHA256
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilesToBlock
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.DomainToBlock
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.EmailToBlock
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Looks for available indicators to process
      id: 4b64da5f-53b9-4fdd-8e65-5a133c6700d6
      iscommand: false
      name: Are there indicators to block?
      type: condition
      version: -1
    taskid: 4b64da5f-53b9-4fdd-8e65-5a133c6700d6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1733.5,
          "y": 210
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0a6c388-3821-4ad0-8720-6660caa31997
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f0a6c388-3821-4ad0-8720-6660caa31997
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1974,
          "y": 385
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e3d9bba2-1008-425b-80ef-665efd6006eb
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: e3d9bba2-1008-425b-80ef-665efd6006eb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2936,
          "y": 1890
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 16db567c-9b09-4b62-8964-a0015d02ddcf
      iscommand: false
      name: SOC Block Email - Generic v2
      playbookId: 'SOC Block Email - Generic v2'
      type: playbook
      version: -1
    taskid: 16db567c-9b09-4b62-8964-a0015d02ddcf
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1220
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4b1be7e4-bfe7-418f-8306-6014e3a211cc
      iscommand: false
      name: SOC Block Domain - Generic v2
      playbookId: 'SOC Block Domain - Generic v2'
      type: playbook
      version: -1
    taskid: 4b1be7e4-bfe7-418f-8306-6014e3a211cc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 531,
          "y": 1220
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 50534538-7551-415d-8f36-61f5b30784e0
      iscommand: false
      name: SOC Block URL - Generic v2
      playbookId: 'SOC Block URL - Generic v2'
      type: playbook
      version: -1
    taskid: 50534538-7551-415d-8f36-61f5b30784e0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1012,
          "y": 1220
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 25f781ac-21ba-460e-8970-e878c304baaa
      iscommand: false
      name: SOC Block Account - Generic v2
      playbookId: 'SOC Block Account - Generic v2'
      type: playbook
      version: -1
    taskid: 25f781ac-21ba-460e-8970-e878c304baaa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1493,
          "y": 1220
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 8a610129-261b-49be-8d30-28d1db6053a8
      iscommand: false
      name: SOC Block IP - Generic v3
      playbookId: 'SOC Block IP - Generic v3'
      type: playbook
      version: -1
    taskid: 8a610129-261b-49be-8d30-28d1db6053a8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1974,
          "y": 1220
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7d96fddd-ea29-44a5-8f5d-d99c20d2908f
      iscommand: false
      name: SOC Block File - Generic v2
      playbookId: 'SOC Block File - Generic v2'
      type: playbook
      version: -1
    taskid: 7d96fddd-ea29-44a5-8f5d-d99c20d2908f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2455,
          "y": 1220
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "27_20_yes": 0.4
    },
    "paper": {
      "dimensions": {
        "height": 2070,
        "width": 3267,
        "x": 50,
        "y": 50
      }
    }
  }
