SOC_Containment_Plan_-_Quarantine_File.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 2.6.55
    packID: ""
    packName: Common Playbooks
    prevname: ""
    toServerVersion: ""
description: |-
  ## Containment Plan - Quarantine File

  This playbook is a sub-playbook within the containment plan playbook.
  The playbook quarantines files using core commands.
id: 'SOC Containment Plan - Quarantine File'
inputs:
- description: Set to 'True' to quarantine the identified file.
  key: FileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and will execute only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: The path of the file to block.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The file hash to block.
  key: FileHash
  playbookInputQuery: null
  required: false
  value: {}
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to execute containment plan automatically.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Containment Plan - Quarantine File
outputs:
- contextPath: QuarantinedFilesFromEndpoints
  description: The quarantined files from endpoint.
  type: unknown
sourceplaybookid: Containment Plan - Quarantine File
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c4f76b8-840e-49d6-83ea-28853fed1128
      iscommand: false
      name: ""
      version: -1
    taskid: 0c4f76b8-840e-49d6-83ea-28853fed1128
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 397f4b57-3b4f-40ed-8871-59fb281d5a77
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 397f4b57-3b4f-40ed-8871-59fb281d5a77
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1793,
          "y": 2080
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: errorPath
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        complex:
          root: inputs.EndpointID
      file_hash:
        complex:
          accessor: initiatorsha256
          root: foundIncidents.CustomFields
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FileHash
            operator: SetIfEmpty
      file_path:
        complex:
          accessor: initiatorpath
          root: foundIncidents.CustomFields
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FilePath
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves the quarantine status for a selected file.
      id: de8e8f82-f9f5-44d9-bc04-dd5ca5e82bb9
      iscommand: true
      name: Get file quarantine status
      script: '|||core-get-quarantine-status'
      type: regular
      version: -1
    taskid: de8e8f82-f9f5-44d9-bc04-dd5ca5e82bb9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: errorPath
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
      file_hash:
        complex:
          accessor: initiatorsha256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FileHash
            operator: SetIfEmpty
      file_path:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: foundIncidents.CustomFields.initiatorpath
              operator: isNotEqualString
              right:
                value:
                  simple: c:\windows\explorer.exe
          root: foundIncidents.CustomFields.initiatorpath
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FilePath
            operator: SetIfEmpty
      interval_in_seconds:
        simple: "20"
      timeout_in_seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Quarantines a file on selected endpoints. You can select up to
        1000 endpoints.
      id: e67ccd83-f9ae-4948-b8dc-c39b38b69c82
      iscommand: true
      name: File quarantine
      script: '|||core-quarantine-files'
      type: regular
      version: -1
    taskid: e67ccd83-f9ae-4948-b8dc-c39b38b69c82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 390.5,
          "y": 1230
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: errorPath
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: QuarantinedFilesFromEndpoints
      value:
        complex:
          accessor: actionIds
          root: Core.quarantineFiles
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: d0ed4c45-d94e-45f1-9c69-b0b1800a7d3a
      iscommand: true
      name: Set quarantine files per endpoints to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: d0ed4c45-d94e-45f1-9c69-b0b1800a7d3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2324,
          "y": 1740
        }
      }
  "13":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.FileContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.FileRemediation
          operator: isEqualString
          right:
            value:
              simple: Quarantine
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: status
                root: Core.quarantineFiles.status
          operator: isEqualString
          right:
            value:
              simple: "False"
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "8"
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to quarantine the files based on the input values and the
        alert context.
      id: 1208d3af-a6d7-4126-86f2-1c84f8659895
      iscommand: false
      name: Should quarantine file?
      type: condition
      version: -1
    taskid: 1208d3af-a6d7-4126-86f2-1c84f8659895
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 890
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: status
                root: Core.GetActionStatus
          operator: isNotEqualString
          right:
            value:
              simple: FAILED
      - - left:
            iscontext: true
            value:
              complex:
                accessor: status
                root: Core.GetActionStatus
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the quarantining of the file was successful.
      id: 410c04ef-0afc-4578-8b1b-b1a3de96debf
      iscommand: false
      name: Was the file quarantined?
      type: condition
      version: -1
    taskid: 410c04ef-0afc-4578-8b1b-b1a3de96debf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1943,
          "y": 1400
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: errorPath
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: QuarantinedFilesFromEndpoints
      value:
        complex:
          accessor: actionIds
          root: Core.quarantineFiles
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: Set a value in context under the key you entered.
      id: b2ac49f8-0a97-4d0b-acfa-b88202ee8735
      iscommand: false
      name: Set quarantine files to the context
      script: Set
      type: regular
      version: -1
    taskid: b2ac49f8-0a97-4d0b-acfa-b88202ee8735
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2178.75,
          "y": 1570
        }
      }
  "17":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileHash
          operator: isNotEmpty
      label: Auto
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
          operator: isNotEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileHash
          operator: isNotEmpty
      label: Manual
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      Auto:
      - "7"
      Manual:
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to isolate the device automatically based on the input
        values.
      id: fd83526a-3995-475b-8ea6-60233a3f1636
      iscommand: false
      name: Should isolate automatically?
      type: condition
      version: -1
    taskid: fd83526a-3995-475b-8ea6-60233a3f1636
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 210
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: errorPath
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        complex:
          root: inputs.EndpointID
      file_hash:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: FileHash
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          root: FileHash
      file_path:
        complex:
          root: FilePath
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves the quarantine status for a selected file.
      id: 5075480b-23d3-4449-bd25-2dd001efaaf6
      iscommand: true
      name: Get file quarantine status
      script: '|||core-get-quarantine-status'
      type: regular
      version: -1
    taskid: 5075480b-23d3-4449-bd25-2dd001efaaf6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3100.25,
          "y": 720
        }
      }
  "19":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.FileContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.FileRemediation
          operator: isEqualString
          right:
            value:
              simple: Quarantine
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: status
                root: Core.quarantineFiles.status
          operator: isEqualString
          right:
            value:
              simple: "False"
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to quarantine the files based on the input values and the
        alert context.
      id: a04c8ae8-b9a2-4a06-8d64-8463dd6582d9
      iscommand: false
      name: Should quarantine file?
      type: condition
      version: -1
    taskid: a04c8ae8-b9a2-4a06-8d64-8463dd6582d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3195.5,
          "y": 890
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: errorPath
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
      file_hash:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: FileHash
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          root: FileHash
      file_path:
        complex:
          root: FilePath
      interval_in_seconds:
        simple: "20"
      timeout_in_seconds:
        simple: "120"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Quarantines a file on selected endpoints. You can select up to
        1000 endpoints.
      id: d3159c67-71ba-49a8-ab04-f46833123c88
      iscommand: true
      name: File quarantine
      script: '|||core-quarantine-files'
      type: regular
      version: -1
    taskid: d3159c67-71ba-49a8-ab04-f46833123c88
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3581.25,
          "y": 1230
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: errorPath
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilePath
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: Path\":\"(.+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No value
            operator: SetIfEmpty
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: \
              toReplace:
                value:
                  simple: \\
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5d04380a-60b9-4694-9f0c-962a416ebdac
      iscommand: false
      name: Set file path to quarantine
      script: Set
      type: regular
      version: -1
    taskid: 5d04380a-60b9-4694-9f0c-962a416ebdac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2374,
          "y": 380
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: errorPath
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "27"
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileHash
      value:
        complex:
          root: inputs.FileHash
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: Hash\":\"(.+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No value
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: aade28fe-514e-40f5-8ffa-aa962f0cacb5
      iscommand: false
      name: Set file hash to quarantine
      script: Set
      type: regular
      version: -1
    taskid: aade28fe-514e-40f5-8ffa-aa962f0cacb5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2519.25,
          "y": 550
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Dear Analyst,

        The playbook was unable to quarantine the file due to the following possible reasons:

        - The file is not located on the local host.
        - The endpoint is currently disconnected.

        Please take manual action to quarantine the file.
      id: 942487c5-0c60-4be2-aa56-4c85d6718a0f
      iscommand: false
      name: Manual action needed – file couldn't be quarantined
      type: regular
      version: -1
    taskid: 942487c5-0c60-4be2-aa56-4c85d6718a0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1171.5,
          "y": 1910
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 87899c28-ba4d-4eba-836e-c35baf65277f
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 87899c28-ba4d-4eba-836e-c35baf65277f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1652.5,
          "y": 1910
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "no":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e74d0059-b9e8-4ba8-aa0d-6358093eb37c
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: e74d0059-b9e8-4ba8-aa0d-6358093eb37c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 821.5,
          "y": 1060
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Cortex File Quarantine
          Command: core-quarantine-files
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: ac73e762-e9cf-4b37-b90b-66e23813588e
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: ac73e762-e9cf-4b37-b90b-66e23813588e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 871.5,
          "y": 1230
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      "no":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c788307f-1ed2-40a6-868a-41f6c0026910
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: c788307f-1ed2-40a6-868a-41f6c0026910
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3340.75,
          "y": 1060
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Cortex File Quarantine
          Command: core-quarantine-files
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: d6f01fb0-8cb5-4c01-8f47-725ae0f81fd8
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: d6f01fb0-8cb5-4c01-8f47-725ae0f81fd8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3100.25,
          "y": 1230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_2_#default#": 0.89,
      "13_8_yes": 0.41,
      "15_16_yes": 0.6,
      "17_23_Manual": 0.42,
      "17_2_#default#": 0.12,
      "19_2_#default#": 0.15,
      "19_30_yes": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 2090,
        "width": 3912.25,
        "x": 50,
        "y": 50
      }
    }
  }
