Playbooks/SOC_Endpoint_Enrichment_-_Generic_v2.1.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    isoverridable: false
    itemVersion: 2.7.16
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    supportedModules:
    - X1
    - X3
    - X5
    - ENT_PLUS
    - agentix
    toServerVersion: ""
description: |-
  Enrich an endpoint by hostname using one or more integrations.
  Supported integrations:
  - Active Directory Query v2
  - McAfee ePO v2
  - VMware Carbon Black EDR v2
  - Cylance Protect v2
  - CrowdStrike Falcon
  - ExtraHop Reveal(x)
  - Cortex XDR / Core (endpoint enrichment, reputation and risk)
  - Endpoint reputation using !endpoint command.
dirtyInputs: true
id: 'SOC Endpoint Enrichment - Generic v2.1'
inputSections:
- description: Generic group for inputs
  inputs:
  - Hostname
  - UseReputationCommand
  - IPAddress
  - EndpointID
  name: General (Inputs group)
inputs:
- description: The hostname of the endpoint to enrich.
  key: Hostname
  playbookInputQuery:
  required: false
  value:
    complex:
      accessor: Hostname
      root: Endpoint
      transformers:
      - operator: uniq
- description: |-
    Define if you would like to use the !endpoint command.
    Note: This input should be used whenever there is no auto-extract enabled in the investigation flow.
    Possible values: True / False.
  key: UseReputationCommand
  playbookInputQuery:
  required: true
  value:
    simple: "False"
- description: The IP address of the endpoint to enrich.
  key: IPAddress
  playbookInputQuery:
  required: false
  value:
    complex:
      accessor: IPAddress
      root: Endpoint
      transformers:
      - operator: uniq
- description: The endpoint ID of the endpoint to enrich.
  key: EndpointID
  playbookInputQuery:
  required: false
  value:
    complex:
      accessor: ID
      root: Endpoint
      transformers:
      - operator: uniq
name: SOC Endpoint Enrichment - Generic v2.1
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - Endpoint
  - Endpoint.Hostname
  - Endpoint.OS
  - Endpoint.IP
  - Endpoint.MAC
  - Endpoint.Domain
  - CylanceProtectDevice
  - ExtraHop.Device.Macaddr
  - ExtraHop.Device.DeviceClass
  - ExtraHop.Device.UserModTime
  - ExtraHop.Device.AutoRole
  - ExtraHop.Device.ParentId
  - ExtraHop.Device.Vendor
  - ExtraHop.Device.Analysis
  - ExtraHop.Device.DiscoveryId
  - ExtraHop.Device.DefaultName
  - ExtraHop.Device.DisplayName
  - ExtraHop.Device.OnWatchlist
  - ExtraHop.Device.ModTime
  - ExtraHop.Device.IsL3
  - ExtraHop.Device.Role
  - ExtraHop.Device.DiscoverTime
  - ExtraHop.Device.Id
  - ExtraHop.Device.Ipaddr4
  - ExtraHop.Device.Vlanid
  - ExtraHop.Device.Ipaddr6
  - ExtraHop.Device.NodeId
  - ExtraHop.Device.Description
  - ExtraHop.Device.DnsName
  - ExtraHop.Device.DhcpName
  - ExtraHop.Device.CdpName
  - ExtraHop.Device.NetbiosName
  - ExtraHop.Device.Url
  - Endpoint.IPAddress
  - Endpoint.ID
  - Endpoint.Status
  - Endpoint.IsIsolated
  - Endpoint.MACAddress
  - Endpoint.Vendor
  - Endpoint.Relationships
  - Endpoint.Processor
  - Endpoint.Processors
  - Endpoint.Memory
  - Endpoint.Model
  - Endpoint.BIOSVersion
  - Endpoint.OSVersion
  - Endpoint.DHCPServer
  - McAfee.ePO.Endpoint
  - Endpoint.Groups
  - ActiveDirectory.ComputersPageCookie
  - ActiveDirectory.Computers.dn
  - ActiveDirectory.Computers.memberOf
  - ActiveDirectory.Computers.name
  - CrowdStrike.Device
  - ActiveDirectory.Computers
  - CarbonBlackEDR.Sensor.systemvolume_total_size
  - CarbonBlackEDR.Sensor.emet_telemetry_path
  - CarbonBlackEDR.Sensor.os_environment_display_string
  - CarbonBlackEDR.Sensor.emet_version
  - CarbonBlackEDR.Sensor.emet_dump_flags
  - CarbonBlackEDR.Sensor.clock_delta
  - CarbonBlackEDR.Sensor.supports_cblr
  - CarbonBlackEDR.Sensor.sensor_uptime
  - CarbonBlackEDR.Sensor.last_update
  - CarbonBlackEDR.Sensor.physical_memory_size
  - CarbonBlackEDR.Sensor.build_id
  - CarbonBlackEDR.Sensor.uptime
  - CarbonBlackEDR.Sensor.is_isolating
  - CarbonBlackEDR.Sensor.event_log_flush_time
  - CarbonBlackEDR.Sensor.computer_dns_name
  - CarbonBlackEDR.Sensor.emet_report_setting
  - CarbonBlackEDR.Sensor.id
  - CarbonBlackEDR.Sensor.emet_process_count
  - CarbonBlackEDR.Sensor.emet_is_gpo
  - CarbonBlackEDR.Sensor.power_state
  - CarbonBlackEDR.Sensor.network_isolation_enabled
  - CarbonBlackEDR.Sensor.systemvolume_free_size
  - CarbonBlackEDR.Sensor.status
  - CarbonBlackEDR.Sensor.num_eventlog_bytes
  - CarbonBlackEDR.Sensor.sensor_health_message
  - CarbonBlackEDR.Sensor.build_version_string
  - CarbonBlackEDR.Sensor.computer_sid
  - CarbonBlackEDR.Sensor.next_checkin_time
  - CarbonBlackEDR.Sensor.node_id
  - CarbonBlackEDR.Sensor.cookie
  - CarbonBlackEDR.Sensor.emet_exploit_action
  - CarbonBlackEDR.Sensor.computer_name
  - CarbonBlackEDR.Sensor.license_expiration
  - CarbonBlackEDR.Sensor.supports_isolation
  - CarbonBlackEDR.Sensor.parity_host_id
  - CarbonBlackEDR.Sensor.supports_2nd_gen_modloads
  - CarbonBlackEDR.Sensor.network_adapters
  - CarbonBlackEDR.Sensor.sensor_health_status
  - CarbonBlackEDR.Sensor.registration_time
  - CarbonBlackEDR.Sensor.restart_queued
  - CarbonBlackEDR.Sensor.notes
  - CarbonBlackEDR.Sensor.num_storefiles_bytes
  - CarbonBlackEDR.Sensor.os_environment_id
  - CarbonBlackEDR.Sensor.shard_id
  - CarbonBlackEDR.Sensor.boot_id
  - CarbonBlackEDR.Sensor.last_checkin_time
  - CarbonBlackEDR.Sensor.os_type
  - CarbonBlackEDR.Sensor.group_id
  - CarbonBlackEDR.Sensor.uninstall
  - PaloAltoNetworksXDR.Endpoint
  - PaloAltoNetworksXDR.Endpoint.endpoint_id
  - PaloAltoNetworksXDR.Endpoint.endpoint_name
  - PaloAltoNetworksXDR.Endpoint.endpoint_type
  - PaloAltoNetworksXDR.Endpoint.endpoint_status
  - PaloAltoNetworksXDR.Endpoint.os_type
  - PaloAltoNetworksXDR.Endpoint.ip
  - PaloAltoNetworksXDR.Endpoint.users
  - PaloAltoNetworksXDR.Endpoint.domain
  - PaloAltoNetworksXDR.Endpoint.alias
  - PaloAltoNetworksXDR.Endpoint.first_seen
  - PaloAltoNetworksXDR.Endpoint.last_seen
  - PaloAltoNetworksXDR.Endpoint.content_version
  - PaloAltoNetworksXDR.Endpoint.installation_package
  - PaloAltoNetworksXDR.Endpoint.active_directory
  - PaloAltoNetworksXDR.Endpoint.install_date
  - PaloAltoNetworksXDR.Endpoint.endpoint_version
  - PaloAltoNetworksXDR.Endpoint.is_isolated
  - PaloAltoNetworksXDR.Endpoint.group_name
  - PaloAltoNetworksXDR.Endpoint.count
  - Account
  - Account.Username
  - Account.Domain
  - PaloAltoNetworksXDR.RiskyHost
  - PaloAltoNetworksXDR.RiskyHost.type
  - PaloAltoNetworksXDR.RiskyHost.id
  - PaloAltoNetworksXDR.RiskyHost.score
  - PaloAltoNetworksXDR.RiskyHost.reasons
  - PaloAltoNetworksXDR.RiskyHost.reasons.date created
  - PaloAltoNetworksXDR.RiskyHost.reasons.description
  - PaloAltoNetworksXDR.RiskyHost.reasons.severity
  - PaloAltoNetworksXDR.RiskyHost.reasons.status
  - PaloAltoNetworksXDR.RiskyHost.reasons.points
  - Core.Endpoint
  - Core.Endpoint.endpoint_id
  - Core.Endpoint.endpoint_name
  - Core.Endpoint.endpoint_type
  - Core.Endpoint.endpoint_status
  - Core.Endpoint.os_type
  - Core.Endpoint.ip
  - Core.Endpoint.users
  - Core.Endpoint.domain
  - Core.Endpoint.alias
  - Core.Endpoint.first_seen
  - Core.Endpoint.last_seen
  - Core.Endpoint.content_version
  - Core.Endpoint.installation_package
  - Core.Endpoint.active_directory
  - Core.Endpoint.install_date
  - Core.Endpoint.endpoint_version
  - Core.Endpoint.is_isolated
  - Core.Endpoint.group_name
  - Core.RiskyHost
  - Core.RiskyHost.type
  - Core.RiskyHost.id
  - Core.RiskyHost.score
  - Core.RiskyHost.reasons
  - Core.RiskyHost.reasons.date created
  - Core.RiskyHost.reasons.description
  - Core.RiskyHost.reasons.severity
  - Core.RiskyHost.reasons.status
  - Core.RiskyHost.reasons.points
  - McAfee.ePO.Endpoint.ParentID
  - McAfee.ePO.Endpoint.ComputerName
  - McAfee.ePO.Endpoint.Description
  - McAfee.ePO.Endpoint.SystemDescription
  - McAfee.ePO.Endpoint.TimeZone
  - McAfee.ePO.Endpoint.DefaultLangID
  - McAfee.ePO.Endpoint.UserName
  - McAfee.ePO.Endpoint.Domain
  - McAfee.ePO.Endpoint.Hostname
  - McAfee.ePO.Endpoint.IPV6
  - McAfee.ePO.Endpoint.IPAddress
  - McAfee.ePO.Endpoint.IPSubnet
  - McAfee.ePO.Endpoint.IPSubnetMask
  - McAfee.ePO.Endpoint.IPV4x
  - McAfee.ePO.Endpoint.IPXAddress
  - McAfee.ePO.Endpoint.SubnetAddress
  - McAfee.ePO.Endpoint.SubnetMask
  - McAfee.ePO.Endpoint.NetAddress
  - McAfee.ePO.Endpoint.OSType
  - McAfee.ePO.Endpoint.OSVersion
  - McAfee.ePO.Endpoint.OSServicePackVer
  - McAfee.ePO.Endpoint.OSBuildNum
  - McAfee.ePO.Endpoint.OSPlatform
  - McAfee.ePO.Endpoint.OSOEMID
  - McAfee.ePO.Endpoint.Processor
  - McAfee.ePO.Endpoint.CPUSpeed
  - McAfee.ePO.Endpoint.Processors
  - McAfee.ePO.Endpoint.CPUSerialNum
  - McAfee.ePO.Endpoint.Memory
  - McAfee.ePO.Endpoint.FreeMemory
  - McAfee.ePO.Endpoint.FreeDiskSpace
  - McAfee.ePO.Endpoint.TotalDiskSpace
  - McAfee.ePO.Endpoint.UserProperty1
  - McAfee.ePO.Endpoint.UserProperty2
  - McAfee.ePO.Endpoint.UserProperty3
  - McAfee.ePO.Endpoint.UserProperty4
  - McAfee.ePO.Endpoint.SysvolFreeSpace
  - McAfee.ePO.Endpoint.SysvolTotalSpace
  - McAfee.ePO.Endpoint.Tags
  - McAfee.ePO.Endpoint.ExcludedTags
  - McAfee.ePO.Endpoint.LastUpdate
  - McAfee.ePO.Endpoint.ManagedState
  - McAfee.ePO.Endpoint.AgentGUID
  - McAfee.ePO.Endpoint.AgentVersion
  - McAfee.ePO.Endpoint.AutoID
  - CrowdStrike.Device.ID
  - CrowdStrike.Device.LocalIP
  - CrowdStrike.Device.ExternalIP
  - CrowdStrike.Device.Hostname
  - CrowdStrike.Device.OS
  - CrowdStrike.Device.MacAddress
  - CrowdStrike.Device.FirstSeen
  - CrowdStrike.Device.LastSeen
  - CrowdStrike.Device.PolicyType
  - CrowdStrike.Device.Status
outputs:
- contextPath: Endpoint
  description: The endpoint object of the endpoint that was enriched.
  type: string
- contextPath: Endpoint.Hostname
  description: The hostnames of the endpoints that were enriched.
  type: string
- contextPath: Endpoint.OS
  description: The operating systems running on the endpoints that were enriched.
  type: string
- contextPath: Endpoint.IP
  description: A list of the IP addresses of the endpoints.
  type: string
- contextPath: Endpoint.MAC
  description: A list of the MAC addresses of the endpoints that were enriched.
  type: string
- contextPath: Endpoint.Domain
  description: The domain names of the endpoints that were enriched.
  type: string
- contextPath: CylanceProtectDevice
  description: The device information about the hostname that was enriched using Cylance
    Protect v2.
  type: string
- contextPath: ExtraHop.Device.Macaddr
  description: The MAC Address of the device.
  type: String
- contextPath: ExtraHop.Device.DeviceClass
  description: The class of the device.
  type: String
- contextPath: ExtraHop.Device.UserModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.AutoRole
  description: The role automatically detected by the ExtraHop.
  type: String
- contextPath: ExtraHop.Device.ParentId
  description: The ID of the parent device.
  type: Number
- contextPath: ExtraHop.Device.Vendor
  description: The device vendor.
  type: String
- contextPath: ExtraHop.Device.Analysis
  description: The level of analysis preformed on the device.
  type: string
- contextPath: ExtraHop.Device.DiscoveryId
  description: The UUID given by the Discover appliance.
  type: String
- contextPath: ExtraHop.Device.DefaultName
  description: The default name of the device.
  type: String
- contextPath: ExtraHop.Device.DisplayName
  description: The display name of device.
  type: String
- contextPath: ExtraHop.Device.OnWatchlist
  description: Whether the device is on the advanced analysis allow list.
  type: Boolean
- contextPath: ExtraHop.Device.ModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.IsL3
  description: Indicates whether the device is a Layer 3 device.
  type: Boolean
- contextPath: ExtraHop.Device.Role
  description: The role of the device.
  type: String
- contextPath: ExtraHop.Device.DiscoverTime
  description: The time that the device was discovered.
  type: Number
- contextPath: ExtraHop.Device.Id
  description: The ID of the device.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr4
  description: The IPv4 address of the device.
  type: String
- contextPath: ExtraHop.Device.Vlanid
  description: The ID of VLan.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr6
  description: The IPv6 address of the device.
  type: string
- contextPath: ExtraHop.Device.NodeId
  description: The Node ID of the Discover appliance.
  type: number
- contextPath: ExtraHop.Device.Description
  description: A user customizable description of the device.
  type: string
- contextPath: ExtraHop.Device.DnsName
  description: The DNS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.DhcpName
  description: The DHCP name associated with the device.
  type: string
- contextPath: ExtraHop.Device.CdpName
  description: The Cisco Discovery Protocol name associated with the device.
  type: string
- contextPath: ExtraHop.Device.NetbiosName
  description: The NetBIOS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.Url
  description: Link to the device details page in ExtraHop.
  type: string
- contextPath: Endpoint.IPAddress
  description: The endpoint IP address or list of IP addresses.
  type: string
- contextPath: Endpoint.ID
  description: The endpoint ID.
  type: string
- contextPath: Endpoint.Status
  description: The endpoint status.
  type: string
- contextPath: Endpoint.IsIsolated
  description: The endpoint isolation status.
  type: string
- contextPath: Endpoint.MACAddress
  description: The endpoint MAC address.
  type: string
- contextPath: Endpoint.Vendor
  description: The integration name of the endpoint vendor.
  type: string
- contextPath: Endpoint.Relationships
  description: The endpoint relationships of the endpoint that was enriched.
  type: string
- contextPath: Endpoint.Processor
  description: The model of the processor.
  type: string
- contextPath: Endpoint.Processors
  description: The number of processors.
  type: string
- contextPath: Endpoint.Memory
  description: Memory on this endpoint.
  type: string
- contextPath: Endpoint.Model
  description: The model of the machine or device.
  type: string
- contextPath: Endpoint.BIOSVersion
  description: The endpoint's BIOS version.
  type: string
- contextPath: Endpoint.OSVersion
  description: The endpoint's operation system version.
  type: string
- contextPath: Endpoint.DHCPServer
  description: The DHCP server of the endpoint.
  type: string
- contextPath: McAfee.ePO.Endpoint
  description: The endpoint that was enriched.
  type: string
- contextPath: Endpoint.Groups
  description: Groups for which the computer is listed as a member.
  type: string
- contextPath: ActiveDirectory.ComputersPageCookie
  description: An opaque string received in a paged search, used for requesting subsequent
    entries.
  type: string
- contextPath: ActiveDirectory.Computers.dn
  description: The computer distinguished name.
  type: string
- contextPath: ActiveDirectory.Computers.memberOf
  description: Groups for which the computer is listed.
  type: string
- contextPath: ActiveDirectory.Computers.name
  description: The computer name.
  type: string
- contextPath: CrowdStrike.Device
  description: The information about  the endpoint.
  type: string
- contextPath: ActiveDirectory.Computers
  description: The information about the hostname that was enriched using Active Directory.
  type: string
- contextPath: CarbonBlackEDR.Sensor.systemvolume_total_size
  description: The size, in bytes, of the system volume of the endpoint on which the
    sensor is installed. installed.
  type: number
- contextPath: CarbonBlackEDR.Sensor.emet_telemetry_path
  description: The path of the EMET telemetry associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.os_environment_display_string
  description: Human-readable string of the installed OS.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_version
  description: The EMET version associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_dump_flags
  description: The flags of the EMET dump associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.clock_delta
  description: The clock delta associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_cblr
  description: Whether the sensor supports Carbon Black Live Response (CbLR).
  type: string
- contextPath: CarbonBlackEDR.Sensor.sensor_uptime
  description: The uptime of the process.
  type: string
- contextPath: CarbonBlackEDR.Sensor.last_update
  description: When the sensor was last updated.
  type: string
- contextPath: CarbonBlackEDR.Sensor.physical_memory_size
  description: The size in bytes of physical memory.
  type: number
- contextPath: CarbonBlackEDR.Sensor.build_id
  description: The sensor version installed on this endpoint. From the /api/builds/
    endpoint.
  type: string
- contextPath: CarbonBlackEDR.Sensor.uptime
  description: Endpoint uptime in seconds.
  type: string
- contextPath: CarbonBlackEDR.Sensor.is_isolating
  description: Boolean representing sensor-reported isolation status.
  type: boolean
- contextPath: CarbonBlackEDR.Sensor.event_log_flush_time
  description: |-
    If event_log_flush_time is set, the server will instruct the sensor to immediately
    send all data before this date, ignoring all other throttling mechanisms.
    To force a host current, set this value to a value far in the future.
    When the sensor has finished sending its queued data, this value will be null.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_dns_name
  description: The DNS name of the endpoint on which the sensor is installed.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_report_setting
  description: The report setting of the EMET associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.id
  description: The ID of this sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_process_count
  description: The number of EMET processes associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_is_gpo
  description: Whether the EMET is a GPO.
  type: string
- contextPath: CarbonBlackEDR.Sensor.power_state
  description: The sensor power state.
  type: string
- contextPath: CarbonBlackEDR.Sensor.network_isolation_enabled
  description: Boolean representing the network isolation request status.
  type: boolean
- contextPath: CarbonBlackEDR.Sensor.systemvolume_free_size
  description: The amount of free bytes on the system volume.
  type: string
- contextPath: CarbonBlackEDR.Sensor.status
  description: The sensor status.
  type: string
- contextPath: CarbonBlackEDR.Sensor.num_eventlog_bytes
  description: The number of event log bytes.
  type: number
- contextPath: CarbonBlackEDR.Sensor.sensor_health_message
  description: Human-readable string indicating the sensor’s self-reported status.
  type: string
- contextPath: CarbonBlackEDR.Sensor.build_version_string
  description: Human-readable string of the sensor version.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_sid
  description: Machine SID of this host.
  type: string
- contextPath: CarbonBlackEDR.Sensor.next_checkin_time
  description: Next expected communication from this computer in server-local time
    and zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.node_id
  description: The node ID associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.cookie
  description: The cookie associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_exploit_action
  description: The EMET exploit action associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_name
  description: NetBIOS name of this computer.
  type: string
- contextPath: CarbonBlackEDR.Sensor.license_expiration
  description: When the license of the sensor expires.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_isolation
  description: Whether the sensor supports isolation.
  type: string
- contextPath: CarbonBlackEDR.Sensor.parity_host_id
  description: The ID of the parity host associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_2nd_gen_modloads
  description: Whether the sensor support modload of 2nd generation.
  type: string
- contextPath: CarbonBlackEDR.Sensor.network_adapters
  description: A pipe-delimited list of IP,MAC pairs for each network interface.
  type: string
- contextPath: CarbonBlackEDR.Sensor.sensor_health_status
  description: Self-reported health score, from 0 to 100. Higher numbers indicate
    a better health status.
  type: string
- contextPath: CarbonBlackEDR.Sensor.registration_time
  description: Time this sensor was originally registered in server-local time and
    zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.restart_queued
  description: Whether a restart of the sensor is queued.
  type: string
- contextPath: CarbonBlackEDR.Sensor.notes
  description: The notes associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.num_storefiles_bytes
  description: Number of storefiles bytes associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.os_environment_id
  description: The ID of the OS environment of the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.shard_id
  description: The ID of the shard associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.boot_id
  description: A sequential counter of boots since the sensor was installed.
  type: string
- contextPath: CarbonBlackEDR.Sensor.last_checkin_time
  description: Last communication with this computer in server-local time and zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.os_type
  description: The operating system type of the computer.
  type: string
- contextPath: CarbonBlackEDR.Sensor.group_id
  description: The sensor group ID this sensor is assigned to.
  type: string
- contextPath: CarbonBlackEDR.Sensor.uninstall
  description: When set, indicates that the sensor will be directed to uninstall on
    next check-in.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint
  description: The endpoint object of the endpoint that was enriched.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_id
  description: The endpoint ID.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_name
  description: The endpoint name.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_type
  description: The endpoint type.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_status
  description: The status of the endpoint.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.os_type
  description: The endpoint OS type.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.ip
  description: A list of IP addresses.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.users
  description: A list of users.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.domain
  description: The endpoint domain.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.alias
  description: The endpoint's aliases.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.first_seen
  description: First seen date/time in Epoch (milliseconds).
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.last_seen
  description: Last seen date/time in Epoch (milliseconds).
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.content_version
  description: Content version.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.installation_package
  description: Installation package.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.active_directory
  description: Active directory.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.install_date
  description: Install date in Epoch (milliseconds).
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_version
  description: Endpoint version.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.is_isolated
  description: Whether the endpoint is isolated.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.group_name
  description: The name of the group to which the endpoint belongs.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.count
  description: Number of endpoints returned.
  type: number
- contextPath: Account
  description: The account object of the endpoint that was enriched.
  type: string
- contextPath: Account.Username
  description: The username in the relevant system.
  type: string
- contextPath: Account.Domain
  description: The domain of the account.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost
  description: The endpoint object.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.type
  description: Form of identification element.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.id
  description: Identification value of the type field.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.score
  description: The score assigned to the host.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons
  description: The endpoint risk objects.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.date created
  description: Date when the incident was created.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.description
  description: Description of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.severity
  description: The severity of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.status
  description: The incident status.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.points
  description: The score.
  type: string
- contextPath: Core.Endpoint
  description: The endpoint object.
  type: unknown
- contextPath: Core.Endpoint.endpoint_id
  description: The endpoint ID.
- contextPath: Core.Endpoint.endpoint_name
  description: The endpoint name.
- contextPath: Core.Endpoint.endpoint_type
  description: The endpoint type.
- contextPath: Core.Endpoint.endpoint_status
  description: The status of the endpoint.
- contextPath: Core.Endpoint.os_type
  description: The endpoint OS type.
- contextPath: Core.Endpoint.ip
  description: A list of IP addresses.
- contextPath: Core.Endpoint.users
  description: A list of users.
- contextPath: Core.Endpoint.domain
  description: The endpoint domain.
- contextPath: Core.Endpoint.alias
  description: The endpoint's aliases.
- contextPath: Core.Endpoint.first_seen
  description: First seen date/time in Epoch (milliseconds).
- contextPath: Core.Endpoint.last_seen
  description: Last seen date/time in Epoch (milliseconds).
- contextPath: Core.Endpoint.content_version
  description: Content version.
- contextPath: Core.Endpoint.installation_package
  description: Installation package.
- contextPath: Core.Endpoint.active_directory
  description: Active directory.
- contextPath: Core.Endpoint.install_date
  description: Install date in Epoch (milliseconds).
- contextPath: Core.Endpoint.endpoint_version
  description: Endpoint version.
- contextPath: Core.Endpoint.is_isolated
  description: Whether the endpoint is isolated.
- contextPath: Core.Endpoint.group_name
  description: The name of the group to which the endpoint belongs.
- contextPath: Core.RiskyHost
  description: The risky host object.
  type: unknown
- contextPath: Core.RiskyHost.type
  description: Form of identification element.
- contextPath: Core.RiskyHost.id
  description: Identification value of the type field.
- contextPath: Core.RiskyHost.score
  description: The score assigned to the host.
- contextPath: Core.RiskyHost.reasons
  description: The reasons for the risk level.
  type: unknown
- contextPath: Core.RiskyHost.reasons.date created
  description: Date when the incident was created.
- contextPath: Core.RiskyHost.reasons.description
  description: Description of the incident.
- contextPath: Core.RiskyHost.reasons.severity
  description: The severity of the incident.
- contextPath: Core.RiskyHost.reasons.status
  description: The incident status.
- contextPath: Core.RiskyHost.reasons.points
  description: The score.
- contextPath: McAfee.ePO.Endpoint.ParentID
  description: Endpoint parent ID.
- contextPath: McAfee.ePO.Endpoint.ComputerName
  description: Endpoint computer name.
- contextPath: McAfee.ePO.Endpoint.Description
  description: Endpoint description.
- contextPath: McAfee.ePO.Endpoint.SystemDescription
  description: Endpoint system description.
- contextPath: McAfee.ePO.Endpoint.TimeZone
  description: Endpoint time zone.
- contextPath: McAfee.ePO.Endpoint.DefaultLangID
  description: Endpoint default language ID.
- contextPath: McAfee.ePO.Endpoint.UserName
  description: Endpoint username.
- contextPath: McAfee.ePO.Endpoint.Domain
  description: Endpoint domain name.
- contextPath: McAfee.ePO.Endpoint.Hostname
  description: Endpoint IP host name.
- contextPath: McAfee.ePO.Endpoint.IPV6
  description: Endpoint IPv6 address.
- contextPath: McAfee.ePO.Endpoint.IPAddress
  description: Endpoint IP address.
- contextPath: McAfee.ePO.Endpoint.IPSubnet
  description: Endpoint IP subnet.
- contextPath: McAfee.ePO.Endpoint.IPSubnetMask
  description: Endpoint IP subnet mask.
- contextPath: McAfee.ePO.Endpoint.IPV4x
  description: Endpoint IPV4x address.
- contextPath: McAfee.ePO.Endpoint.IPXAddress
  description: Endpoint IPX address.
- contextPath: McAfee.ePO.Endpoint.SubnetAddress
  description: Endpoint subnet address.
- contextPath: McAfee.ePO.Endpoint.SubnetMask
  description: Endpoint subnet mask.
- contextPath: McAfee.ePO.Endpoint.NetAddress
  description: Endpoint net address.
- contextPath: McAfee.ePO.Endpoint.OSType
  description: Endpoint OS type.
- contextPath: McAfee.ePO.Endpoint.OSVersion
  description: Endpoint OS version.
- contextPath: McAfee.ePO.Endpoint.OSServicePackVer
  description: Endpoint OS service pack version.
- contextPath: McAfee.ePO.Endpoint.OSBuildNum
  description: Endpoint OS build number.
- contextPath: McAfee.ePO.Endpoint.OSPlatform
  description: Endpoint OS platform.
- contextPath: McAfee.ePO.Endpoint.OSOEMID
  description: Endpoint OS OEM ID.
- contextPath: McAfee.ePO.Endpoint.Processor
  description: Endpoint CPU type.
- contextPath: McAfee.ePO.Endpoint.CPUSpeed
  description: Endpoint CPU speed.
- contextPath: McAfee.ePO.Endpoint.Processors
  description: Number of CPUs in the endpoint.
- contextPath: McAfee.ePO.Endpoint.CPUSerialNum
  description: Endpoint CPU serial number.
- contextPath: McAfee.ePO.Endpoint.Memory
  description: The total amount of physical memory in the endpoint.
- contextPath: McAfee.ePO.Endpoint.FreeMemory
  description: The amount of free memory in the endpoint.
- contextPath: McAfee.ePO.Endpoint.FreeDiskSpace
  description: The amount of free disk space in the endpoint.
- contextPath: McAfee.ePO.Endpoint.TotalDiskSpace
  description: The total amount of disk space in the endpoint.
- contextPath: McAfee.ePO.Endpoint.UserProperty1
  description: Endpoint user property 1.
- contextPath: McAfee.ePO.Endpoint.UserProperty2
  description: Endpoint user property 2.
- contextPath: McAfee.ePO.Endpoint.UserProperty3
  description: Endpoint user property 3.
- contextPath: McAfee.ePO.Endpoint.UserProperty4
  description: Endpoint user property 4.
- contextPath: McAfee.ePO.Endpoint.SysvolFreeSpace
  description: The amount of system volume free space in the endpoint.
- contextPath: McAfee.ePO.Endpoint.SysvolTotalSpace
  description: The total amount of system volume space in the endpoint.
- contextPath: McAfee.ePO.Endpoint.Tags
  description: Endpoint ePO tags.
- contextPath: McAfee.ePO.Endpoint.ExcludedTags
  description: Endpoint EPO excluded tags.
- contextPath: McAfee.ePO.Endpoint.LastUpdate
  description: The date the endpoint was last updated.
- contextPath: McAfee.ePO.Endpoint.ManagedState
  description: Endpoint managed state.
- contextPath: McAfee.ePO.Endpoint.AgentGUID
  description: Endpoint agent GUID.
- contextPath: McAfee.ePO.Endpoint.AgentVersion
  description: Endpoint agent version.
- contextPath: McAfee.ePO.Endpoint.AutoID
  description: Endpoint auto ID.
- contextPath: CrowdStrike.Device.ID
  description: The ID of the device.
- contextPath: CrowdStrike.Device.LocalIP
  description: The local IP address of the device.
- contextPath: CrowdStrike.Device.ExternalIP
  description: The external IP address of the device.
- contextPath: CrowdStrike.Device.Hostname
  description: The host name of the device.
- contextPath: CrowdStrike.Device.OS
  description: The operating system of the device.
- contextPath: CrowdStrike.Device.MacAddress
  description: The MAC address of the device.
- contextPath: CrowdStrike.Device.FirstSeen
  description: The first time the device was seen.
- contextPath: CrowdStrike.Device.LastSeen
  description: The last time the device was seen.
- contextPath: CrowdStrike.Device.PolicyType
  description: The policy type of the device.
- contextPath: CrowdStrike.Device.Status
  description: The device status.
sourceplaybookid: Endpoint Enrichment - Generic v2.1
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 29bcd70f-1953-4061-84ce-4cde781ad9f7
      iscommand: false
      name: ""
      playbooktaskmissingcomponent:
      version: -1
    taskid: 29bcd70f-1953-4061-84ce-4cde781ad9f7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 80
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "18"
      - "20"
      - "30"
      - "40"
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54895e0d-9904-4e62-8f45-ebd0d17ad5c9
      iscommand: false
      name: Endpoint Products
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 54895e0d-9904-4e62-8f45-ebd0d17ad5c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 410
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Hostname
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "24"
      - "1"
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${inputs.Hostname}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is at least one endpoint to enrich (by hostname).
      id: ddba13dd-92fc-47a3-8ffe-b849c626eb22
      iscommand: false
      name: Is there an endpoint to enrich?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: ddba13dd-92fc-47a3-8ffe-b849c626eb22
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 215
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea90c16b-6985-4f28-816f-78608df3fe51
      iscommand: false
      name: Done
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: ea90c16b-6985-4f28-816f-78608df3fe51
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1115
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: containsGeneral
                    right:
                      value:
                        simple: VMware Carbon Black EDR v2
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Carbon Black Enterprise
        Response integration enabled.
      id: 9fa921fa-d196-40ba-8419-ed0c4f838ab8
      iscommand: false
      name: Is Carbon Black Enterprise Response enabled?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 9fa921fa-d196-40ba-8419-ed0c4f838ab8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 690
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      id:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      ip:
        complex:
          root: inputs.IPAddress
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: List the CarbonBlack sensors
      id: 5e114375-db3d-4267-8f4d-0a411d4bb076
      iscommand: true
      name: Get host information from Carbon Black Enterprise Response
      playbooktaskmissingcomponent:
      script: '|||cb-edr-sensors-list'
      type: regular
      version: -1
    taskid: 5e114375-db3d-4267-8f4d-0a411d4bb076
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 860
        }
      }
  "10":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: CrowdstrikeFalcon
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the CrowdStrike Falcon
        Host integration enabled.
      id: 42f088e2-cb74-485a-8318-0dae68cde0f0
      iscommand: false
      name: Is CrowdStrike Falcon enabled?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 42f088e2-cb74-485a-8318-0dae68cde0f0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 690
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d9d617d9-2efd-466e-8ce7-190f8db83b95
      iscommand: false
      name: McAfee ePolicy Orchestrator
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: d9d617d9-2efd-466e-8ce7-190f8db83b95
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 680,
          "y": 550
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6cf08862-644d-479e-89ce-f9e173a8c562
      iscommand: false
      name: Carbon Black Enterprise Response
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 6cf08862-644d-479e-89ce-f9e173a8c562
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1220,
          "y": 550
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 471d3862-a05c-42b1-871d-c1faa2fbb7a9
      iscommand: false
      name: Cylance Protect v2
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 471d3862-a05c-42b1-871d-c1faa2fbb7a9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 270,
          "y": 550
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5d371f29-3a4c-43c5-8f71-b383db2e5320
      iscommand: false
      name: CrowdStrike Falcon
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 5d371f29-3a4c-43c5-8f71-b383db2e5320
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 550
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Active Directory Query
        v2 integration enabled.
      id: f7f190b9-5a39-4d8a-83a5-77d5a023f0d4
      iscommand: false
      name: Is Active Directory Query v2 enabled?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: f7f190b9-5a39-4d8a-83a5-77d5a023f0d4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -180,
          "y": 690
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: errorPath
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      name:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves detailed information about a computer account. The computer
        can be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filters are provided, all computers are returned.
      id: 8da54a09-4c7e-4a26-a5eb-6fbe51fbf3f0
      iscommand: true
      name: Get host information from Active Directory
      playbooktaskmissingcomponent:
      script: '|||ad-get-computer'
      type: regular
      version: -1
    taskid: 8da54a09-4c7e-4a26-a5eb-6fbe51fbf3f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -370,
          "y": 860
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9706cc39-d338-44cd-8ee1-efc5ea95b04d
      iscommand: false
      name: Active Directory
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 9706cc39-d338-44cd-8ee1-efc5ea95b04d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -180,
          "y": 550
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec344482-77f7-42b5-8ee4-34317afd1179
      iscommand: false
      name: ExtraHop Reveal(x)
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: ec344482-77f7-42b5-8ee4-34317afd1179
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1760,
          "y": 550
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "32"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: brand
              operator: isEqualString
              right:
                value:
                  simple: ExtraHop v2
          - - left:
                iscontext: true
                value:
                  simple: state
              operator: isEqualString
              right:
                value:
                  simple: active
          root: modules
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the ExtraHop Reveal(x)
        integration enabled.
      id: 58c8b4be-657c-45f6-8eca-5a01da85f1f3
      iscommand: false
      name: Is ExtraHop Reveal(x) enabled?
      playbooktaskmissingcomponent:
      script: Exists
      type: condition
      version: -1
    taskid: 58c8b4be-657c-45f6-8eca-5a01da85f1f3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1760,
          "y": 690
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: errorPath
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.IPAddress
          transformers:
          - operator: uniq
      name:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ExtraHop v2
      description: Search for devices in ExtraHop Reveal(x).
      id: 03a8e3c0-2469-41ee-97c8-b0c792be32ec
      iscommand: true
      name: Get host information from ExtraHop Reveal(x)
      playbooktaskmissingcomponent:
      script: ExtraHop v2|||extrahop-devices-search
      type: regular
      version: -1
    taskid: 03a8e3c0-2469-41ee-97c8-b0c792be32ec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 860
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isExists
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isEqualString
          right:
            value:
              simple: McAfee ePO v2
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active Mcafee ePolicy Orchestrator v2 integration
        instance enabled.
      id: bf7d9316-446b-452b-843a-3e5a13b8b741
      iscommand: false
      name: is Mcafee ePolicy Orchestrator v2 enabled
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: bf7d9316-446b-452b-843a-3e5a13b8b741
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": 690
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: errorPath
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      searchText:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      verbose:
        simple: "false"
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Finds systems in the McAfee ePO system tree.
      id: 8e881985-e5e1-4aec-ac66-0cbc1186879d
      iscommand: true
      name: Get- host information from McAfee ePO v2
      playbooktaskmissingcomponent:
      script: '|||epo-find-system'
      type: regular
      version: -1
    taskid: 8e881985-e5e1-4aec-ac66-0cbc1186879d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 870,
          "y": 860
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2dbaff5-7c92-47ad-80cc-991bfd80ff98
      iscommand: false
      name: Endpoint Reputation
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: f2dbaff5-7c92-47ad-80cc-991bfd80ff98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -730,
          "y": 550
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseReputationCommand
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should run endpoint reputation command
      id: 50fed99c-1eb9-4a6f-85d0-f9d5ee74bc5a
      iscommand: false
      name: Should use !endpoint command?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 50fed99c-1eb9-4a6f-85d0-f9d5ee74bc5a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -730,
          "y": 690
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: errorPath
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      id:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      ip:
        complex:
          root: inputs.IPAddress
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Returns information about an endpoint.
      id: f8a264ea-5bb0-4a34-910b-7e0706f65f1f
      iscommand: true
      name: Check Reputation
      playbooktaskmissingcomponent:
      script: '|||endpoint'
      type: regular
      version: -1
    taskid: f8a264ea-5bb0-4a34-910b-7e0706f65f1f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -920,
          "y": 860
        }
      }
  "38":
    continueonerror: true
    continueonerrortype: errorPath
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      ids:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: CrowdstrikeFalcon
      description: Searches for a device that matches the query.
      id: f47666ba-7f37-43aa-a93f-658ca592f44f
      iscommand: true
      name: Crowdstrike Search device
      playbooktaskmissingcomponent:
      script: CrowdstrikeFalcon|||cs-falcon-search-device
      type: regular
      version: -1
    taskid: f47666ba-7f37-43aa-a93f-658ca592f44f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2480,
          "y": 860
        }
      }
  "39":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Cortex XDR - IR
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "41"
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Cortex XDR integration
        enabled.
      id: 284d5ea3-58c1-4a0f-87c4-5c395d75a65c
      iscommand: false
      name: Is Cortex XDR enabled?
      playbooktaskmissingcomponent:
      type: condition
      version: -1
    taskid: 284d5ea3-58c1-4a0f-87c4-5c395d75a65c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2840,
          "y": 690
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12dd4de8-094d-4760-8284-22e212b5b76d
      iscommand: false
      name: Cortex XDR / Core IR
      playbooktaskmissingcomponent:
      type: title
      version: -1
    taskid: 12dd4de8-094d-4760-8284-22e212b5b76d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3180,
          "y": 550
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: errorPath
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      ip_list:
        complex:
          root: inputs.IPAddress
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields will
        be concatenated using AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoint from the start
        of the result set (start by counting from 0).
      id: 28d5399e-9856-4c0e-ae6f-26790468a680
      iscommand: true
      name: Cortex XDR Search device
      playbooktaskmissingcomponent:
      script: '|||xdr-get-endpoints'
      type: regular
      version: -1
    taskid: 28d5399e-9856-4c0e-ae6f-26790468a680
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 860
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: errorPath
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      host_id:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieve the risk score of a specific host or list of hosts with
        the highest risk score in the environment along with the reason affecting
        each score.
      id: 00b0ba80-bdc5-4012-8238-334800df9bbd
      iscommand: true
      name: Cortex XDR get endpoint risk score
      playbooktaskmissingcomponent:
      script: '|||xdr-list-risky-hosts'
      type: regular
      version: -1
    taskid: 00b0ba80-bdc5-4012-8238-334800df9bbd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3420,
          "y": 860
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "44"
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cortex Core - IR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is an active instance of the Cortex Core integration
        enabled.
      id: adb8d36c-cdb3-4676-8d4a-da7fbc43188c
      iscommand: false
      name: Is Cortex Core - IR integration enabled?
      playbooktaskmissingcomponent:
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: adb8d36c-cdb3-4676-8d4a-da7fbc43188c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3780,
          "y": 690
        }
      }
  "44":
    continueonerror: true
    continueonerrortype: errorPath
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      ip_list:
        complex:
          root: inputs.IPAddress
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields will
        be concatenated using AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoint from the start
        of the result set (start by counting from 0).
      id: 28ddac6d-c9fd-4997-9667-6bdd8538d69e
      iscommand: true
      name: Core IR Search device
      playbooktaskmissingcomponent:
      script: '|||core-get-endpoints'
      type: regular
      version: -1
    taskid: 28ddac6d-c9fd-4997-9667-6bdd8538d69e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3970,
          "y": 860
        }
      }
  "45":
    continueonerror: true
    continueonerrortype: errorPath
    fieldMapping:
    - incidentfield: Host Risk Level
      output:
        complex:
          accessor: risk_level
          root: Core.RiskyHost
    - incidentfield: Host Risk Reasons
      output:
        complex:
          accessor: description
          root: Core.RiskyHost.reasons
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "46"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      host_id:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieve the risk score of a specific host or list of hosts with
        the highest risk score in the environment along with the reason affecting
        each score.
      id: e24e0b83-679a-4e52-828f-b3637fedd2c1
      iscommand: true
      name: Core IR get endpoint risk score
      playbooktaskmissingcomponent:
      script: '|||core-list-risky-hosts'
      type: regular
      version: -1
    taskid: e24e0b83-679a-4e52-828f-b3637fedd2c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4360,
          "y": 860
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 1d871fe2-8ca6-4e9b-8165-12554326dcc7
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: 1d871fe2-8ca6-4e9b-8165-12554326dcc7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 700,
          "y": 1110
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a311d42a-1d50-4464-8a6b-2babd00963a2
      iscommand: false
      name: SOC Endpoint Enrichment - Cylance Protect v2
      playbookId: SOC Endpoint Enrichment - Cylance Protect v2
      playbooktaskmissingcomponent:
      type: playbook
      version: -1
    taskid: a311d42a-1d50-4464-8a6b-2babd00963a2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 270,
          "y": 690
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_4_#default#": 0.1,
      "22_23_yes": 0.43,
      "22_4_#default#": 0.2,
      "31_32_yes": 0.64,
      "31_4_#default#": 0.1,
      "33_34_yes": 0.64,
      "33_4_#default#": 0.1,
      "36_37_yes": 0.49,
      "36_4_#default#": 0.1,
      "39_4_#default#": 0.1,
      "3_1_yes": 0.3,
      "3_24_yes": 0.41,
      "3_4_#default#": 0.12,
      "43_4_#default#": 0.1,
      "8_4_#default#": 0.1,
      "8_9_yes": 0.62
    },
    "paper": {
      "dimensions": {
        "height": 1100,
        "width": 5660,
        "x": -920,
        "y": 80
      }
    }
  }
fromversion: 5.0.0
