Playbooks/SOC_Containment_Plan.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 2.6.55
    packID: ""
    packName: Common Playbooks
    prevname: ""
    toServerVersion: ""
description: "This playbook handles the main containment actions available with Cortex
  XSIAM, including the following sub-playbooks:  \n* Containment Plan - Isolate endpoint\n*
  Containment Plan - Disable account\n* Containment Plan - Quarantine file\n* Containment
  Plan - Block indicators\n* Containment Plan - Clear user session (currently, the
  playbook supports only Okta)\n\nNote: The playbook inputs enable manipulating the
  execution flow. Read the input descriptions for details."
id: 'SOC Containment Plan'
inputs:
- description: |-
    Whether to execute containment plan (except isolation) automatically.
    The specific containment playbook inputs should also be set to 'True'.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute endpoint isolation.
  key: HostContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to disable the user account.
  key: UserContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to block the indicators.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to quarantine the identified file.
  key: FileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to clear the user active Okta sessions.
  key: ClearUserSessions
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: The username to disable.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The file hash to block.
  key: FileHash
  playbookInputQuery: null
  required: false
  value: {}
- description: The path of the file to block.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The IP indicators.
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: The domain indicators.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
- description: The URL indicator.
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and will execute only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: The Okta IAM users domain. The domain will be appended to the username.
    e.g. username@IAMUserDomain.
  key: IAMUserDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.\nWhether to provide user verification
    for blocking those IPs and disabling the users. \n\nFalse - No prompt will be
    displayed to the user.\nTrue - The server will ask the user for blocking verification
    and will display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Possible values: True/False.  Default: True.
    Should the given indicators be automatically blocked, or should the user be given the option to choose?

    If set to False - no prompt will appear, and all provided indicators will be blocked automatically.
    If set to True - the user will be prompted to select which indicators to block.
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: SOC Containment Plan
outputs:
- contextPath: Blocklist.Final
  description: The blocked accounts.
  type: unknown
- contextPath: QuarantinedFilesFromEndpoints
  description: The quarantined files from endpoint.
  type: unknown
- contextPath: Core.blocklist.added_hashes
  description: The file Hash that was added to the blocklist.
- contextPath: Core.Isolation.endpoint_id
  description: The isolated endpoint ID.
sourceplaybookid: Containment Plan
starttaskid: "0"
tags:
- SOC
- Containment
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
      iscommand: false
      name: ""
      version: -1
    taskid: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 50
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "153"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 585cb24c-cfe1-45cd-8c5d-370621442364
      iscommand: false
      name: Isolate Device
      type: title
      version: -1
    taskid: 585cb24c-cfe1-45cd-8c5d-370621442364
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1112,
          "y": 1220
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "152"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abb87f28-a965-4d8d-8069-eb635815bb13
      iscommand: false
      name: Disable Account
      type: title
      version: -1
    taskid: abb87f28-a965-4d8d-8069-eb635815bb13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 631,
          "y": 1220
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed18bff1-e327-4889-85e8-65d66ff9ef5a
      iscommand: false
      name: Quarantine File
      type: title
      version: -1
    taskid: ed18bff1-e327-4889-85e8-65d66ff9ef5a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2555,
          "y": 1220
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "155"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1784b84c-0c06-44ae-8230-83edc6deccba
      iscommand: false
      name: Block Indicators
      type: title
      version: -1
    taskid: 1784b84c-0c06-44ae-8230-83edc6deccba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2074,
          "y": 1220
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "154"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f495b99b-b851-438c-8fc8-0db9145c81a2
      iscommand: false
      name: Clear User Sessions
      type: title
      version: -1
    taskid: f495b99b-b851-438c-8fc8-0db9145c81a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1593,
          "y": 1220
        }
      }
  "138":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |+
        Whether to perform containment actions automatically or manually.

      id: c69a7bbb-62d0-447a-8184-87aea4d7c440
      iscommand: false
      name: Should containment automatically?
      type: condition
      version: -1
    taskid: c69a7bbb-62d0-447a-8184-87aea4d7c440
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1593,
          "y": 720
        }
      }
  "139":
    continueonerrortype: ""
    form:
      description: Select which containment actions to perform
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Select the Endpoint to isolate by Endpoint name
        options: []
        optionsarg:
        - complex:
            accessor: endpoint_name
            root: Core.Endpoint
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Select Endpoint to isolate by Endpoint ID
        options: []
        optionsarg:
        - complex:
            root: inputs.EndpointID
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Select Users to disable
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Select Files to quarantine
        options: []
        optionsarg:
        - complex:
            root: FilesList
            transformers:
            - operator: uniq
            - args:
                applyIfEmpty: {}
                defaultValue:
                  iscontext: true
                  value:
                    simple: inputs.FilePath
              operator: SetIfEmpty
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Select IPs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Select URLs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "6"
        label: ""
        labelarg:
          simple: 'Select Files Hash to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.FileHash
            transformers:
            - operator: uniq
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "7"
        label: ""
        labelarg:
          simple: 'Select Domains to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.Domain
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "8"
        label: ""
        labelarg:
          simple: Select Users to clear their sessions
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Which containment actions would you like to perform?
      totalanswers: 0
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Select which indicators to block.
      id: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
      iscommand: false
      name: Which containment actions would you like to perform?
      type: collection
      version: -1
    taskid: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1738.25,
          "y": 890
        }
      }
  "146":
    continueonerror: true
    continueonerrortype: errorPath
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "151"
      '#none#':
      - "138"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No Value
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields is
        concatenated using the AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoints from the start
        of the result set (start by counting from 0).
      id: 03d1b8b6-1f1c-406f-b610-dc4f20236cce
      iscommand: true
      name: Get endpoint info
      script: '|||core-get-endpoints'
      type: regular
      version: -1
    taskid: 03d1b8b6-1f1c-406f-b610-dc4f20236cce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 550
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "49"
      - "48"
      - "51"
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
      iscommand: false
      name: Containment
      type: title
      version: -1
    taskid: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1593,
          "y": 1060
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8f6c601-67bc-4dfd-8c09-008797b89324
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: a8f6c601-67bc-4dfd-8c09-008797b89324
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 1550
        }
      }
  "149":
    continueonerror: true
    continueonerrortype: errorPath
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "151"
      '#none#':
      - "146"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilesList
      stringify:
        simple: "false"
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              array1_key:
                iscontext: true
              array2:
                iscontext: true
                value:
                  simple: inputs.FileHash
              array2_key: {}
              determine_output_length_by: {}
              merge_dict: {}
              output_name1:
                value:
                  simple: Path
              output_name2:
                value:
                  simple: Hash
            operator: MakePair
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 998d44d8-1e99-417c-9499-6f4d81fbc626
      iscommand: false
      name: Set Process list
      script: Set
      type: regular
      version: -1
    taskid: 998d44d8-1e99-417c-9499-6f4d81fbc626
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 380
        }
      }
  "150":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileHash
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "146"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the file path and file hash are defined.
      id: 4541881d-148b-4360-83d3-c66c78b3d624
      iscommand: false
      name: The file path and file hash defined?
      type: condition
      version: -1
    taskid: 4541881d-148b-4360-83d3-c66c78b3d624
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 210
        }
      }
  "151":
    continueonerrortype: ""
    id: "151"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 8c6c5822-a936-4a5e-809b-f48eb14dc23a
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 8c6c5822-a936-4a5e-809b-f48eb14dc23a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 720
        }
      }
  "152":
    continueonerrortype: ""
    id: "152"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 76ae6be2-70ac-4ce7-8c08-5f8612bdff50
      iscommand: false
      name: SOC Containment Plan - Disable Account
      playbookId: 'SOC Containment Plan - Disable Account'
      type: playbook
      version: -1
    taskid: 76ae6be2-70ac-4ce7-8c08-5f8612bdff50
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 631,
          "y": 1380
        }
      }
  "153":
    continueonerrortype: ""
    id: "153"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a6660bfe-0cc3-4883-82eb-cb61acea2f3a
      iscommand: false
      name: SOC Containment Plan - Isolate Device
      playbookId: 'SOC Containment Plan - Isolate Device'
      type: playbook
      version: -1
    taskid: a6660bfe-0cc3-4883-82eb-cb61acea2f3a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1112,
          "y": 1380
        }
      }
  "154":
    continueonerrortype: ""
    id: "154"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d472fa8c-cb52-4a1f-8ac5-c49f8c646cb0
      iscommand: false
      name: SOC Containment Plan - Clear User Sessions
      playbookId: 'SOC Containment Plan - Clear User Sessions'
      type: playbook
      version: -1
    taskid: d472fa8c-cb52-4a1f-8ac5-c49f8c646cb0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1593,
          "y": 1380
        }
      }
  "155":
    continueonerrortype: ""
    id: "155"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 62b7e05b-3730-455f-8ed7-8f0d14062f23
      iscommand: false
      name: SOC Containment Plan - Block Indicators
      playbookId: 'SOC Containment Plan - Block Indicators'
      type: playbook
      version: -1
    taskid: 62b7e05b-3730-455f-8ed7-8f0d14062f23
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2074,
          "y": 1380
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4dc27d4f-d93c-446f-816a-1386feb3d684
      iscommand: false
      name: SOC Containment Plan - Quarantine File
      playbookId: 'SOC Containment Plan - Quarantine File'
      type: playbook
      version: -1
    taskid: 4dc27d4f-d93c-446f-816a-1386feb3d684
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2555,
          "y": 1380
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "138_139_#default#": 0.64,
      "150_146_#default#": 0.45
    },
    "paper": {
      "dimensions": {
        "height": 1560,
        "width": 2886,
        "x": 50,
        "y": 50
      }
    }
  }
