Playbooks/SOC_Endpoint_Investigation_Plan.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: ""
    packName: SOC Malware Investigation Response
    prevname: ""
    toServerVersion: ""
description: "This playbook handles all the endpoint investigation actions by performing
  the following tasks  on every alert associated with the alert:\n* Pre-defined MITRE
  Tactics\n* Host fields (Host ID)\n* Attacker fields (Attacker IP, External host)\n*
  MITRE techniques\n* File hash (currently, the playbook supports only SHA256)  \n\nNote:
  The playbook inputs enable manipulating the execution flow; read the input descriptions
  for details."
id: 'SOC Endpoint Investigation Plan'
inputs:
- description: Set to True to hunt for identified alerts with MITRE Reconnaissance
    techniques.
  key: HuntReconnaissanceTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Access techniques.
  key: HuntInitialAccessTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Execution techniques.
  key: HuntExecutionTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Persistence techniques.
  key: HuntPersistenceTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Privilege Escalation
    techniques.
  key: HuntPrivilegeEscalationTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Defense Evasion
    techniques.
  key: HuntDefenseEvasionTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Discovery techniques.
  key: HuntDiscoveryTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Lateral Movement
    techniques.
  key: HuntLateralMovementTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for MITRE Collection techniques identified alerts.
  key: HuntCollectionTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Command and Control
    techniques.
  key: HuntCnCTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt for identified alerts with MITRE Impact techniques.
  key: HuntImpactTechniques
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to True to hunt the attacker IP address or external hostname.
  key: HuntAttacker
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt by a specific MITRE technique.
  key: HuntByTechnique
  playbookInputQuery: null
  required: false
  value: {}
- description: Set to True to hunt by the endpoint ID. The agentID input must be provided
    as well.
  key: HuntByHost
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Boolean. Set to True to hunt by a specific file hash.
    Supports SHA256.
  key: HuntByFile
  playbookInputQuery: null
  required: false
  value: {}
- description: The agent ID.
  key: agentID
  playbookInputQuery: null
  required: false
  value:
    simple: '*'
- description: The IP address of the attacker. The 'HuntAttacker' inputs should also
    be set to True.
  key: attackerRemoteIP
  playbookInputQuery: null
  required: false
  value: {}
- description: The external host used by the attacker. The 'HuntAttacker' inputs should
    also be set to True.
  key: attackerExternalHost
  playbookInputQuery: null
  required: false
  value: {}
- description: A MITRE technique identifier. The 'HuntByTechnique' inputs should also
    be set to True.
  key: mitreTechniqueID
  playbookInputQuery: null
  required: false
  value: {}
- description: The file SHA256. The 'HuntByFile' inputs should also be set to True.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Endpoint Investigation Plan
outputs: []
sourceplaybookid: Endpoint Investigation Plan
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 26771da9-59e7-422f-8f4b-5c08be96bdfa
      iscommand: false
      name: ""
      version: -1
    taskid: 26771da9-59e7-422f-8f4b-5c08be96bdfa
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 2133.5,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntDiscoveryTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for discovery techniques.
      id: 81e61b1f-bd6c-4751-856d-c11bdd35354f
      iscommand: false
      name: Should hunt for Discovery techniques?
      type: condition
      version: -1
    taskid: 81e61b1f-bd6c-4751-856d-c11bdd35354f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 726.25,
          "y": 3370
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntPersistenceTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for persistence techniques.
      id: 26f1e9ec-dddf-454a-8d1c-e770f7a0a4d7
      iscommand: false
      name: Should hunt for Persistence techniques?
      type: condition
      version: -1
    taskid: 26f1e9ec-dddf-454a-8d1c-e770f7a0a4d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1047.75,
          "y": 1870
        }
      }
  "3":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntInitialAccessTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for initial access techniques.
      id: 6631c326-a3b2-4bf9-859e-e7718e61eb1e
      iscommand: false
      name: Should hunt for Initial Access techniques?
      type: condition
      version: -1
    taskid: 6631c326-a3b2-4bf9-859e-e7718e61eb1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1212,
          "y": 870
        }
      }
  "4":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntPrivilegeEscalationTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for privilege escalation techniques.
      id: 018c1cab-9901-43fa-8995-ee0325036bcb
      iscommand: false
      name: Should hunt for Privilege Escalation techniques?
      type: condition
      version: -1
    taskid: 018c1cab-9901-43fa-8995-ee0325036bcb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1016.75,
          "y": 2370
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntDefenseEvasionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for defense evasion techniques.
      id: baa1e20f-4b89-4ef2-86e4-2eaf12d733c2
      iscommand: false
      name: Should hunt for Defense Evasion techniques?
      type: condition
      version: -1
    taskid: baa1e20f-4b89-4ef2-86e4-2eaf12d733c2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 871.5,
          "y": 2870
        }
      }
  "6":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntExecutionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for execution techniques.
      id: 6daefce0-8773-4e2b-84c0-c298adf12464
      iscommand: false
      name: Should hunt for Execution techniques?
      type: condition
      version: -1
    taskid: 6daefce0-8773-4e2b-84c0-c298adf12464
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1066.75,
          "y": 1370
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntLateralMovementTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for lateral movement techniques.
      id: b0f80114-76f0-4a92-8e6c-b74f4ee31de6
      iscommand: false
      name: Should hunt for Lateral Movement techniques?
      type: condition
      version: -1
    taskid: b0f80114-76f0-4a92-8e6c-b74f4ee31de6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 581,
          "y": 3870
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntCollectionTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for collection techniques.
      id: 87c3bced-78d4-49ce-83a9-e99b8df241e3
      iscommand: false
      name: Should hunt for Collection techniques?
      type: condition
      version: -1
    taskid: 87c3bced-78d4-49ce-83a9-e99b8df241e3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 435.75,
          "y": 4370
        }
      }
  "9":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntAttacker
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.attackerRemoteIP
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "53"
      "yes":
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt by the attacker indicators.
      id: 4814aba4-bd30-4c19-895a-8d3e28e73393
      iscommand: false
      name: Should investigate by attacker source IP?
      type: condition
      version: -1
    taskid: 4814aba4-bd30-4c19-895a-8d3e28e73393
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2874,
          "y": 3870
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntByHost
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.agentID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt by the host fields.
      id: c896ea76-878a-43f4-80bd-5d5be9f46fc2
      iscommand: false
      name: Should hunt by host fields?
      type: condition
      version: -1
    taskid: c896ea76-878a-43f4-80bd-5d5be9f46fc2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3019.25,
          "y": 3370
        }
      }
  "11":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntByTechnique
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.mitreTechniqueID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt by MITRE technique.
      id: 7553edad-1b98-4459-834c-07f66fe82731
      iscommand: false
      name: Should investigate by MITRE techniques?
      type: condition
      version: -1
    taskid: 7553edad-1b98-4459-834c-07f66fe82731
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2819.25,
          "y": 4870
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntByFile
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileSHA256
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt by file hash.
      id: d2a6e731-c4f1-4e1c-8cfe-ff42b7726e8a
      iscommand: false
      name: Should investigate by file hash?
      type: condition
      version: -1
    taskid: d2a6e731-c4f1-4e1c-8cfe-ff42b7726e8a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2678.75,
          "y": 5370
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd9e01ff-9927-453d-8702-b81c3fe81f0a
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: bd9e01ff-9927-453d-8702-b81c3fe81f0a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2819.25,
          "y": 5875
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aa13b3d0-4124-4586-87d0-a122a811588e
      iscommand: false
      name: Persistence
      type: title
      version: -1
    taskid: aa13b3d0-4124-4586-87d0-a122a811588e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1657.25,
          "y": 2040
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: errorPath
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1037* or mitreattcktechnique:*T1542* or mitreattcktechnique:*T1053*
          or mitreattcktechnique:*T1543.002* or mitreattcktechnique:*T1543.003* or
          mitreattcktechnique:*T1569.002* or mitreattcktechnique:*T1547.001* or mitreattcktechnique:*T1547.005*
          or mitreattcktechnique:*T1546.002* or mitreattcktechnique:*T1546.011* or
          mitreattcktechnique:*T1546.012* or mitreattcktechnique:*T1136* or mitreattcktechnique:*T1150*)
          and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 127f2ad3-0a3c-4c0d-b272-991ea790c85a
      iscommand: false
      name: Hunt Persistence techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 127f2ad3-0a3c-4c0d-b272-991ea790c85a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1657.25,
          "y": 2200
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17850962-ee9d-462e-8a68-86992f3476b1
      iscommand: false
      name: Initial Access
      type: title
      version: -1
    taskid: 17850962-ee9d-462e-8a68-86992f3476b1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2047.75,
          "y": 1040
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38d79a1d-432e-4b43-84fb-2df946466f06
      iscommand: false
      name: Execution
      type: title
      version: -1
    taskid: 38d79a1d-432e-4b43-84fb-2df946466f06
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1852.5,
          "y": 1540
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 54aede8a-286a-47f8-8578-da4cd0b042ce
      iscommand: false
      name: Privilege Escalation
      type: title
      version: -1
    taskid: 54aede8a-286a-47f8-8578-da4cd0b042ce
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1462,
          "y": 2540
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d9287202-7433-4836-8e86-59f0acebaf1b
      iscommand: false
      name: Defense Evasion
      type: title
      version: -1
    taskid: d9287202-7433-4836-8e86-59f0acebaf1b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1266.75,
          "y": 3040
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb43e613-8041-41cc-8d6a-031d2ea4bcb6
      iscommand: false
      name: Discovery
      type: title
      version: -1
    taskid: bb43e613-8041-41cc-8d6a-031d2ea4bcb6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1071.5,
          "y": 3540
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e132947f-bf00-48da-8305-fa34c72c42dc
      iscommand: false
      name: Lateral Movement
      type: title
      version: -1
    taskid: e132947f-bf00-48da-8305-fa34c72c42dc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 876.25,
          "y": 4040
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7f301311-2cb6-4f0a-8d10-4e8d5f82cea1
      iscommand: false
      name: Collection
      type: title
      version: -1
    taskid: 7f301311-2cb6-4f0a-8d10-4e8d5f82cea1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 681,
          "y": 4540
        }
      }
  "23":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntCnCTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for command and control techniques.
      id: 1ff80560-73b2-4e6d-8713-fdbddb0c8958
      iscommand: false
      name: Should hunt for CnC techniques?
      type: condition
      version: -1
    taskid: 1ff80560-73b2-4e6d-8713-fdbddb0c8958
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 290.5,
          "y": 4870
        }
      }
  "24":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntImpactTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for impact techniques.
      id: 21f9942f-6dd3-426f-8e9a-eb3ae3a2fb4b
      iscommand: false
      name: Should hunt for Impact techniques?
      type: condition
      version: -1
    taskid: 21f9942f-6dd3-426f-8e9a-eb3ae3a2fb4b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 145.25,
          "y": 5370
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff4496b4-e914-4bba-8112-6ed6b4508c79
      iscommand: false
      name: Command and Control
      type: title
      version: -1
    taskid: ff4496b4-e914-4bba-8112-6ed6b4508c79
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 5040
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c89859a8-0333-4872-8dc7-9feb1fad74fb
      iscommand: false
      name: Impact
      type: title
      version: -1
    taskid: c89859a8-0333-4872-8dc7-9feb1fad74fb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 290.5,
          "y": 5540
        }
      }
  "27":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntReconnaissanceTechniques
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt for reconnaissance techniques.
      id: 9cd16df8-9f8c-4040-81e9-345ffb028daf
      iscommand: false
      name: Should hunt for suspicious Reconnaissance techniques?
      type: condition
      version: -1
    taskid: 9cd16df8-9f8c-4040-81e9-345ffb028daf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1357.25,
          "y": 370
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fda5f54d-76eb-4fba-8dd4-7e74b0e9da86
      iscommand: false
      name: Reconnaissance
      type: title
      version: -1
    taskid: fda5f54d-76eb-4fba-8dd4-7e74b0e9da86
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2288.25,
          "y": 540
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: errorPath
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: mitreattcktechnique:*T1595* and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Cortex XSIAM alerts.\n\nThis automation runs using the
        default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex see
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: b2ff01c0-8cd1-4985-979b-d68cb23798f0
      iscommand: false
      name: Hunt Reconnaissance techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: b2ff01c0-8cd1-4985-979b-d68cb23798f0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2288.25,
          "y": 700
        }
      }
  "30":
    continueonerror: true
    continueonerrortype: errorPath
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*T1078* or mitreattcktechnique:*T1078.002*) and
          agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Cortex XSIAM alerts.\n\nThis automation runs using the
        default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex see
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 748540b2-59d7-41a2-9e5e-ae35e8e0db80
      iscommand: false
      name: Hunt Initial Access techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 748540b2-59d7-41a2-9e5e-ae35e8e0db80
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2047.75,
          "y": 1200
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*T1204* or mitreattcktechnique:*T1569.002* or
          mitreattcktechnique:*T1059.001* or mitreattcktechnique:*T1059.002* or mitreattcktechnique:*T1059.004*
          or mitreattcktechnique:*T1059.005*) and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4c827ae7-967f-40b0-a7e8-c751991ec72b
      iscommand: false
      name: Hunt Execution techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 4c827ae7-967f-40b0-a7e8-c751991ec72b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1852.5,
          "y": 1700
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: errorPath
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*T1055* or mitreattcktechnique:*T1546.001*) and
          agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 247c596f-72bf-4bf1-bcfb-fa7227f5bb43
      iscommand: false
      name: Hunt Privilege Escalation techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 247c596f-72bf-4bf1-bcfb-fa7227f5bb43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1462,
          "y": 2700
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: errorPath
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*T1218.005* or mitreattcktechnique:*T1218.008*
          or mitreattcktechnique:*T1218.011* or mitreattcktechnique:*T1036* or mitreattcktechnique:*T1140*
          or mitreattcktechnique:*T1564.001* or mitreattcktechnique:*T1222* or mitreattcktechnique:*T1197*)
          and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: ce3765cc-4bc3-4a8c-ab8e-2d2cd522af92
      iscommand: false
      name: Hunt Defense Evasion techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: ce3765cc-4bc3-4a8c-ab8e-2d2cd522af92
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1266.75,
          "y": 3200
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: errorPath
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1087* or mitreattcktechnique:*1046* or mitreattcktechnique:*1018*
          or mitreattcktechnique:*1135* or mitreattcktechnique:*1016*) and agentid:${inputs.agentID}
          and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 11327813-3c03-4658-b4be-aec0441a0cb0
      iscommand: false
      name: Hunt Discovery techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 11327813-3c03-4658-b4be-aec0441a0cb0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1071.5,
          "y": 3700
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: errorPath
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1021.001* or mitreattcktechnique:*1021.002*
          or mitreattcktechnique:*1021.003* or mitreattcktechnique:*1021.006* or mitreattcktechnique:*1021*
          or mitreattcktechnique:*1550.002*) and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 9fa43400-a490-4c75-a327-96ce340533e7
      iscommand: false
      name: Hunt Lateral Movement techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 9fa43400-a490-4c75-a327-96ce340533e7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 876.25,
          "y": 4200
        }
      }
  "36":
    continueonerror: true
    continueonerrortype: errorPath
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1213*  or mitreattcktechnique:*1074* or mitreattcktechnique:*1074.001*)
          and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: b3d1fe50-3317-4fa5-a870-66fb6442a3a0
      iscommand: false
      name: Hunt Collection techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: b3d1fe50-3317-4fa5-a870-66fb6442a3a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 681,
          "y": 4700
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: errorPath
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1132*  or mitreattcktechnique:*1102* or mitreattcktechnique:*1071*)
          and agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 20c5f551-5508-4b74-8b5a-68020f7e5135
      iscommand: false
      name: Hunt Command and Control techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 20c5f551-5508-4b74-8b5a-68020f7e5135
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 5200
        }
      }
  "38":
    continueonerror: true
    continueonerrortype: errorPath
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (mitreattcktechnique:*1561*  or mitreattcktechnique:*1485* or mitreattcktechnique:*1486*
          or mitreattcktechnique:*1490* or mitreattcktechnique:*1495*) and agentid:${inputs.agentID}
          and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 662fd232-ca97-4f41-aeff-0c62b691dbb6
      iscommand: false
      name: Hunt Impact techniques
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 662fd232-ca97-4f41-aeff-0c62b691dbb6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 290.5,
          "y": 5700
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 790c95cf-af51-440a-8cc6-0d22ec470532
      iscommand: false
      name: Host activity
      type: title
      version: -1
    taskid: 790c95cf-af51-440a-8cc6-0d22ec470532
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3600.25,
          "y": 3540
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: errorPath
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: agentid:${inputs.agentID} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 7342b644-e281-482c-9192-e5a16cb1aac2
      iscommand: false
      name: Hunt by host ID
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 7342b644-e281-482c-9192-e5a16cb1aac2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3600.25,
          "y": 3700
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d679a72b-0099-4649-8887-8458fb29b79c
      iscommand: false
      name: Attacker network activity
      type: title
      version: -1
    taskid: d679a72b-0099-4649-8887-8458fb29b79c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3409.75,
          "y": 4040
        }
      }
  "44":
    continueonerror: true
    continueonerrortype: errorPath
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: localip:${inputs.attackerRemoteIP} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 5337a785-fed4-4c15-ba4a-ce4eb0127bbf
      iscommand: false
      name: Hunt by attacker source IP
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 5337a785-fed4-4c15-ba4a-ce4eb0127bbf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3409.75,
          "y": 4200
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 710569db-85e4-4d8d-8f63-dd9904d01d04
      iscommand: false
      name: MITRE Techniques
      type: title
      version: -1
    taskid: 710569db-85e4-4d8d-8f63-dd9904d01d04
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3019.25,
          "y": 5040
        }
      }
  "47":
    continueonerror: true
    continueonerrortype: errorPath
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: mitreattcktechnique:*${inputs.mitreTechniqueID}* and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 47b86828-cfb5-4565-87c4-75de727d5077
      iscommand: false
      name: Hunt by technique ID
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 47b86828-cfb5-4565-87c4-75de727d5077
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3019.25,
          "y": 5200
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d481827b-144e-4cc6-8dff-92f2293d587e
      iscommand: false
      name: Hunt File Hash
      type: title
      version: -1
    taskid: d481827b-144e-4cc6-8dff-92f2293d587e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2824,
          "y": 5540
        }
      }
  "49":
    continueonerror: true
    continueonerrortype: errorPath
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: (initiatorsha256:${inputs.FileSHA256} or cgosha256:${inputs.FileSHA256}
          or filesha256:${inputs.FileSHA256} or filemacrosha256:${inputs.FileSHA256}
          or osparentsha256:${inputs.FileSHA256}) and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 9e428155-7fc5-4488-b559-c5b309d2f215
      iscommand: false
      name: Hunt by file hash
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 9e428155-7fc5-4488-b559-c5b309d2f215
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2824,
          "y": 5700
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c224069c-cebb-446b-8dc6-07d9a5a63438
      iscommand: false
      name: Hunt by MITRE Tactics
      type: title
      version: -1
    taskid: c224069c-cebb-446b-8dc6-07d9a5a63438
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1357.25,
          "y": 210
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1b10baff-223f-4a9b-88fc-f6e30e6d0273
      iscommand: false
      name: Hunt by Indicators
      type: title
      version: -1
    taskid: 1b10baff-223f-4a9b-88fc-f6e30e6d0273
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3019.25,
          "y": 3205
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f5f485bf-8035-4c97-8529-bc289e584adf
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f5f485bf-8035-4c97-8529-bc289e584adf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5875
        }
      }
  "53":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntAttacker
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.attackerExternalHost
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to hunt by the attacker indicators.
      id: ea421052-65ec-4e66-81e9-179f1b37c4c3
      iscommand: false
      name: Should investigate by attacker's external host?
      type: condition
      version: -1
    taskid: ea421052-65ec-4e66-81e9-179f1b37c4c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2819.25,
          "y": 4370
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 94139bf4-5524-4a4a-8d8e-d3860d4d1054
      iscommand: false
      name: Attacker network activity
      type: title
      version: -1
    taskid: 94139bf4-5524-4a4a-8d8e-d3860d4d1054
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3214.5,
          "y": 4540
        }
      }
  "55":
    continueonerror: true
    continueonerrortype: errorPath
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "56"
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: dnsqueryname:${inputs.attackerExternalHost} and caseid:${parentIncidentFields.incident_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches Demisto alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 52a684dd-6d0c-43d8-a288-a8f9845cee1b
      iscommand: false
      name: Hunt by attacker source external host
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: 52a684dd-6d0c-43d8-a288-a8f9845cee1b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3214.5,
          "y": 4700
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: a4864e48-659e-4d74-823a-3d5abf74261f
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: a4864e48-659e-4d74-823a-3d5abf74261f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1897.75,
          "y": 5870
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 5890,
        "width": 3931.25,
        "x": 50,
        "y": 50
      }
    }
  }
