Playbooks/SOC_Block_Account_-_Generic_v2.yml
id: SOC Block Account - Generic v2
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: Common Playbooks
    itemVersion: 2.7.14
    fromServerVersion: 6.5.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Block Account - Generic v2
description: |-
  This playbook blocks malicious usernames using all integrations that you have enabled.

  Supported integrations for this playbook:
  * Active Directory
  * PAN-OS - This requires PAN-OS 9.1 or higher.
  * SailPoint
  * PingOne
  * AWS IAM
  * Clarizen IAM
  * Envoy IAM
  * ExceedLMS IAM
  * Okta
  * Microsoft Graph User (Azure Active Directory Users)
  * Google Workspace Admin
  * Slack IAM
  * ServiceNow IAM
  * Prisma Cloud IAM
  * Zoom IAM
  * Atlassian IAM
  * GitHub IAM.
tags:
- SOC
- SOC_Framework
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
    type: start
    task:
      id: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 78bcaa68-2a3d-4805-8e25-1bee31249d8f
    type: title
    task:
      id: 78bcaa68-2a3d-4805-8e25-1bee31249d8f
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1040,
          "y": 1660
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: df7e57df-4f26-4b41-8552-0d4068792d13
    type: title
    task:
      id: df7e57df-4f26-4b41-8552-0d4068792d13
      version: -1
      name: Block accounts
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "19"
      - "20"
      - "21"
      - "22"
      - "23"
      - "25"
      - "24"
      - "54"
      - "56"
      - "58"
      - "60"
      - "66"
      - "68"
      - "71"
      - "64"
      - "73"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
    type: condition
    task:
      id: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
      version: -1
      name: Is there a username to block?
      description: Verify that the playbook input includes at least one username to
        block.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "38"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.Username
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: f5a0276b-741e-4f8a-a129-6a90be21d226
    type: regular
    task:
      id: f5a0276b-741e-4f8a-a129-6a90be21d226
      version: -1
      name: PAN-OS - Register Tag to User
      description: Registers users to a tag. This command is only available for PAN-OS
        version 9.x and above.
      script: Panorama|||pan-os-register-user-tag
      type: regular
      iscommand: true
      brand: Panorama
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      Users:
        complex:
          root: Blocklist
          accessor: Final
      tag:
        complex:
          root: inputs.Tag
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 2520,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 134ffe20-63fc-486a-8a79-685e3d206ae8
    type: condition
    task:
      id: 134ffe20-63fc-486a-8a79-685e3d206ae8
      version: -1
      name: Is there a Tag name to register?
      description: Verify that the playbook input includes at least one tag to apply
        to the user.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "91"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.Tag
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2700,
          "y": 910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
    type: title
    task:
      id: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
      version: -1
      name: OKTA
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 253e9206-6499-4698-81bc-4f6b405723e9
    type: title
    task:
      id: 253e9206-6499-4698-81bc-4f6b405723e9
      version: -1
      name: SailPoint
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "27"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 640,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 4665f43b-c357-46ab-8658-1f5307d73e34
    type: title
    task:
      id: 4665f43b-c357-46ab-8658-1f5307d73e34
      version: -1
      name: AWS IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "28"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -220,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
    type: title
    task:
      id: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
      version: -1
      name: PingOne
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 210,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 5af0265d-f69a-47ef-8fdd-8be726ab8812
    type: title
    task:
      id: 5af0265d-f69a-47ef-8fdd-8be726ab8812
      version: -1
      name: Clarizen IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -640,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 8170d464-f524-484a-8578-d2d5c6b44c24
    type: title
    task:
      id: 8170d464-f524-484a-8578-d2d5c6b44c24
      version: -1
      name: Envoy IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "31"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 9426248c-bc57-4e2a-898c-333c705fe7c9
    type: title
    task:
      id: 9426248c-bc57-4e2a-898c-333c705fe7c9
      version: -1
      name: ExceedLMS IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1500,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: e3d46f19-bf96-4280-887d-c746b0e95976
    type: title
    task:
      id: e3d46f19-bf96-4280-887d-c746b0e95976
      version: -1
      name: PAN-OS
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "36"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2700,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 00761e97-8a6e-48f4-85fb-d894509a2c17
    type: title
    task:
      id: 00761e97-8a6e-48f4-85fb-d894509a2c17
      version: -1
      name: Microsoft Active Directory
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: ca29fc92-0b56-4eca-8fb4-285bf732a419
    type: condition
    task:
      id: ca29fc92-0b56-4eca-8fb4-285bf732a419
      version: -1
      name: Is OKTA Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Okta IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 692fc977-5dff-49fa-8ef9-4c0c53979786
    type: condition
    task:
      id: 692fc977-5dff-49fa-8ef9-4c0c53979786
      version: -1
      name: Is SailPoint Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "75"
    scriptarguments:
      brandname:
        simple: SailPointIdentityIQ
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 640,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: c00031c8-63dc-447a-8064-458b8b89c0b9
    type: condition
    task:
      id: c00031c8-63dc-447a-8064-458b8b89c0b9
      version: -1
      name: Is AWS IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -220,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 1dfdb5b5-b388-49f8-8778-b631675b5228
    type: condition
    task:
      id: 1dfdb5b5-b388-49f8-8778-b631675b5228
      version: -1
      name: Is PingOne Integration Enabled
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "83"
    scriptarguments:
      brandname:
        simple: PingOne
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 210,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
    type: condition
    task:
      id: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
      version: -1
      name: Is ClarizenIAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: ClarizenIAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -640,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: e69ec334-a883-4519-8b53-2d12a380819d
    type: condition
    task:
      id: e69ec334-a883-4519-8b53-2d12a380819d
      version: -1
      name: Is Envoy IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Envoy IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: d7750a59-552e-4fbe-8d72-6a0dbf2c50b2
    type: condition
    task:
      id: d7750a59-552e-4fbe-8d72-6a0dbf2c50b2
      version: -1
      name: Is ExceedLMS IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: ExceedLMS IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1500,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: f3afa983-9d12-4f8a-89eb-70e0ffbac1b7
    type: regular
    task:
      id: f3afa983-9d12-4f8a-89eb-70e0ffbac1b7
      version: -1
      name: IAM Disable User
      description: Disable an active user.
      script: '|||iam-disable-user'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      user-profile:
        simple: ${Blocklist.Final}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 1d25df3a-4ff2-4e85-93ae-435a6b346b06
    type: regular
    task:
      id: 1d25df3a-4ff2-4e85-93ae-435a6b346b06
      version: -1
      name: PingOne - Deactivate user
      description: Deactivate a user's account.
      script: PingOne|||pingone-deactivate-user
      type: regular
      iscommand: true
      brand: PingOne
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      username:
        complex:
          root: Blocklist
          accessor: Final
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": -440,
          "y": 1190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 24dbd242-88dc-4d46-808a-baa9acff55f1
    type: regular
    task:
      id: 24dbd242-88dc-4d46-808a-baa9acff55f1
      version: -1
      name: SailPoint-Disable account
      description: Disable account's active status by id using IdentityIQ SCIM API's.
      script: SailPointIdentityIQ|||identityiq-disable-account
      type: regular
      iscommand: true
      brand: SailPointIdentityIQ
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      id:
        complex:
          root: IdentityIQ.Account
          accessor: id
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 120,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 90a2adf8-4f57-4b53-896d-44bddd4d064c
    type: condition
    task:
      id: 90a2adf8-4f57-4b53-896d-44bddd4d064c
      version: -1
      name: Is PAN-OS/Panorama Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    scriptarguments:
      brandname:
        simple: Panorama
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2700,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: e31ad79c-5806-41f0-839b-f896c860d3cc
    type: condition
    task:
      id: e31ad79c-5806-41f0-839b-f896c860d3cc
      version: -1
      name: Is Active Directory Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "76"
    scriptarguments:
      brandname:
        simple: Active Directory Query v2
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: c34085c0-1974-4153-8f36-fb22e4ba0c4e
    type: condition
    task:
      id: c34085c0-1974-4153-8f36-fb22e4ba0c4e
      version: -1
      name: Is User Verification Required?
      description: Check if manual verification is required before block
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "47"
      "yes":
      - "40"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.UserVerification
            iscontext: true
          right:
            value:
              simple: "True"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1050
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: eda8a397-b0f5-4cb8-85a6-804bbbf59244
    type: title
    task:
      id: eda8a397-b0f5-4cb8-85a6-804bbbf59244
      version: -1
      name: No User to be blocked
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -5370,
          "y": 1105
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 90c4e379-c164-495b-8bd0-74e807433506
    type: regular
    task:
      id: 90c4e379-c164-495b-8bd0-74e807433506
      version: -1
      name: Set Naming Convention to a key
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: checks.common
      value:
        complex:
          root: inputs.NamingConvention
          transformers:
          - operator: replace
            args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
          - operator: split
            args:
              delimiter:
                value:
                  simple: ','
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 603550b4-89d3-4df1-84d9-1eb2951e0871
    type: regular
    task:
      id: 603550b4-89d3-4df1-84d9-1eb2951e0871
      version: -1
      name: Identify Potential Sensitive Users
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "45"
      - "43"
    scriptarguments:
      key:
        simple: Blocklist.Sensitive
      value:
        complex:
          root: Blocklist.Potential
          filters:
          - - operator: StringContainsArray
              left:
                value:
                  simple: Blocklist.Potential
                iscontext: true
              right:
                value:
                  simple: checks.common
                iscontext: true
              ignorecase: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 93dc1c23-81e4-40fd-8f62-9f4290882421
    type: regular
    task:
      id: 93dc1c23-81e4-40fd-8f62-9f4290882421
      version: -1
      name: Set User to a potential block list
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      key:
        simple: Blocklist.Potential
      value:
        complex:
          root: inputs.Username
          transformers:
          - operator: split
            args:
              delimiter:
                value:
                  simple: ','
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 39b3cf6c-5757-447b-8188-9ead6e21a445
    type: condition
    task:
      id: 39b3cf6c-5757-447b-8188-9ead6e21a445
      version: -1
      name: Check if there are any sensitive users to block
      description: Check if there are any sensitive users to block
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "44"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Blocklist.Sensitive
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2670,
          "y": -390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
    type: collection
    task:
      id: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
      version: -1
      name: Ask the user for verification [Sensitive Users]
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      type: collection
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2670,
          "y": -190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: Analyst
      subject:
        simple: Block Sensitive Account - User Verification Form
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of sensitive accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>Also, <strong>please note</strong> that the following accounts are listed as <strong> "Sensitive Accounts" based on a naming convention </strong> mentioned in the playbook:</p>
          <p>${Blocklist.Sensitive}</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      methods:
      - email
      format: html
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: true
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: 'Sensitive Users:'
        required: false
        gridcolumns: []
        defaultrows: []
        type: multiSelect
        options: []
        optionsarg:
        - simple: ${Blocklist.Sensitive}
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: 'Which sensitive users you would like to Block?  Choose from the following
        lists :'
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 4d484404-eefc-4cf6-8f56-abdae89d61e6
    type: collection
    task:
      id: 4d484404-eefc-4cf6-8f56-abdae89d61e6
      version: -1
      name: Ask the user for verification [without Sensitive Users]
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      type: collection
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: Analyst
      subject:
        simple: Block Account - User Verification Form
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      methods:
      - email
      format: html
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
        completeafterv2: false
        completeaftersla: false
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: 'Users to be blocked:'
        required: false
        gridcolumns: []
        defaultrows: []
        type: multiSelect
        options: []
        optionsarg:
        - complex:
            root: Blocklist
            accessor: Potential
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: 'Which Users you would like to Block?  Choose from the following lists
        :'
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
    type: regular
    task:
      id: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
      version: -1
      name: Set the final accounts list to be blocked
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        complex:
          root: ${Which Users you would like to Block?  Choose from the following
            lists :.Answers
          accessor: 0}
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: Which sensitive users you would like to Block?  Choose from
                    the following lists :.Answers.0
                iscontext: true
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": 170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: f97632fd-1653-4fda-8222-e8dbe5c36646
    type: regular
    task:
      id: f97632fd-1653-4fda-8222-e8dbe5c36646
      version: -1
      name: Set the final accounts list to be blocked
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        complex:
          root: inputs.Username
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1700,
          "y": 170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: de4b5f67-0713-4a24-933e-5ff0400428a7
    type: regular
    task:
      id: de4b5f67-0713-4a24-933e-5ff0400428a7
      version: -1
      name: Active Directory - Disable Account
      description: Disables an Active Directory user account.
      script: Active Directory Query v2|||ad-disable-account
      type: regular
      iscommand: true
      brand: Active Directory Query v2
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      username:
        complex:
          root: UserAD
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 950,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 64ddf917-048c-444b-8fea-b9529a3ad0b3
    type: condition
    task:
      id: 64ddf917-048c-444b-8fea-b9529a3ad0b3
      version: -1
      name: Is Username selected?
      description: Check if the analyst selected any users to block
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "46"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Which Users you would like to Block?  Choose from the following
                lists :.Answers.0
            iscontext: true
          right:
            value: {}
        - operator: isNotEmpty
          left:
            value:
              simple: Which sensitive users you would like to Block?  Choose from
                the following lists :.Answers.0
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -10
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: 8791822e-5e1e-4b28-82d9-a822aa17108d
    type: condition
    task:
      id: 8791822e-5e1e-4b28-82d9-a822aa17108d
      version: -1
      name: Is Slack IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Slack IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2410,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: e2aaa6e8-de1f-4399-8e89-2321fe4fa030
    type: title
    task:
      id: e2aaa6e8-de1f-4399-8e89-2321fe4fa030
      version: -1
      name: Slack IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "53"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2410,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: e8b7f7a8-2b9c-44ef-8eff-ceb494799432
    type: condition
    task:
      id: e8b7f7a8-2b9c-44ef-8eff-ceb494799432
      version: -1
      name: Is ServiceNow IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: ServiceNow IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2840,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: 6a694bcc-610d-46c4-8d22-dec644076b78
    type: title
    task:
      id: 6a694bcc-610d-46c4-8d22-dec644076b78
      version: -1
      name: ServiceNow IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "55"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -2840,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: 6345f42c-51a8-401f-8099-ecea5a0403c4
    type: condition
    task:
      id: 6345f42c-51a8-401f-8099-ecea5a0403c4
      version: -1
      name: Is Salesforce IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Salesforce IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -3260,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: dba2b9c1-cb47-41a9-8386-1de15a47de2d
    type: title
    task:
      id: dba2b9c1-cb47-41a9-8386-1de15a47de2d
      version: -1
      name: Salesforce IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "57"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -3260,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: c6cb894b-65a5-4e85-87f4-debe4d8cdbfe
    type: condition
    task:
      id: c6cb894b-65a5-4e85-87f4-debe4d8cdbfe
      version: -1
      name: Is PrismaCloud IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: PrismaCloud IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -3690,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: de7c1b4f-0ecc-4782-8346-50b679dac66b
    type: title
    task:
      id: de7c1b4f-0ecc-4782-8346-50b679dac66b
      version: -1
      name: PrismaCloud IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -3690,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: 1a19cd62-eafa-4b66-80aa-b397a439f52c
    type: condition
    task:
      id: 1a19cd62-eafa-4b66-80aa-b397a439f52c
      version: -1
      name: Is Microsoft Graph User Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "78"
    scriptarguments:
      brandname:
        simple: Microsoft Graph User
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: 31d15f37-d89d-4d09-8009-2a60c76d0b5e
    type: title
    task:
      id: 31d15f37-d89d-4d09-8009-2a60c76d0b5e
      version: -1
      name: Microsoft Graph User
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "63"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 31592372-486c-4648-8376-8889941df6c8
    type: condition
    task:
      id: 31592372-486c-4648-8376-8889941df6c8
      version: -1
      name: Is Zoom IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Zoom_IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4120,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: b98574a0-93fc-423b-87e1-bf888db3881a
    type: title
    task:
      id: b98574a0-93fc-423b-87e1-bf888db3881a
      version: -1
      name: Zoom IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4120,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: deb7235b-0e73-4aa7-8e3e-2b07ad73daf9
    type: condition
    task:
      id: deb7235b-0e73-4aa7-8e3e-2b07ad73daf9
      version: -1
      name: Is Atlassian IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: Atlassian IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4550,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: 5e5c6e1e-8c3a-42b8-85bd-3646e9b01531
    type: title
    task:
      id: 5e5c6e1e-8c3a-42b8-85bd-3646e9b01531
      version: -1
      name: Atlassian IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "67"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4550,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: cb58e6b2-a32f-4fc2-ba81-b4f0720441be
    type: regular
    task:
      id: cb58e6b2-a32f-4fc2-ba81-b4f0720441be
      version: -1
      name: Microsoft Graph User - Disable Account
      description: |-
        Disables a user from all Office 365 applications, and prevents sign in. Note: This command disables user,
        but does not terminate an existing session. Supported only in a self deployed app flow with the
        Permission: Directory.AccessAsUser.All(Delegated)
      script: Microsoft Graph User|||msgraph-user-account-disable
      type: regular
      iscommand: true
      brand: Microsoft Graph User
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      user:
        complex:
          root: UserMSGraph
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1760,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: 909312b6-5f6e-451c-83dd-a00e31c49197
    type: condition
    task:
      id: 909312b6-5f6e-451c-83dd-a00e31c49197
      version: -1
      name: Is GitHub IAM Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "81"
    scriptarguments:
      brandname:
        simple: GitHub IAM
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4970,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: 4f6321ef-dfb9-41fd-8a72-61bea5cff007
    type: title
    task:
      id: 4f6321ef-dfb9-41fd-8a72-61bea5cff007
      version: -1
      name: GitHub IAM
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "70"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -4970,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: a274143d-2455-4679-8064-41a6cc01e1be
    type: condition
    task:
      id: a274143d-2455-4679-8064-41a6cc01e1be
      version: -1
      name: Is Google Workspace Admin Integration Enabled?
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      scriptName: IsIntegrationAvailable
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "93"
    scriptarguments:
      brandname:
        simple: GSuiteAdmin
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 715
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: fa1e6574-7969-4b44-8593-b2244060cebe
    type: title
    task:
      id: fa1e6574-7969-4b44-8593-b2244060cebe
      version: -1
      name: Google Workspace Admin
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "72"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 555
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: 4b7d31c1-6339-4d9f-8d1a-3ff4abe20efb
    type: regular
    task:
      id: 4b7d31c1-6339-4d9f-8d1a-3ff4abe20efb
      version: -1
      name: Google Workspace Admin - Disable Account
      description: Updates a user.
      script: GSuiteAdmin|||gsuite-user-update
      type: regular
      iscommand: true
      brand: GSuiteAdmin
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "2"
    scriptarguments:
      suspended:
        simple: "true"
      user_key:
        complex:
          root: Blocklist
          accessor: Final
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: 8aefedd7-a4f0-49ae-a63e-107b955fa96f
    type: regular
    task:
      id: 8aefedd7-a4f0-49ae-a63e-107b955fa96f
      version: -1
      name: Get Account IDs From SailPoint
      description: Fetch accounts by search/filter parameters (id, display_name, last_refresh,
        native_identity, last_target_agg, identity_name & application_name) using
        IdentityIQ SCIM APIs.
      script: SailPointIdentityIQ|||identityiq-get-accounts
      type: regular
      iscommand: true
      brand: SailPointIdentityIQ
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "85"
    scriptarguments:
      display_name:
        complex:
          root: Blocklist
          accessor: Final
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 640,
          "y": 890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: 0f3e3317-a5f1-4708-9100-71d8deee6269
    type: regular
    task:
      id: 0f3e3317-a5f1-4708-9100-71d8deee6269
      version: -1
      name: Active Directory - Get User
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      script: '|||ad-get-user'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "77"
    scriptarguments:
      extend-context:
        simple: UserAD=attributes.sAMAccountName
      ignore-outputs:
        simple: "true"
      username:
        complex:
          root: Blocklist
          accessor: Final
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: 419df6f0-2416-4a48-8124-eb64ce5da93a
    type: condition
    task:
      id: 419df6f0-2416-4a48-8124-eb64ce5da93a
      version: -1
      name: Does the username exist?
      description: Verify that the user exists.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "87"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: UserAD
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 1090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: b4f253c0-79aa-4f96-aea6-0b24102a78f9
    type: regular
    task:
      id: b4f253c0-79aa-4f96-aea6-0b24102a78f9
      version: -1
      name: Microsoft Graph User - Get User
      description: |-
        Retrieves the properties and relationships of a user object. For more information, visit: https://docs.microsoft.com/en-us/graph/api/user-update?view=graph-rest-1.0.
        Permissions: - User.Read (Delegated) - User.Read.All (Application).
      script: Microsoft Graph User|||msgraph-user-get
      type: regular
      iscommand: true
      brand: Microsoft Graph User
      playbooktaskmissingcomponent: null
    nexttasks:
      '#error#':
      - "80"
      '#none#':
      - "79"
    scriptarguments:
      extend-context:
        simple: UserMSGraph=id
      ignore-outputs:
        simple: "true"
      user:
        complex:
          root: Blocklist
          accessor: Final
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "79":
    id: "79"
    taskid: 6a4ebfcb-e506-4333-81b5-8889065e2fbe
    type: condition
    task:
      id: 6a4ebfcb-e506-4333-81b5-8889065e2fbe
      version: -1
      name: Does the username exist?
      description: Verify that the user exists.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "89"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: UserMSGraph
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 1090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: 9c727ebc-c367-4d93-8c46-9a94e441cc3a
    type: playbook
    task:
      id: 9c727ebc-c367-4d93-8c46-9a94e441cc3a
      version: -1
      name: Foundation - Error Handling
      playbookName: Foundation - Error Handling
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1650
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: 32ae003a-1fa5-4b05-96c2-c8fa23554814
    type: condition
    task:
      id: 32ae003a-1fa5-4b05-96c2-c8fa23554814
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "33"
      Shadow Mode:
      - "82"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1460,
          "y": 990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: 4a7ea37e-8c02-4d25-9012-ba3bfabc15e6
    type: regular
    task:
      id: 4a7ea37e-8c02-4d25-9012-ba3bfabc15e6
      version: -1
      name: 'Shadow: IAM Disable User'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      value:
        simple: |-
          Shadow: IAM Disable User
          Command: iam-disable-user ${Blocklist.Final}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -1700,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: 096e41dc-b0ba-457c-a0ff-958eab5cad2b
    type: condition
    task:
      id: 096e41dc-b0ba-457c-a0ff-958eab5cad2b
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "34"
      Shadow Mode:
      - "84"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 200,
          "y": 1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: e83f7e76-e9f7-4278-9c78-c1efaac3b8c8
    type: regular
    task:
      id: e83f7e76-e9f7-4278-9c78-c1efaac3b8c8
      version: -1
      name: 'Shadow: PingOne Deactivate User'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      value:
        simple: |-
          Shadow: PingOne Deactivate User
          Command: pingone-deactivate-user
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "85":
    id: "85"
    taskid: 0a07259b-b2fd-4202-802e-dca83c86e91a
    type: condition
    task:
      id: 0a07259b-b2fd-4202-802e-dca83c86e91a
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "35"
      Shadow Mode:
      - "86"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 390,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "86":
    id: "86"
    taskid: a78dbb56-315e-4dcf-9099-e24e9c571cc9
    type: regular
    task:
      id: a78dbb56-315e-4dcf-9099-e24e9c571cc9
      version: -1
      name: 'Shadow: SailPoint Disable User'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      value:
        simple: |-
          Shadow: SailPoint Disable User
          Command: identityiq-disable-account
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 550,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "87":
    id: "87"
    taskid: 8f693a0b-31be-4a22-bcce-b5ba123f1fac
    type: condition
    task:
      id: 8f693a0b-31be-4a22-bcce-b5ba123f1fac
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "48"
      Shadow Mode:
      - "88"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "88":
    id: "88"
    taskid: ed3e629c-2483-4afe-b75d-ccb79180b48b
    type: regular
    task:
      id: ed3e629c-2483-4afe-b75d-ccb79180b48b
      version: -1
      name: 'Shadow: Active Directory Disable Account'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      value:
        simple: |-
          Shadow: Active Directory Disable Account
          Command: ad-disable-account ${UserAD}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "89":
    id: "89"
    taskid: 2bc496f7-3119-4341-8a3c-7330377148f7
    type: condition
    task:
      id: 2bc496f7-3119-4341-8a3c-7330377148f7
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "69"
      Shadow Mode:
      - "90"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1620,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "90":
    id: "90"
    taskid: d446c5e6-d5a2-4ce3-b0f9-3b56cca55d17
    type: regular
    task:
      id: d446c5e6-d5a2-4ce3-b0f9-3b56cca55d17
      version: -1
      name: 'Shadow: Microsoft Graph User Disable Account'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      user:
        simple: |-
          Shadow: Microsoft Graph User Disable Account
          Command: msgraph-user-account-disable
      value:
        simple: |-
          Shadow: Microsoft Graph User Disable Account
          Command: ${UserMSGraph}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2170,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "91":
    id: "91"
    taskid: f5c259de-a8b6-4df6-be44-a9ee299b061b
    type: condition
    task:
      id: f5c259de-a8b6-4df6-be44-a9ee299b061b
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "15"
      Shadow Mode:
      - "92"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2700,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "92":
    id: "92"
    taskid: 067be8bb-a616-4b36-b846-8314a63f9939
    type: regular
    task:
      id: 067be8bb-a616-4b36-b846-8314a63f9939
      version: -1
      name: 'Shadow: PAN-OS Register Tag to User'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      user:
        simple: |-
          Shadow: Microsoft Graph User Disable Account
          Command: msgraph-user-account-disable
      value:
        simple: |-
          Shadow: PAN-OS Register Tag to User
          Command: pan-os-register-user-tag ${Blocklist.Final}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2950,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "93":
    id: "93"
    taskid: 05d57e0f-4bdb-4f6b-aa39-473461333d71
    type: condition
    task:
      id: 05d57e0f-4bdb-4f6b-aa39-473461333d71
      version: -1
      name: Run Mode?
      scriptName: ShadowModeRouter
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      Full Run:
      - "74"
      Shadow Mode:
      - "94"
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "94":
    id: "94"
    taskid: 4145c31a-0721-4050-86fd-eca739f88df8
    type: regular
    task:
      id: 4145c31a-0721-4050-86fd-eca739f88df8
      version: -1
      name: 'Shadow: Google Workspace Admin - Disable User'
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      user:
        simple: |-
          Shadow: Microsoft Graph User Disable Account
          Command: msgraph-user-account-disable
      value:
        simple: |
          Shadow: Google Workspace Admin - Disable User
          Command: gsuite-user-data    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {
      "16_2_#default#": 0.1,
      "16_91_yes": 0.9,
      "26_2_#default#": 0.11,
      "26_81_yes": 0.84,
      "27_2_#default#": 0.1,
      "28_2_#default#": 0.15,
      "28_81_yes": 0.1,
      "29_2_#default#": 0.11,
      "29_83_yes": 0.36,
      "30_2_#default#": 0.26,
      "30_81_yes": 0.11,
      "31_2_#default#": 0.27,
      "31_81_yes": 0.12,
      "32_2_#default#": 0.18,
      "32_81_yes": 0.85,
      "36_2_#default#": 0.1,
      "37_2_#default#": 0.12,
      "43_44_yes": 0.49,
      "52_39_#default#": 0.2,
      "53_2_#default#": 0.1,
      "53_81_yes": 0.79,
      "55_2_#default#": 0.1,
      "55_81_yes": 0.86,
      "57_2_#default#": 0.1,
      "57_81_yes": 0.18,
      "59_2_#default#": 0.1,
      "59_81_yes": 0.14,
      "63_2_#default#": 0.1,
      "65_2_#default#": 0.1,
      "65_81_yes": 0.1,
      "67_2_#default#": 0.1,
      "67_81_yes": 0.1,
      "70_2_#default#": 0.1,
      "70_81_yes": 0.1,
      "72_2_#default#": 0.1,
      "72_93_yes": 0.44,
      "79_89_yes": 0.85,
      "8_38_yes": 0.65,
      "8_39_#default#": 0.13
    },
    "paper": {
      "dimensions": {
        "height": 3170,
        "width": 8700,
        "x": -5370,
        "y": -1450
      }
    }
  }
inputs:
- key: Username
  value: {}
  required: false
  description: Array of malicious usernames to block.
  playbookInputQuery: null
- key: Tag
  value:
    simple: Bad Account
  required: false
  description: PAN-OS Tag name to apply to the username that you want to block.
  playbookInputQuery: null
- key: NamingConvention
  value: {}
  required: false
  description: In case you are using naming convention in your IDP, please specify
    a prefix for special/service accounts (use comma separated)
  playbookInputQuery: null
- key: UserVerification
  value:
    simple: "True"
  required: false
  description: |-
    Possible values:True/False. Default:True.
    Specify if User Verification is Requrired
  playbookInputQuery: null
- key: ShadowMode
  value:
    simple: "true"
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - Username
  - Tag
  - NamingConvention
  - UserVerification
  - ShadowMode
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Blocklist.Final
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Blocklist.Final
  description: Blocked accounts.
  type: unknown
sourceplaybookid: Block Account - Generic v2
dirtyInputs: true
adopted: true
