Playbooks/SOC_Eradication_Plan_-_Terminate_Process.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    toServerVersion: ""
description: "This playbook is one of the sub-playbooks in the eradication plan. \nThis
  playbook handles the termination of the processes as a crucial step in the eradication
  action.\nThe playbook executes actions of process termination, which is a crucial
  step in the eradication process.\nThe process termination can be performed based
  on either the process ID or the process name."
dirtyInputs: true
id: 'SOC Eradication Plan - Terminate Process'
inputSections:
- description: Generic group for inputs
  inputs:
  - ProcessTermination
  - EndpointID
  - FilePath
  - ProcessID
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: "Choose 'PID' to terminate the process by PID or 'Name' to terminate
    the process by process name. \nNote: If neither option is selected, the process
    will not be terminated."
  key: ProcessTermination
  playbookInputQuery: null
  required: false
  value:
    simple: Name
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: The file path for the process termination.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The process ID to terminate.
  key: ProcessID
  playbookInputQuery: null
  required: false
  value: {}
- description: Shadow Mode is a key safety mechanism. It ensures actions like isolate_endpoint
    or disable_user are logged but not executed in test scenarios.
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: SOC Eradication Plan - Terminate Process
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - TerminatedProcessFromEndpoints
outputs:
- contextPath: TerminatedProcessFromEndpoints
  description: The terminated process from endpoint
  type: unknown
sourceplaybookid: Eradication Plan - Terminate Process
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c2bd2d8-2747-473f-873c-fdf0258c1425
      iscommand: false
      name: ""
      version: -1
    taskid: 0c2bd2d8-2747-473f-873c-fdf0258c1425
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessTermination
          operator: isEqualString
          right:
            value:
              simple: PID
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessID
          operator: notContainsGeneral
          right:
            value:
              simple: \
      label: PID
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ProcessTermination
          operator: isEqualString
          right:
            value:
              simple: Name
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EndpointID
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
      label: Name
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      Name:
      - "22"
      PID:
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to terminate the process automatically, manually, or not
        at all.
      id: 387a0de2-f9a3-412a-8531-299ba47ac010
      iscommand: false
      name: Should terminate the process?
      type: condition
      version: -1
    taskid: 387a0de2-f9a3-412a-8531-299ba47ac010
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 210
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b6c458a7-8533-4692-87af-498de4ea894f
      iscommand: false
      name: Done - Process Termination
      type: title
      version: -1
    taskid: b6c458a7-8533-4692-87af-498de4ea894f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1457.25,
          "y": 1575
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: errorPath
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.GetActionStatus
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve the results of a script execution action.
      id: 7a78b307-e4c3-43e8-a792-f5aa97aef737
      iscommand: true
      name: Get command result
      script: '|||core-get-script-execution-results'
      type: regular
      version: -1
    taskid: 7a78b307-e4c3-43e8-a792-f5aa97aef737
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 921.5,
          "y": 890
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: errorPath
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_ids:
        complex:
          root: inputs.EndpointID
      process_name:
        complex:
          root: FilePath
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[^\\]+$'
              unpack_matches: {}
            operator: RegexExtractAll
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Initiates a new endpoint script execution kill process.
      id: ef0dd65f-bc20-4019-9c21-80be16c48811
      iscommand: true
      name: process termination
      script: '|||core-run-script-kill-process'
      type: regular
      version: -1
    taskid: ef0dd65f-bc20-4019-9c21-80be16c48811
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 720
        }
      }
  "10":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: standard_output
                root: Core.ScriptResult.results
          operator: notEndWith
          right:
            value:
              simple: 'killed: 0.'
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the process was terminated.
      id: 5bb3ab00-26df-4e11-89b2-a213d1eba8aa
      iscommand: false
      name: Was the process terminated?
      type: condition
      version: -1
    taskid: 5bb3ab00-26df-4e11-89b2-a213d1eba8aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1112,
          "y": 1060
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: errorPath
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessFromEndpoints=
      ignore-outputs:
        simple: "true"
      key:
        complex:
          root: inputs.EndpointID
      value:
        complex:
          accessor: standard_output
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Core.ScriptResult.results._return_value
              operator: isEqualString
              right:
                value:
                  simple: "True"
          root: Core.ScriptResult.results
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: .*name (.*) found.*
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5ea381cd-00ea-42df-b3cd-c54c7eee9f4c
      iscommand: false
      name: Set terminated process per endpoint ID
      script: Set
      type: regular
      version: -1
    taskid: 5ea381cd-00ea-42df-b3cd-c54c7eee9f4c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1262,
          "y": 1230
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: errorPath
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessOnEndpoints=
      key:
        simple: TerminatedProcessPerEndpointsID
      value:
        complex:
          root: TerminatedProcessFromEndpoints
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: 1bb11c3b-a4c6-4301-9d8f-ca031e1cd70e
      iscommand: true
      name: Set Deleted files per endpoint ID to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: 1bb11c3b-a4c6-4301-9d8f-ca031e1cd70e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1407.25,
          "y": 1400
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: errorPath
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      commands:
        simple: taskkill /F /PID ${ProcessID}
      endpoint_ids:
        complex:
          root: inputs.EndpointID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Initiate a new endpoint script execution of shell commands.
      id: dcb93cd0-eb90-435e-87c5-1a81049d7f48
      iscommand: true
      name: process termination
      script: '|||core-run-script-execute-commands'
      type: regular
      version: -1
    taskid: dcb93cd0-eb90-435e-87c5-1a81049d7f48
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2764.5,
          "y": 720
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: errorPath
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      action_id:
        complex:
          accessor: action_id
          root: Core.ScriptRun
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve the results of a script execution action.
      id: 8a42ce25-88cc-4735-b9a8-f70089cd1182
      iscommand: true
      name: Get command result
      script: '|||core-get-script-execution-results'
      type: regular
      version: -1
    taskid: 8a42ce25-88cc-4735-b9a8-f70089cd1182
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3000.25,
          "y": 890
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: standard_output
                root: Core.ScriptResult.results
          operator: endWith
          right:
            value:
              simple: has been terminated.
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the termination of the process was successful.
      id: 1a42b9b2-db4a-4905-8dd5-4b47d18449fc
      iscommand: false
      name: Was the process terminated?
      type: condition
      version: -1
    taskid: 1a42b9b2-db4a-4905-8dd5-4b47d18449fc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3245.5,
          "y": 1060
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: errorPath
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessFromEndpoints=
      ignore-outputs:
        simple: "true"
      key:
        complex:
          root: inputs.EndpointID
      value:
        complex:
          accessor: standard_output
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Core.ScriptResult.results._return_value
              operator: isEqualString
              right:
                value:
                  simple: "True"
          root: Core.ScriptResult.results
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: .*name (.*) found.*
              unpack_matches: {}
            operator: RegexExtractAll
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 330ebeba-1363-4bbb-aaf9-577b4f2e818f
      iscommand: false
      name: Set terminated process per endpoint ID
      script: Set
      type: regular
      version: -1
    taskid: 330ebeba-1363-4bbb-aaf9-577b4f2e818f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3390.75,
          "y": 1230
        }
      }
  "18":
    continueonerror: true
    continueonerrortype: errorPath
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: TerminatedProcessOnEndpoints=
      key:
        simple: TerminatedProcessPerEndpointsID
      value:
        complex:
          root: TerminatedProcessFromEndpoints
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: 6339d3c1-4982-43aa-a985-705bb5ce42c8
      iscommand: true
      name: Set Deleted files per endpoint ID to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: 6339d3c1-4982-43aa-a985-705bb5ce42c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3536,
          "y": 1400
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: errorPath
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The process termination has failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 87d317e4-6a59-417e-8a49-67b37b1c4a7e
      iscommand: false
      name: Print Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 87d317e4-6a59-417e-8a49-67b37b1c4a7e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2955,
          "y": 1400
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: errorPath
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      message:
        simple: The process termination has failed.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message
      id: 597a7cb9-dae4-42fb-83d6-85ed7a68f898
      iscommand: false
      name: Print Error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 597a7cb9-dae4-42fb-83d6-85ed7a68f898
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 826.25,
          "y": 1400
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: errorPath
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ProcessID
      value:
        complex:
          root: inputs.ProcessID
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: PID\":\"(\d+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.ProcessID
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 1b8b945d-813a-4759-92a7-d4ab514e5b06
      iscommand: false
      name: Set PID
      script: Set
      type: regular
      version: -1
    taskid: 1b8b945d-813a-4759-92a7-d4ab514e5b06
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2474,
          "y": 380
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: errorPath
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "23"
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilePath
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: Path\":\"(.+?)\"
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.FilePath
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c6e876b7-bdb5-43d9-99e2-37ef4496b624
      iscommand: false
      name: Set Path
      script: Set
      type: regular
      version: -1
    taskid: c6e876b7-bdb5-43d9-99e2-37ef4496b624
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 380
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: b7df908e-dfb8-4d89-9baf-cbe2e3960eb2
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: b7df908e-dfb8-4d89-9baf-cbe2e3960eb2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1938.25,
          "y": 1570
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ShadowMode
          operator: isFalse
          right:
            value: {}
      label: "no"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "no":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 57eecd13-3490-4c1b-87df-640f8d236242
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 57eecd13-3490-4c1b-87df-640f8d236242
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 631,
          "y": 550
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: XSIAM Terminate Process
          Command: core-run-script-kill-process
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 72b48b1f-cb80-4d89-a17b-c456d7ae6311
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 72b48b1f-cb80-4d89-a17b-c456d7ae6311
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1400
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ShadowMode
          operator: isFalse
          right:
            value: {}
      label: "no"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "no":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 45617e9d-a50c-473b-bfa9-e934232bb8d7
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 45617e9d-a50c-473b-bfa9-e934232bb8d7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2619.25,
          "y": 550
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: XSIAM Terminate Process
          Command: core-run-script-execute-commands
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: fa7d891a-2b9f-40d2-8b8c-a6da2a0b28db
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: fa7d891a-2b9f-40d2-8b8c-a6da2a0b28db
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2178.75,
          "y": 1400
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_17_yes": 0.41,
      "1_5_#default#": 0.14
    },
    "paper": {
      "dimensions": {
        "height": 1590,
        "width": 3866,
        "x": 50,
        "y": 50
      }
    }
  }
