Playbooks/SOC_Containment_Plan_-_Clear_User_Sessions.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    toServerVersion: ""
description: |-
  ## Containment Plan - Clear User Sessions

  This playbook is a sub-playbook within the containment plan playbook.
  The playbook uses the 'Okta v2' and 'MSGraph User' integrations to clear user sessions.
dirtyInputs: true
id: 'SOC Containment Plan - Clear User Sessions'
inputSections:
- description: Generic group for inputs.
  inputs:
  - ClearUserSessions
  - Username
  - IAMUserDomain
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: Set to 'True' to clear the user active sessions.
  key: ClearUserSessions
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The username to disable.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The Okta IAM users domain. The domain will be appended to the username.
    E.g., username@IAMUserDomain.
  key: IAMUserDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: Shadow Mode is a key safety mechanism. It ensures actions like isolate_endpoint
    or disable_user are logged but not executed in test scenarios.
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: SOC Containment Plan - Clear User Sessions
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Containment Plan - Clear User Sessions
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2a578bb-7b26-4477-8391-2e40e77fb9d5
      iscommand: false
      name: ""
      version: -1
    taskid: f2a578bb-7b26-4477-8391-2e40e77fb9d5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: errorPath
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      userId:
        complex:
          accessor: ID
          root: Account
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Removes all active identity provider sessions. This forces the user to authenticate on the next operation. Optionally revokes OpenID Connect and OAuth refresh and access tokens issued to the user.
        For more information and examples:
        https://developer.okta.com/docs/reference/api/users/#user-sessions
      id: e304b0f7-4e22-4986-8b06-819a3e2be2fa
      iscommand: true
      name: Okta clear user sessions
      script: '|||okta-clear-user-sessions'
      type: regular
      version: -1
    taskid: e304b0f7-4e22-4986-8b06-819a3e2be2fa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 921.5,
          "y": 1230
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 581b7da6-4c88-41a6-8175-a2116add396c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 581b7da6-4c88-41a6-8175-a2116add396c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490.5,
          "y": 1575
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: errorPath
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        simple: ${OktaUsersSessionToClear}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Fetches information for a single user. You must enter one or more
        parameters for the command to run.
      id: f56905ef-217d-45eb-8a08-bf2ceabd12c8
      iscommand: true
      name: Get Okta user ID
      script: '|||okta-get-user'
      type: regular
      version: -1
    taskid: f56905ef-217d-45eb-8a08-bf2ceabd12c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 720
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: errorPath
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsersSessionCleared
      value:
        complex:
          accessor: Username
          root: Account
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: be225f45-b7ad-4c31-8709-8fe57ab9a463
      iscommand: true
      name: Set the username to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: be225f45-b7ad-4c31-8709-8fe57ab9a463
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440.5,
          "y": 1400
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: errorPath
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: OktaUsersSessionToClear
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: administrator
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: system
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 832c34b8-23a7-4424-8fa3-b88064b15bd4
      iscommand: false
      name: Set users to clear the session with Okta
      script: Set
      type: regular
      version: -1
    taskid: 832c34b8-23a7-4424-8fa3-b88064b15bd4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 550
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Okta v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 4025c083-2630-4171-889e-5f05b1fc51eb
      iscommand: false
      name: Is Okta enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4025c083-2630-4171-889e-5f05b1fc51eb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 380
        }
      }
  "17":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.ClearUserSessions
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Username
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to clear the user sessions based on the input values.
      id: f1d3409f-55f4-4804-8a48-354971cae04e
      iscommand: false
      name: Should clear the user sessions?
      type: condition
      version: -1
    taskid: f1d3409f-55f4-4804-8a48-354971cae04e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 210
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Microsoft Graph User
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: 64c30075-eba8-4222-8251-cf075b841898
      iscommand: false
      name: Is MsGraphUser enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 64c30075-eba8-4222-8251-cf075b841898
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1797.75,
          "y": 380
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: errorPath
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        simple: ${MsGraphUsersSessionToClear}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Retrieves the properties and relationships of a user object. For more information, visit: https://docs.microsoft.com/en-us/graph/api/user-update?view=graph-rest-1.0).
        Permissions: - User.Read (Delegated) - User.Read.All (Application).
      id: 7e3bae65-19fb-48cf-b0c8-8bcc857f4eea
      iscommand: true
      name: Get MsGraph user ID
      script: '|||msgraph-user-get'
      type: regular
      version: -1
    taskid: 7e3bae65-19fb-48cf-b0c8-8bcc857f4eea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2038.25,
          "y": 720
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: errorPath
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        simple: ${MSGraphUser.ID}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Revoke a user session - Invalidates all the refresh tokens issued to applications for a user.
        Permission: Directory.AccessAsUser.All(Delegated).
      id: 6d1fa466-5107-4b75-8e9c-a48676f978c4
      iscommand: true
      name: MSGraph clear user sessions
      script: '|||msgraph-user-session-revoke'
      type: regular
      version: -1
    taskid: 6d1fa466-5107-4b75-8e9c-a48676f978c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2569.25,
          "y": 1230
        }
      }
  "22":
    continueonerror: true
    continueonerrortype: errorPath
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsersSessionCleared
      value:
        simple: ${MSGraphUser.UserPrincipalName}
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.set.parent.alert.context
      id: 82a1ff8e-ac1d-41a4-9dac-a34c0e3d7415
      iscommand: true
      name: Set the username to the Alert context
      script: Builtin|||setParentIncidentContext
      type: regular
      version: -1
    taskid: 82a1ff8e-ac1d-41a4-9dac-a34c0e3d7415
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2088.25,
          "y": 1400
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: MSGraphUser.ID
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the user exists.
      id: 4655db74-8104-4510-88b0-d9a081911b34
      iscommand: false
      name: Does the username exist?
      type: condition
      version: -1
    taskid: 4655db74-8104-4510-88b0-d9a081911b34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2183.5,
          "y": 890
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: ID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Account.Type
                    operator: isEqualString
                    right:
                      value:
                        simple: Okta
                root: Account
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the user exists.
      id: c1ba5bf5-e37f-41ee-8392-7709acc40e8f
      iscommand: false
      name: Does the username exist?
      type: condition
      version: -1
    taskid: c1ba5bf5-e37f-41ee-8392-7709acc40e8f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 531,
          "y": 890
        }
      }
  "27":
    continueonerror: true
    continueonerrortype: errorPath
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "28"
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: MsGraphUsersSessionToClear
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: administrator
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: system
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 66d06cd1-d8da-44b2-a725-5cc92f43ca73
      iscommand: false
      name: Set users to clear the session with MsGraph
      script: Set
      type: regular
      version: -1
    taskid: 66d06cd1-d8da-44b2-a725-5cc92f43ca73
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 550
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: f8c8928c-9edc-444e-8bf0-4baa9ac64565
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: f8c8928c-9edc-444e-8bf0-4baa9ac64565
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1166.75,
          "y": 1570
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ShadowMode
          operator: isFalse
          right:
            value: {}
      label: "no"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "30"
      "no":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a93d720-d943-4523-86c9-97db1fb139ec
      iscommand: false
      name: Shadow Mode?
      type: condition
      version: -1
    taskid: 6a93d720-d943-4523-86c9-97db1fb139ec
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 681,
          "y": 1060
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Clear Okta User Session
          Command: okta-clear-user-sessions
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 63fceb87-a504-43b0-aec6-7de37bae8fb3
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 63fceb87-a504-43b0-aec6-7de37bae8fb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 440.5,
          "y": 1230
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ShadowMode
          operator: isFalse
          right:
            value: {}
      label: "no"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "32"
      "no":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cf67634f-f1b7-46b3-863f-9c2d5fcb0477
      iscommand: false
      name: Shadow Mode?
      type: condition
      version: -1
    taskid: cf67634f-f1b7-46b3-863f-9c2d5fcb0477
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2328.75,
          "y": 1060
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Clear MSGraph User Session
          Command: msgraph-user-session-revoke
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 97271870-eceb-43ff-bab0-ad30ca54d9f8
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 97271870-eceb-43ff-bab0-ad30ca54d9f8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2088.25,
          "y": 1230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_2_#default#": 0.15,
      "17_15_yes": 0.48,
      "17_2_#default#": 0.11,
      "18_2_#default#": 0.16,
      "23_2_#default#": 0.25,
      "23_31_yes": 0.81,
      "25_2_#default#": 0.33
    },
    "paper": {
      "dimensions": {
        "height": 1590,
        "width": 2899.25,
        "x": 50,
        "y": 50
      }
    }
  }
adopted: true