Playbooks/SOC_Block_URL_-_Generic_v2.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    isoverridable: false
    itemVersion: 2.7.15
    packID: ""
    packName: Common Playbooks
    prevname: ""
    supportedModules:
    - X1
    - X3
    - X5
    - ENT_PLUS
    - agentix
    toServerVersion: ""
description: |-
  This playbook blocks malicious URLs using all integrations that are enabled.

  Supported integrations for this playbook:
  * Palo Alto Networks PAN-OS
  * Zscaler
  * Sophos
  * Forcepoint
  * Checkpoint
  * Netcraft.
dirtyInputs: true
id: 'SOC Block URL - Generic v2'
inputSections:
- description: Generic group for inputs
  inputs:
  - URL
  - LogForwarding
  - AutoCommit
  - CustomURLCategory
  - type
  - categories
  - UserVerification
  - EDLServerIP
  - device-group
  - Tag
  - Folder
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: Array of malicious URLs to block.
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: Log Forwarding object name.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input establishes whether to commit the configuration automatically.
    Yes - Commit automatically.
    No - Commit manually.
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: Custom URL Category name.
  key: CustomURLCategory
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR Remediation - Malicious URLs
- description: Custom URL category type. Insert "URL List"/ "Category Match".
  key: type
  playbookInputQuery: null
  required: false
  value: {}
- description: The list of categories. Relevant from PAN-OS v9.x.
  key: categories
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values:True/False. Default:True.
    Specify if User Verification is Requrired
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: EDL Server IP Address
  key: EDLServerIP
  playbookInputQuery: null
  required: false
  value: {}
- description: Device group for the Custom URL Category (Panorama instances).
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
- description: Insert a tag name with which indicators will get tagged. This tag can
    be used later in the External Dynamic Lists integration by using the tag for filtering
    IPs in the indicator query.
  key: Tag
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    For prisma SASE usage - Specify the scope for a newly created security rule to be applied.
    Remember, this input will only be used when there is no input to the CategoryName.
    Default: Shared
  key: Folder
  playbookInputQuery: null
  required: false
  value:
    simple: Shared
- description: ""
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: SOC Block URL - Generic v2
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: Block URL - Generic v2
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f7a7452c-dafe-4b3e-8461-4ea61daf5e3b
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: f7a7452c-dafe-4b3e-8461-4ea61daf5e3b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": -470
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8f968aa5-26ca-4471-891b-4ac7f9114147
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 8f968aa5-26ca-4471-891b-4ac7f9114147
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 1385
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "18"
      - "26"
      - "28"
      - "32"
      - "38"
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ecece7aa-0eb6-4f67-8a9b-dfc77bcef34d
      iscommand: false
      name: Block URLs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: ecece7aa-0eb6-4f67-8a9b-dfc77bcef34d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 425
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Blocklist.URL
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one URL to block.
      id: 0e2e9b54-cbaa-4f8c-85b2-b5927f30f52a
      iscommand: false
      name: Is there a URL to block?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 0e2e9b54-cbaa-4f8c-85b2-b5927f30f52a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Zscaler enabled.
      id: efeca267-b6d2-4a08-8325-e8fb7c1dd633
      iscommand: false
      name: Is Zscaler enabled?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: efeca267-b6d2-4a08-8325-e8fb7c1dd633
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 700
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: errorPath
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: true
    task:
      brand: Zscaler
      description: Adds the specified URLs to the block list.
      id: 5f366f9a-ddac-4072-b304-ecbbbe74499e
      iscommand: true
      name: Block URL with Zscaler
      playbooktaskmissingcomponent: null
      script: Zscaler|||zscaler-blacklist-url
      type: regular
      version: -1
    taskid: 5f366f9a-ddac-4072-b304-ecbbbe74499e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 570,
          "y": 1100
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90b64f91-6db0-4a69-86e3-80aa6fc36ebd
      iscommand: false
      name: Checkpoint
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 90b64f91-6db0-4a69-86e3-80aa6fc36ebd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 140,
          "y": 570
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9e331921-f00a-47d7-8f02-8ab4fbacc053
      iscommand: false
      name: Zscaler
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 9e331921-f00a-47d7-8f02-8ab4fbacc053
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 700,
          "y": 570
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EDLServerIP
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should use EDL or not
      id: b9e7db2b-6985-4410-8e01-ccb9950cd8b7
      iscommand: false
      name: Use EDL?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: b9e7db2b-6985-4410-8e01-ccb9950cd8b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -310,
          "y": 700
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: CheckPointFirewall_v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: da7121fa-715d-4010-81ac-e519b88b58e3
      iscommand: false
      name: "Is CheckPoint Integration \nAavailable?"
      playbooktaskmissingcomponent: null
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: da7121fa-715d-4010-81ac-e519b88b58e3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 140,
          "y": 700
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook blocks URLs using Checkpoint Firewall through Custom URL Categories.
        The playbook checks whether the input URL category already exists, and if the URLs are a part of this category. Otherwise, it will create the category, block the URLs, and publish the configuration.
      id: 195a51ea-2a0b-47e3-83f6-c6b6a4938847
      iscommand: false
      name: Checkpoint - Block URL
      playbookId: Checkpoint - Block URL
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 195a51ea-2a0b-47e3-83f6-c6b6a4938847
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 150,
          "y": 915
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "This playbook adds the URL to the Default Block URL Policy. (The
        target\npolicy can be changed as requested).\nPre-Requisite: \n1) Create a
        web policy rule that refers to the URL group you specified on the inputs of
        the playbook.\n2) Create a new firewall rule and assign the web policy to
        the one created in the previous step."
      id: 0dd55a58-9d45-449e-8b9f-3c1630188951
      iscommand: false
      name: Sophos Firewall - Block URL
      playbookId: Sophos Firewall - Block URL
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 0dd55a58-9d45-449e-8b9f-3c1630188951
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 915
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 21af0a6a-234a-4061-884a-86f3209ae79e
      iscommand: false
      name: No URL was definded
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 21af0a6a-234a-4061-884a-86f3209ae79e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2080,
          "y": 945
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 42362e33-89e4-4e9a-89ad-8fca62f06425
      iscommand: false
      name: Sophos
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 42362e33-89e4-4e9a-89ad-8fca62f06425
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 570
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: sophos_firewall
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c08fd24c-0333-4f69-8700-69b92c530882
      iscommand: false
      name: Is Sophos Integration Enabled?
      playbooktaskmissingcomponent: null
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c08fd24c-0333-4f69-8700-69b92c530882
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1170,
          "y": 700
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12ce6945-cd09-46e6-8661-748f50ed220c
      iscommand: false
      name: EDL
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 12ce6945-cd09-46e6-8661-748f50ed220c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -310,
          "y": 570
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: errorPath
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        complex:
          root: inputs.Tag
      indicatorsValues:
        complex:
          accessor: URL
          root: Blocklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      id: f5c64bf3-5853-428d-8f8c-8ede36080770
      iscommand: true
      name: Update Tag For URLs
      playbooktaskmissingcomponent: null
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: f5c64bf3-5853-428d-8f8c-8ede36080770
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -320,
          "y": 1100
        }
      }
  "30":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please select those URLs that you would like to block:'
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Would you like to Block the following URLs?
      totalanswers: 0
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Dear XSOAR user, Please approve those URLs that you would like to
          block in your internal systems
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'User Verification - Block URLs (Inc #${alert.id})'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Ask the analyst for verification of which URL to block
      id: 7948896f-f14b-4e0b-865e-47a3a0c1da3f
      iscommand: false
      name: User Verification
      playbooktaskmissingcomponent: null
      type: collection
      version: -1
    taskid: 7948896f-f14b-4e0b-865e-47a3a0c1da3f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 590,
          "y": -160
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.URL
      value:
        simple: ${Would you like to Block the following URLs?.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 6a38d62a-b597-4165-87e8-7b5b92953ca5
      iscommand: false
      name: Append the URLs' blocking list
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 6a38d62a-b597-4165-87e8-7b5b92953ca5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 590,
          "y": 10
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d561f0f8-0d4c-4ba3-8560-187751ca5c85
      iscommand: false
      name: Forcepoint
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: d561f0f8-0d4c-4ba3-8560-187751ca5c85
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 570
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Forcepoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 08e14d34-e96d-422a-8640-f5ef9a6eaa7a
      iscommand: false
      name: Is Forcepoint Integration Enabled?
      playbooktaskmissingcomponent: null
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 08e14d34-e96d-422a-8640-f5ef9a6eaa7a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 700
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: errorPath
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      urls:
        simple: ${Blocklist.URL}
    separatecontext: false
    skipunavailable: true
    task:
      brand: Forcepoint
      description: "Append a specific category in Forcepoint with the Blocked URLs.
        \nYou can choose to add those to a default category (For more info - refer
        to https://www.forcepoint.com/product/feature/master-database-url-categories)\nor
        specify a custom/user-defined category."
      id: 89279561-a8cd-4cc8-b0fc-98514ebb67a1
      iscommand: true
      name: Forcepoint - Add URL's to a specific category
      playbooktaskmissingcomponent: null
      script: Forcepoint|||fp-add-address-to-category
      type: regular
      version: -1
    taskid: 89279561-a8cd-4cc8-b0fc-98514ebb67a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 1100
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should ask for user verification
      id: 33d5bf90-736a-4228-8307-53b1d58d4550
      iscommand: false
      name: Is User Verification Is Required?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 33d5bf90-736a-4228-8307-53b1d58d4550
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": -330
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.URL
      value:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 76856aa5-7ff2-415b-8f6f-e4bd1e6798a9
      iscommand: false
      name: Set Input URLs as Blocklist.
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 76856aa5-7ff2-415b-8f6f-e4bd1e6798a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 170,
          "y": -160
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e889ae46-04a0-4514-8923-2291cec2883a
      iscommand: false
      name: Netcraft
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: e889ae46-04a0-4514-8923-2291cec2883a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1190,
          "y": 570
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "46"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Netcraft V2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 35fcf7d9-19c6-48fe-831d-0b78cbf96323
      iscommand: false
      name: Is Netcraft Integration Enabled?
      playbooktaskmissingcomponent: null
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 35fcf7d9-19c6-48fe-831d-0b78cbf96323
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1190,
          "y": 700
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: errorPath
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      attack:
        complex:
          accessor: URL
          root: Blocklist
      comment:
        simple: Malicious - Added by Netcraft Integration
    separatecontext: false
    skipunavailable: true
    task:
      brand: Netcraft V2
      description: |
        Report a new attack or authorize an existing attack in the Takedown Service.
        If a takedown for the attack already exists in the Netcraft system it will be authorized, otherwise, a new takedown will be added and authorized.
      id: 1ec1007b-cee0-4042-9347-89d34dc15280
      iscommand: true
      name: Block URL with Netcraft
      playbooktaskmissingcomponent: null
      script: Netcraft V2|||netcraft-attack-report
      type: regular
      version: -1
    taskid: 1ec1007b-cee0-4042-9347-89d34dc15280
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1210,
          "y": 1110
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f840dbdd-478b-445f-8f0b-a5527a54467b
      iscommand: false
      name: Prisma SASE
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f840dbdd-478b-445f-8f0b-a5527a54467b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 570
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Palo Alto Networks - Prisma SASE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e5de9af1-33df-4064-82d9-b5b87f472d7f
      iscommand: false
      name: Is Prisma SASE Enabled?
      playbooktaskmissingcomponent: null
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e5de9af1-33df-4064-82d9-b5b87f472d7f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1610,
          "y": 700
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      CategoryName:
        complex:
          root: inputs.CustomURLCategory
      Folder:
        complex:
          root: inputs.Folder
          transformers:
          - operator: uniq
      ShadowMode:
        simple: ${inputs.ShadowMode}
      URL:
        complex:
          accessor: URL
          root: Blocklist
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        The playbook will handle the operation of blocking a URL within the organization.
        If a category is provided, the URL will be added to the list.
        If not, a new URL category will be created, and a new security rule that blocks that category.
      id: 44174e4f-4c2f-4b0d-bca9-2d20443cb14a
      iscommand: false
      name: Prisma SASE - Block URL
      playbookId: Prisma SASE - Block URL
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 44174e4f-4c2f-4b0d-bca9-2d20443cb14a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1620,
          "y": 1110
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4dfd2d90-734e-437d-8e77-09c381d690d4
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 4dfd2d90-734e-437d-8e77-09c381d690d4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 1250
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Full Run:
      - "41"
      Shadow Mode:
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1f389db9-44cc-4d31-8873-af3fabff91ee
      iscommand: false
      name: Run Mode?
      playbooktaskmissingcomponent: null
      script: 'ShadowModeRouter'
      type: condition
      version: -1
    taskid: 1f389db9-44cc-4d31-8873-af3fabff91ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1010,
          "y": 930
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow: Netcraft Block URL
          Command: netcraft-attack-report ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 798987c4-a92a-4a46-81d7-8a75673cf91f
      iscommand: false
      name: 'Shadow: Netcraft Block URL'
      playbooktaskmissingcomponent: null
      script: Print
      type: regular
      version: -1
    taskid: 798987c4-a92a-4a46-81d7-8a75673cf91f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -800,
          "y": 1110
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Full Run:
      - "29"
      Shadow Mode:
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 259b3342-c025-42fb-8968-19a973fc157f
      iscommand: false
      name: Run Mode?
      playbooktaskmissingcomponent: null
      script: 'ShadowModeRouter'
      type: condition
      version: -1
    taskid: 259b3342-c025-42fb-8968-19a973fc157f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -310,
          "y": 915
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow: PAN-OS Block URL
          Command: ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 48b10ee6-14dc-4469-91dd-0c1a415df245
      iscommand: false
      name: 'Shadow: PAN-OS Tag URLs'
      playbooktaskmissingcomponent: null
      script: Print
      type: regular
      version: -1
    taskid: 48b10ee6-14dc-4469-91dd-0c1a415df245
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 100,
          "y": 1100
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Full Run:
      - "13"
      Shadow Mode:
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 83fd5a0e-d619-4718-8a3b-a522e6f8e90d
      iscommand: false
      name: Run Mode?
      playbooktaskmissingcomponent: null
      script: 'ShadowModeRouter'
      type: condition
      version: -1
    taskid: 83fd5a0e-d619-4718-8a3b-a522e6f8e90d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 700,
          "y": 900
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow: Zscaler Block URL
          Command: zscaler-blacklist-url ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 312361db-263e-4749-9b40-9e4ad4157c73
      iscommand: false
      name: 'Shadow: Zscaler Block URL'
      playbooktaskmissingcomponent: null
      script: Print
      type: regular
      version: -1
    taskid: 312361db-263e-4749-9b40-9e4ad4157c73
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1100
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Full Run:
      - "35"
      Shadow Mode:
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5e1ec99e-33ed-4ea2-8193-132fe3afc301
      iscommand: false
      name: Run Mode?
      playbooktaskmissingcomponent: null
      script: 'ShadowModeRouter'
      type: condition
      version: -1
    taskid: 5e1ec99e-33ed-4ea2-8193-132fe3afc301
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 915
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow: Force Add URL to Category
          Command: fp-add-address-to-category ${inputs.URL}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 5556e965-ce5f-4845-b81a-30fbca83bdea
      iscommand: false
      name: 'Shadow: Force Add URL to Category'
      playbooktaskmissingcomponent: null
      script: Print
      type: regular
      version: -1
    taskid: 5556e965-ce5f-4845-b81a-30fbca83bdea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1830,
          "y": 1110
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.18,
      "12_50_yes": 0.77,
      "19_2_#default#": 0.1,
      "19_48_yes": 0.85,
      "21_2_#default#": 0.18,
      "27_2_#default#": 0.1,
      "34_52_yes": 0.7,
      "8_25_#default#": 0.1
    },
    "paper": {
      "dimensions": {
        "height": 1915,
        "width": 4080,
        "x": -1620,
        "y": -470
      }
    }
  }
