Playbooks/SOC_Containment_Plan.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    isoverridable: false
    itemVersion: 2.7.16
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: "This playbook handles the main containment actions available with Cortex
  XSIAM, including the following sub-playbooks:  \n* Containment Plan - Isolate endpoint\n*
  Containment Plan - Disable account\n* Containment Plan - Quarantine file\n* Containment
  Plan - Block indicators\n* Containment Plan - Clear user session (currently, the
  playbook supports only Okta)\n\nNote: The playbook inputs enable manipulating the
  execution flow. Read the input descriptions for details."
dirtyInputs: true
id: 'SOC Containment Plan'
inputSections:
- description: Generic group for inputs
  inputs:
  - AutoContainment
  - HostContainment
  - UserContainment
  - BlockIndicators
  - FileContainment
  - ClearUserSessions
  - EndpointID
  - Username
  - FileHash
  - FilePath
  - IP
  - Domain
  - URL
  - FileRemediation
  - IAMUserDomain
  - UserVerification
  - AutoBlockIndicators
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: |-
    Whether to execute containment plan (except isolation) automatically.
    The specific containment playbook inputs should also be set to 'True'.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether to execute endpoint isolation.
  key: HostContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to disable the user account.
  key: UserContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to block the indicators.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to quarantine the identified file.
  key: FileContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to 'True' to clear the user active Okta sessions.
  key: ClearUserSessions
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The endpoint ID to run commands over.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value: {}
- description: The username to disable.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: The file hash to block.
  key: FileHash
  playbookInputQuery: null
  required: false
  value: {}
- description: The path of the file to block.
  key: FilePath
  playbookInputQuery: null
  required: false
  value: {}
- description: The IP indicators.
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: The domain indicators.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
- description: The URL indicator.
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and will execute only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: The Okta IAM users domain. The domain will be appended to the username.
    e.g. username@IAMUserDomain.
  key: IAMUserDomain
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.\nWhether to provide user verification
    for blocking those IPs and disabling the users. \n\nFalse - No prompt will be
    displayed to the user.\nTrue - The server will ask the user for blocking verification
    and will display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Possible values: True/False.  Default: True.
    Should the given indicators be automatically blocked, or should the user be given the option to choose?

    If set to False - no prompt will appear, and all provided indicators will be blocked automatically.
    If set to True - the user will be prompted to select which indicators to block.
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: ""
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: "true"
name: SOC Containment Plan
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - Blocklist.Final
  - QuarantinedFilesFromEndpoints
  - Core.blocklist.added_hashes
  - Core.Isolation.endpoint_id
outputs:
- contextPath: Blocklist.Final
  description: The blocked accounts.
  type: unknown
- contextPath: QuarantinedFilesFromEndpoints
  description: The quarantined files from endpoint.
  type: unknown
- contextPath: Core.blocklist.added_hashes
  description: The file Hash that was added to the blocklist.
- contextPath: Core.Isolation.endpoint_id
  description: The isolated endpoint ID.
sourceplaybookid: Containment Plan
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "150"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 8aa2ff75-9b37-45eb-8c00-1233cf5410ac
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 60,
          "y": -1210
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "156"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 585cb24c-cfe1-45cd-8c5d-370621442364
      iscommand: false
      name: Isolate Device
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 585cb24c-cfe1-45cd-8c5d-370621442364
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -780,
          "y": 35
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "157"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: abb87f28-a965-4d8d-8069-eb635815bb13
      iscommand: false
      name: Disable Account
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: abb87f28-a965-4d8d-8069-eb635815bb13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -360,
          "y": 35
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "158"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ed18bff1-e327-4889-85e8-65d66ff9ef5a
      iscommand: false
      name: Quarantine File
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: ed18bff1-e327-4889-85e8-65d66ff9ef5a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 60,
          "y": 35
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "159"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1784b84c-0c06-44ae-8230-83edc6deccba
      iscommand: false
      name: Block Indicators
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 1784b84c-0c06-44ae-8230-83edc6deccba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 35
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "160"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f495b99b-b851-438c-8fc8-0db9145c81a2
      iscommand: false
      name: Clear User Sessions
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f495b99b-b851-438c-8fc8-0db9145c81a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 900,
          "y": 35
        }
      }
  "138":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoContainment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "139"
      "yes":
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |+
        Whether to perform containment actions automatically or manually.

      id: c69a7bbb-62d0-447a-8184-87aea4d7c440
      iscommand: false
      name: Should containment automatically?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: c69a7bbb-62d0-447a-8184-87aea4d7c440
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": -490
        }
      }
  "139":
    continueonerrortype: ""
    form:
      description: Select which containment actions to perform
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Select the Endpoint to isolate by Endpoint name
        options: []
        optionsarg:
        - complex:
            accessor: endpoint_name
            root: Core.Endpoint
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Select Endpoint to isolate by Endpoint ID
        options: []
        optionsarg:
        - complex:
            root: inputs.EndpointID
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Select Users to disable
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Select Files to quarantine
        options: []
        optionsarg:
        - complex:
            root: FilesList
            transformers:
            - operator: uniq
            - args:
                applyIfEmpty: {}
                defaultValue:
                  iscontext: true
                  value:
                    simple: inputs.FilePath
              operator: SetIfEmpty
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: Select IPs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.IP
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: Select URLs to block
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "6"
        label: ""
        labelarg:
          simple: 'Select Files Hash to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.FileHash
            transformers:
            - operator: uniq
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "7"
        label: ""
        labelarg:
          simple: 'Select Domains to block '
        options: []
        optionsarg:
        - complex:
            root: inputs.Domain
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "8"
        label: ""
        labelarg:
          simple: Select Users to clear their sessions
        options: []
        optionsarg:
        - complex:
            root: inputs.Username
            transformers:
            - operator: uniq
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Which containment actions would you like to perform?
      totalanswers: 0
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body: null
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Select which indicators to block.
      id: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
      iscommand: false
      name: Which containment actions would you like to perform?
      playbooktaskmissingcomponent: null
      type: collection
      version: -1
    taskid: 6b328ab7-5553-4c6b-86d3-ca365bf5766d
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -190,
          "y": -300
        }
      }
  "146":
    continueonerrortype: ""
    id: "146"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "138"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id_list:
        complex:
          root: inputs.EndpointID
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: No Value
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. If there
        are no filters, all endpoints are returned. Filtering by multiple fields is
        concatenated using the AND condition (OR is not supported). Maximum result
        set size is 100. Offset is the zero-based number of endpoints from the start
        of the result set (start by counting from 0).
      id: 953056e0-a248-437e-8498-348287ca39bc
      iscommand: true
      name: Get endpoint info
      playbooktaskmissingcomponent: null
      script: '|||core-get-endpoints'
      type: regular
      version: -1
    taskid: 953056e0-a248-437e-8498-348287ca39bc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": -670
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "49"
      - "48"
      - "51"
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
      iscommand: false
      name: Containment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: c468a69f-b7e5-4fdc-8ea5-c1b5d6710a2e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 60,
          "y": -120
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8f6c601-67bc-4dfd-8c09-008797b89324
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: a8f6c601-67bc-4dfd-8c09-008797b89324
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 60,
          "y": 340
        }
      }
  "149":
    continueonerrortype: ""
    id: "149"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "146"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FilesList
      stringify:
        simple: "false"
      value:
        complex:
          root: inputs.FilePath
          transformers:
          - args:
              array1_key:
                iscontext: true
              array2:
                iscontext: true
                value:
                  simple: inputs.FileHash
              array2_key: {}
              determine_output_length_by: {}
              merge_dict: {}
              output_name1:
                value:
                  simple: Path
              output_name2:
                value:
                  simple: Hash
            operator: MakePair
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: afefe6f1-1bc6-4c69-8fd4-7072d4fa9962
      iscommand: false
      name: Set Process list
      playbooktaskmissingcomponent: null
      script: Set
      type: regular
      version: -1
    taskid: afefe6f1-1bc6-4c69-8fd4-7072d4fa9962
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -190,
          "y": -870
        }
      }
  "150":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FilePath
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileHash
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "150"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "146"
      "yes":
      - "149"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the file path and file hash are defined.
      id: 4541881d-148b-4360-83d3-c66c78b3d624
      iscommand: false
      name: The file path and file hash defined?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 4541881d-148b-4360-83d3-c66c78b3d624
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 60,
          "y": -1060
        }
      }
  "156":
    continueonerrortype: ""
    id: "156"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      EndpointID:
        simple: ${inputs.EndpointID}
      HostContainment:
        simple: "True"
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Isolate Device

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook isolates devices using core commands.
      id: 5e594339-7ed0-4b55-8154-bd3032d9b119
      iscommand: false
      name: SOC Containment Plan - Isolate Device
      playbookId: SOC Containment Plan - Isolate Device
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 5e594339-7ed0-4b55-8154-bd3032d9b119
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -780,
          "y": 170
        }
      }
  "157":
    continueonerrortype: ""
    id: "157"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
      UserContainment:
        simple: "True"
      UserVerification:
        simple: "True"
      Username:
        simple: ${inputs.Username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Disable Account

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook disables users by utilizing the sub-playbook "Block Account - Generic v2"
      id: b36540a4-821a-4c7f-b2a2-812fea0b6bdc
      iscommand: false
      name: SOC Containment Plan - Disable Account
      playbookId: SOC Containment Plan - Disable Account
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: b36540a4-821a-4c7f-b2a2-812fea0b6bdc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -360,
          "y": 170
        }
      }
  "158":
    continueonerrortype: ""
    id: "158"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      EndpointID:
        simple: ${inputs.EndpointID}
      FileContainment:
        simple: "True"
      FileHash:
        simple: ${inputs.FileHash}
      FilePath:
        simple: ${inputs.FilePath}
      FileRemediation:
        simple: Quarantine
      ShadowMode:
        simple: ${inputs.ShadowMode}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Quarantine File

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook quarantines files using core commands.
      id: 135667f9-a941-493e-888e-cfdd7ce6b738
      iscommand: false
      name: SOC Containment Plan - Quarantine File
      playbookId: SOC Containment Plan - Quarantine File
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 135667f9-a941-493e-888e-cfdd7ce6b738
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 60,
          "y": 170
        }
      }
  "159":
    continueonerrortype: ""
    id: "159"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      AutoBlockIndicators:
        simple: "True"
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory:
        simple: XSOAR Remediation - Malicious URLs
      DomainToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: domain
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      EmailToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: email
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      FilesToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      InputEnrichment:
        simple: "False"
      InternalRange:
        complex:
          accessor: PrivateIPs
          root: lists
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
              unpack_matches: {}
            operator: RegexExtractAll
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      MD5:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "32"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      RuleDirection:
        simple: outbound
      RuleName:
        simple: XSOAR - Block Indicators playbook - ${alert.id}
      SHA256:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
            - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: hash
          root: DBotScore
          transformers:
          - operator: uniq
      ShadowMode:
        simple: ${inputs.ShadowMode}
      Tag:
        simple: Blocked Indicator In Systems
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      UserVerification:
        simple: "True"
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:

        - Block URL - Generic v2
        - Block Account - Generic v2
        - Block IP - Generic v3
        - Block File - Generic v2
        - Block Email - Generic v2
        - Block Domain - Generic v2.
      id: de5206e9-177a-4019-8974-546d0803df15
      iscommand: false
      name: SOC Block Indicators - Generic v3
      playbookId: SOC Block Indicators - Generic v3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: de5206e9-177a-4019-8974-546d0803df15
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 480,
          "y": 170
        }
      }
  "160":
    continueonerrortype: ""
    id: "160"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ClearUserSessions:
        simple: "True"
      IAMUserDomain:
        simple: ${inputs.Domain}
      ShadowMode:
        simple: ${inputs.ShadowMode}
      Username:
        simple: ${inputs.Username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        ## Containment Plan - Clear User Sessions

        This playbook is a sub-playbook within the containment plan playbook.
        The playbook uses the 'Okta v2' and 'MSGraph User' integrations to clear user sessions.
      id: b096755b-0d8c-4892-96b5-d8cd3d58452e
      iscommand: false
      name: SOC Containment Plan - Clear User Sessions
      playbookId: SOC Containment Plan - Clear User Sessions
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: b096755b-0d8c-4892-96b5-d8cd3d58452e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 900,
          "y": 170
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "138_139_#default#": 0.64,
      "150_146_#default#": 0.45
    },
    "paper": {
      "dimensions": {
        "height": 1610,
        "width": 2060,
        "x": -780,
        "y": -1210
      }
    }
  }
