Playbooks/SOC_Block_URL_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    isoverridable: false
    itemVersion: 2.6.55
    packID: ""
    packName: Common Playbooks
    prevname: ""
    toServerVersion: ""
description: |-
  This playbook blocks malicious URLs using all integrations that are enabled.

  Supported integrations for this playbook:
  * Palo Alto Networks PAN-OS
  * Zscaler
  * Sophos
  * Forcepoint
  * Checkpoint
  * Netcraft.
adopted: true
id: 'SOC Block URL - Generic v2'
inputs:
- description: Array of malicious URLs to block.
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: Log Forwarding object name.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input establishes whether to commit the configuration automatically.
    Yes - Commit automatically.
    No - Commit manually.
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: Custom URL Category name.
  key: CustomURLCategory
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR Remediation - Malicious URLs
- description: Custom URL category type. Insert "URL List"/ "Category Match".
  key: type
  playbookInputQuery: null
  required: false
  value: {}
- description: The list of categories. Relevant from PAN-OS v9.x.
  key: categories
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values:True/False. Default:True.
    Specify if User Verification is Requrired
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: EDL Server IP Address
  key: EDLServerIP
  playbookInputQuery: null
  required: false
  value: {}
- description: Device group for the Custom URL Category (Panorama instances).
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
- description: Insert a tag name with which indicators will get tagged. This tag can
    be used later in the External Dynamic Lists integration by using the tag for filtering
    IPs in the indicator query.
  key: Tag
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    For prisma SASE usage - Specify the scope for a newly created security rule to be applied.
    Remember, this input will only be used when there is no input to the CategoryName.
    Default: Shared
  key: Folder
  playbookInputQuery: null
  required: false
  value:
    simple: Shared
name: SOC Block URL - Generic v2
outputs: []
sourceplaybookid: Block URL - Generic v2
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f7a7452c-dafe-4b3e-8461-4ea61daf5e3b
      iscommand: false
      name: ""
      version: -1
    taskid: f7a7452c-dafe-4b3e-8461-4ea61daf5e3b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 3967,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8f968aa5-26ca-4471-891b-4ac7f9114147
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 8f968aa5-26ca-4471-891b-4ac7f9114147
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3921.75,
          "y": 1890
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "17"
      - "18"
      - "26"
      - "28"
      - "32"
      - "38"
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ecece7aa-0eb6-4f67-8a9b-dfc77bcef34d
      iscommand: false
      name: Block URLs
      type: title
      version: -1
    taskid: ecece7aa-0eb6-4f67-8a9b-dfc77bcef34d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3967,
          "y": 890
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Blocklist.URL
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one URL to block.
      id: 0e2e9b54-cbaa-4f8c-85b2-b5927f30f52a
      iscommand: false
      name: Is there a URL to block?
      type: condition
      version: -1
    taskid: 0e2e9b54-cbaa-4f8c-85b2-b5927f30f52a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2514.5,
          "y": 720
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Zscaler enabled.
      id: efeca267-b6d2-4a08-8325-e8fb7c1dd633
      iscommand: false
      name: Is Zscaler enabled?
      type: condition
      version: -1
    taskid: efeca267-b6d2-4a08-8325-e8fb7c1dd633
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2228.75,
          "y": 1210
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: errorPath
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      url:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: true
    task:
      brand: Zscaler
      description: Adds the specified URLs to the block list.
      id: 19749bfc-34c2-46fe-8ebb-4aa5912d1872
      iscommand: true
      name: Block URL with Zscaler
      script: Zscaler|||zscaler-blacklist-url
      type: regular
      version: -1
    taskid: 19749bfc-34c2-46fe-8ebb-4aa5912d1872
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2274,
          "y": 1550
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90b64f91-6db0-4a69-86e3-80aa6fc36ebd
      iscommand: false
      name: Checkpoint
      type: title
      version: -1
    taskid: 90b64f91-6db0-4a69-86e3-80aa6fc36ebd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 681,
          "y": 1215
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c64c152-533a-4e38-8a33-5ba8499b4c48
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: 0c64c152-533a-4e38-8a33-5ba8499b4c48
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1502.5,
          "y": 1385
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9e331921-f00a-47d7-8f02-8ab4fbacc053
      iscommand: false
      name: Zscaler
      type: title
      version: -1
    taskid: 9e331921-f00a-47d7-8f02-8ab4fbacc053
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2228.75,
          "y": 1050
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EDLServerIP
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should use EDL or not
      id: b9e7db2b-6985-4410-8e01-ccb9950cd8b7
      iscommand: false
      name: Use EDL?
      type: condition
      version: -1
    taskid: b9e7db2b-6985-4410-8e01-ccb9950cd8b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4452.75,
          "y": 1210
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.type
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should use Custom URL Category or not
      id: 47aff5b6-5919-46bb-8979-c342b18f9197
      iscommand: false
      name: Use Custom URL Category?
      type: condition
      version: -1
    taskid: 47aff5b6-5919-46bb-8979-c342b18f9197
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1502.5,
          "y": 1550
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: CheckPointFirewall_v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: da7121fa-715d-4010-81ac-e519b88b58e3
      iscommand: false
      name: "Is CheckPoint Integration \nAavailable?"
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: da7121fa-715d-4010-81ac-e519b88b58e3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 681,
          "y": 1380
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook blocks URLs using Checkpoint Firewall through Custom URL Categories.
        The playbook checks whether the input URL category already exists, and if the URLs are a part of this category. Otherwise, it will create the category, block the URLs, and publish the configuration.
      id: 195a51ea-2a0b-47e3-83f6-c6b6a4938847
      iscommand: false
      name: Checkpoint - Block URL
      playbookName: Checkpoint - Block URL
      type: playbook
      version: -1
    taskid: 195a51ea-2a0b-47e3-83f6-c6b6a4938847
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 631,
          "y": 1720
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "This playbook adds the URL to the Default Block URL Policy. (The
        target\npolicy can be changed as requested).\nPre-Requisite: \n1) Create a
        web policy rule that refers to the URL group you specified on the inputs of
        the playbook.\n2) Create a new firewall rule and assign the web policy to
        the one created in the previous step."
      id: 0dd55a58-9d45-449e-8b9f-3c1630188951
      iscommand: false
      name: Sophos Firewall - Block URL
      playbookName: Sophos Firewall - Block URL
      type: playbook
      version: -1
    taskid: 0dd55a58-9d45-449e-8b9f-3c1630188951
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3195.5,
          "y": 1720
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 21af0a6a-234a-4061-884a-86f3209ae79e
      iscommand: false
      name: No URL was definded
      type: title
      version: -1
    taskid: 21af0a6a-234a-4061-884a-86f3209ae79e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1725
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 42362e33-89e4-4e9a-89ad-8fca62f06425
      iscommand: false
      name: Sophos
      type: title
      version: -1
    taskid: 42362e33-89e4-4e9a-89ad-8fca62f06425
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3245.5,
          "y": 1215
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: sophos_firewall
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c08fd24c-0333-4f69-8700-69b92c530882
      iscommand: false
      name: Is Sophos Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c08fd24c-0333-4f69-8700-69b92c530882
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3245.5,
          "y": 1380
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12ce6945-cd09-46e6-8661-748f50ed220c
      iscommand: false
      name: EDL
      type: title
      version: -1
    taskid: 12ce6945-cd09-46e6-8661-748f50ed220c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4452.75,
          "y": 1050
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: errorPath
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        complex:
          root: inputs.Tag
      indicatorsValues:
        complex:
          accessor: URL
          root: Blocklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      id: 3b95c0b4-92ba-436f-9b66-5a335cd87b33
      iscommand: true
      name: Update Tag For URLs
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 3b95c0b4-92ba-436f-9b66-5a335cd87b33
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4883.75,
          "y": 1550
        }
      }
  "30":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Please select those URLs that you would like to block:'
        options: []
        optionsarg:
        - complex:
            root: inputs.URL
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: Would you like to Block the following URLs?
      totalanswers: 0
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Dear XSOAR user, Please approve those URLs that you would like to
          block in your internal systems
      cc: null
      format: ""
      methods:
      - email
      subject:
        simple: 'User Verification - Block URLs (Inc #${alert.id})'
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Investigator
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Ask the analyst for verification of which URL to block
      id: 7948896f-f14b-4e0b-865e-47a3a0c1da3f
      iscommand: false
      name: User Verification
      type: collection
      version: -1
    taskid: 7948896f-f14b-4e0b-865e-47a3a0c1da3f
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 8034,
          "y": 380
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.URL
      value:
        simple: ${Would you like to Block the following URLs?.Answers.0}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: c3e1638e-8c04-4c99-9cab-2f20e2eb6161
      iscommand: false
      name: Append the URLs' blocking list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c3e1638e-8c04-4c99-9cab-2f20e2eb6161
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8034,
          "y": 550
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d561f0f8-0d4c-4ba3-8560-187751ca5c85
      iscommand: false
      name: Forcepoint
      type: title
      version: -1
    taskid: d561f0f8-0d4c-4ba3-8560-187751ca5c85
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 5469.5,
          "y": 1050
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Forcepoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 08e14d34-e96d-422a-8640-f5ef9a6eaa7a
      iscommand: false
      name: Is Forcepoint Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 08e14d34-e96d-422a-8640-f5ef9a6eaa7a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5469.5,
          "y": 1210
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: errorPath
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      urls:
        simple: ${Blocklist.URL}
    separatecontext: false
    skipunavailable: true
    task:
      brand: Forcepoint
      description: "Append a specific category in Forcepoint with the Blocked URLs.
        \nYou can choose to add those to a default category (For more info - refer
        to https://www.forcepoint.com/product/feature/master-database-url-categories)\nor
        specify a custom/user-defined category."
      id: d357ddd4-f548-480d-96c8-e675071f6ae7
      iscommand: true
      name: Forcepoint - Add URL's to a specific category
      script: Forcepoint|||fp-add-address-to-category
      type: regular
      version: -1
    taskid: d357ddd4-f548-480d-96c8-e675071f6ae7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5514.75,
          "y": 1550
        }
      }
  "36":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "37"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should ask for user verification
      id: 33d5bf90-736a-4228-8307-53b1d58d4550
      iscommand: false
      name: Is User Verification Is Required?
      type: condition
      version: -1
    taskid: 33d5bf90-736a-4228-8307-53b1d58d4550
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3967,
          "y": 210
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: errorPath
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.URL
      value:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: c134d839-1fe9-4edc-93d8-b8f1e486d658
      iscommand: false
      name: Set Input URLs as Blocklist.
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c134d839-1fe9-4edc-93d8-b8f1e486d658
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2369.25,
          "y": 550
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e889ae46-04a0-4514-8923-2291cec2883a
      iscommand: false
      name: Netcraft
      type: title
      version: -1
    taskid: e889ae46-04a0-4514-8923-2291cec2883a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 6391,
          "y": 1050
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Netcraft V2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 35fcf7d9-19c6-48fe-831d-0b78cbf96323
      iscommand: false
      name: Is Netcraft Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 35fcf7d9-19c6-48fe-831d-0b78cbf96323
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6391,
          "y": 1210
        }
      }
  "41":
    continueonerror: true
    continueonerrortype: errorPath
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      attack:
        complex:
          accessor: URL
          root: Blocklist
      comment:
        simple: Malicious - Added by Netcraft Integration
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |
        Report a new attack or authorize an existing attack in the Takedown Service.
        If a takedown for the attack already exists in the Netcraft system it will be authorized, otherwise, a new takedown will be added and authorized.
      id: 42368f93-599c-46c5-a44d-43f1d395ee5b
      iscommand: true
      name: Block URL with Netcraft
      script: '|||netcraft-attack-report'
      type: regular
      version: -1
    taskid: 42368f93-599c-46c5-a44d-43f1d395ee5b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6726.75,
          "y": 1550
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f840dbdd-478b-445f-8f0b-a5527a54467b
      iscommand: false
      name: Prisma SASE
      type: title
      version: -1
    taskid: f840dbdd-478b-445f-8f0b-a5527a54467b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 7357.75,
          "y": 1215
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Palo Alto Networks - Prisma SASE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e5de9af1-33df-4064-82d9-b5b87f472d7f
      iscommand: false
      name: Is Prisma SASE Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e5de9af1-33df-4064-82d9-b5b87f472d7f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 7357.75,
          "y": 1380
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      CategoryName:
        complex:
          root: inputs.CustomURLCategory
      Folder:
        complex:
          root: inputs.Folder
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: URL
          root: Blocklist
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        The playbook will handle the operation of blocking a URL within the organization.
        If a category is provided, the URL will be added to the list.
        If not, a new URL category will be created, and a new security rule that blocks that category.
      id: 7fa52bc1-010b-4de9-87e4-dbc537abd12b
      iscommand: false
      name: Prisma SASE - Block URL
      playbookId: Prisma SASE - Block URL
      type: playbook
      version: -1
    taskid: 7fa52bc1-010b-4de9-87e4-dbc537abd12b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 7307.75,
          "y": 1720
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d1910349-b6e6-4dfe-8d19-ac71f3f2d0a1
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: d1910349-b6e6-4dfe-8d19-ac71f3f2d0a1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 4738.5,
          "y": 1720
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 02f6376c-4550-43fb-876f-9059f5407abb
      iscommand: false
      name: SOC PAN-OS - Block URL - Custom URL Category
      playbookId: 'SOC PAN-OS - Block URL - Custom URL Category'
      type: playbook
      version: -1
    taskid: 02f6376c-4550-43fb-876f-9059f5407abb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1693,
          "y": 1720
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      "no":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 12845b79-5cfd-4d78-9fc0-384526db78af
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 12845b79-5cfd-4d78-9fc0-384526db78af
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6536.25,
          "y": 1380
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Run: Block URL with Netcraft
          Command: netcraft-attack-report
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 7cd1bfb6-8217-4c59-b016-d4d3d0ebe021
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 7cd1bfb6-8217-4c59-b016-d4d3d0ebe021
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6436.25,
          "y": 1720
        }
      }
  "51":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "52"
      "no":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98526c8b-0db9-401b-8085-23e6d62df03e
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 98526c8b-0db9-401b-8085-23e6d62df03e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4598,
          "y": 1380
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Run: EDL - Update Tag For URLs
          Command: appendIndicatorField
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 64fe52ea-f336-41b6-a6ef-f63ae8f00ee9
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 64fe52ea-f336-41b6-a6ef-f63ae8f00ee9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4257.5,
          "y": 1720
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "54"
      "no":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 986e773f-36b1-4829-8dca-fc9b2bf00517
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 986e773f-36b1-4829-8dca-fc9b2bf00517
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 7503,
          "y": 1550
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Run: Prisma SASE - Block URL
          Command:
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: ed035b49-b8f7-4542-aa75-89d7e048d791
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: ed035b49-b8f7-4542-aa75-89d7e048d791
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 7788.75,
          "y": 1720
        }
      }
  "55":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "no":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4b6bd987-f673-4ecf-8166-989db74ac4c9
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 4b6bd987-f673-4ecf-8166-989db74ac4c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5614.75,
          "y": 1380
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Run: Forcepoint - Add URL's to a specific category
          Command: fp-add-address-to-category
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: de4f5706-8c95-4f68-a8a2-ba4a8c4631cc
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: de4f5706-8c95-4f68-a8a2-ba4a8c4631cc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5855.25,
          "y": 1720
        }
      }
  "57":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "58"
      "no":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fb57866e-7141-4eda-8b9f-ef3d98bd90c9
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: fb57866e-7141-4eda-8b9f-ef3d98bd90c9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3390.75,
          "y": 1550
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Run: Sophos Firewall - Block URL\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: c249d5a5-fedf-4cc5-9673-6243fde02a35
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: c249d5a5-fedf-4cc5-9673-6243fde02a35
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3676.5,
          "y": 1720
        }
      }
  "59":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "no":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a8f7ffe3-3363-4ca9-8270-92a3b0cd4079
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: a8f7ffe3-3363-4ca9-8270-92a3b0cd4079
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2374,
          "y": 1380
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Run: Sophos Firewall - Block URL\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: ae47d690-755f-42b1-877b-e6174628d17e
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: ae47d690-755f-42b1-877b-e6174628d17e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2614.5,
          "y": 1720
        }
      }
  "61":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "62"
      "no":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 39f3254b-fc2f-4d74-85c9-628426163a92
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 39f3254b-fc2f-4d74-85c9-628426163a92
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 826.25,
          "y": 1550
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Run: Sophos Firewall - Block URL\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: eef456c7-8788-488f-875c-160cf311010e
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: eef456c7-8788-488f-875c-160cf311010e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1112,
          "y": 1720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.18,
      "19_2_#default#": 0.1,
      "19_51_yes": 0.89,
      "20_2_#default#": 0.1,
      "21_2_#default#": 0.18,
      "21_61_yes": 0.88,
      "27_2_#default#": 0.1,
      "27_57_yes": 0.81,
      "34_55_yes": 0.9,
      "43_53_yes": 0.89,
      "8_25_#default#": 0.1
    },
    "paper": {
      "dimensions": {
        "height": 1900,
        "width": 8365,
        "x": 50,
        "y": 50
      }
    }
  }
