Playbooks/SOC_Block_IP_-_Generic_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    isoverridable: false
    itemVersion: 2.6.55
    packID: ""
    packName: Common Playbooks
    prevname: ""
    toServerVersion: ""
description: "This playbook blocks malicious IP addresses using all integrations that
  are enabled. The direction of the traffic that will be blocked is determined by
  the XSOAR user (and set by default to outgoing)\nNote the following:\n-  some of
  those integrations require specific parameters to run, which are based on the playbook
  inputs. Also, certain integrations use FW rules or appended network objects.\n-
  Note that the appended network objects should be specified in blocking rules inside
  the system later on. \n\n\nSupported integrations for this playbook [Network security
  products such as FW/WAF/IPs/etc.]: \n\n* Check Point Firewall\n* Palo Alto Networks
  PAN-OS\n* Zscaler\n* FortiGate\n* Aria Packet Intelligence\n* Cisco Firepower \n*
  Cisco Secure Cloud Analytics\n* Cisco ASA\n* Akamai WAF\n* F5 SilverLine\n* ThreatX\n*
  Signal Sciences WAF\n* Sophos Firewall."
id: 'SOC Block IP - Generic v3'
inputs:
- description: 'An array of malicious IPs to block. Enter a comma-separated list of
    IPs (i.e.: 1.1.1.1,2.2.2.2).'
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input determines whether Palo Alto Networks Panorama or Firewall
    Custom Block Rules are used.\nSpecify \"True\" to create new Custom Block Rules
    (2 FW rules inside the PAN-OS device). \nFor \"False\" - no rules will be created."
  key: CustomBlockRule
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Panorama log forwarding object name. Indicate what type of Log Forwarding
    setting will be specified in the PAN-OS custom rules.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: "This input determines whether to commit the configuration automatically
    on PAN-OS devices and other FWs. \nYes - Commit automatically.\nNo - Commit manually."
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static Address Groups are used.
    Specify the Static Address Group name for IPs list handling.
  key: StaticAddressGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: Insert a tag name with which indicators will get tagged. This tag can
    be used later in the External Dynamic Lists integration by using the tag for filtering
    IPs in the indicator query.
  key: Tag
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Determine the Dynamic Address Group tag for IPs list handling.
  key: DAG
  playbookInputQuery: null
  required: false
  value: {}
- description: "Possible values: True/False.  Default: True.\nWhether to provide user
    verification for blocking those IPs. \n\nFalse - No prompt will be displayed to
    the user.\nTrue - The server will ask the user for blocking verification and will
    display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: 'A list of internal IP ranges to check IP addresses against. The comma-separated
    list should be provided in CIDR notation. For example, a list of ranges would
    be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: PrivateIPs
      root: lists
      transformers:
      - args:
          error_if_no_match: {}
          ignore_case: {}
          multi_line: {}
          period_matches_newline: {}
          regex:
            value:
              simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
          unpack_matches: {}
        operator: RegexExtractAll
      - args:
          separator:
            value:
              simple: ','
        operator: join
- description: Signal Sciences WAF - Enter the site name for the integration to be
    applied. The site name can be found in your instance console.
  key: SiteName
  playbookInputQuery: null
  required: false
  value: {}
- description: Akamai's WAF network list ID, which is mandatory to be mentioned for
    the integration. The chosen IPs will be added to this ID.
  key: AkamaiNetworkListID
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values: True/False . Default: False
    Enrich the input IP address/es with reputation commands.
  key: InputEnrichment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The rule name/description that will be presented on the created rule in certain integrations (if there is a need).
    The supported integrations: PAN-OS, CheckPoint.

    Default input- "XSOAR - Block IP playbook - ${incident.id}"
  key: RuleName
  playbookInputQuery: null
  required: false
  value:
    simple: XSOAR - Block IP playbook - ${alert.id}
- description: |-
    Determine if a newly created rule should be with the network direction of outbound or inbound blocked traffic.
    Possible values: inbound or outbound
    Default: outbound
  key: RuleDirection
  playbookInputQuery: null
  required: false
  value:
    simple: outbound
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Determine the Dynamic Address Group name for IPs list handling.
  key: DAGName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    For prisma SASE usage - Specify the scope for a newly created security rule to be applied.
    Remember, this input will only be used when there is no input to the CategoryName.
    Default: Shared
  key: Folder
  playbookInputQuery: null
  required: false
  value:
    simple: Shared
name: SOC Block IP - Generic v3
outputs:
- contextPath: Aria.BlockDestSubnet.Rule
  description: The rule name/ID which was created in the system for this playbook.
  type: unknown
- contextPath: Aria.BlockDestSubnet.Status
  description: The status of the command that created the rule above.
  type: unknown
- contextPath: Stealthwatch.IP.id
  description: The ID of the object created in Cisco Secure Cloud Analytics.
  type: unknown
- contextPath: Stealthwatch.IP.identifier
  description: The value of the object created in Cisco Secure Cloud Analytics.
  type: unknown
- contextPath: CiscoASA.Rules.ID
  description: The rule ID that was created in Cisco ASA for this playbook.
  type: unknown
- contextPath: CiscoASA.Rules.Source
  description: The rule's source object that was set in the associated rule.
  type: unknown
- contextPath: CiscoASA.Rules.Dest
  description: The rule's destination object that was set in the associated rule.
  type: unknown
- contextPath: CiscoASA.Rules.IsActive
  description: The rule's state that was set in the associated rule.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.ID
  description: Signal Sciences created rule ID.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.Source
  description: Signal Sciences blocked address in a dedicated rule.
  type: unknown
- contextPath: SigSciences.Corp.Site.Blacklist.CreatedBy
  description: Signal Sciences - the blocking rule's creator name.
  type: unknown
- contextPath: PrismaSase
  description: The root context key for Prisma SASE integration output.
  type: unknown
- contextPath: PrismaSase.AddressGroup
  description: The Prisma Access Address group object.
  type: unknown
- contextPath: PrismaSase.SecurityRule
  description: Created security rule.
- contextPath: PrismaSase.SecurityRule.profile_setting
  description: The Security rule group object in the rule.
  type: unknown
- contextPath: PrismaSase.CandidateConfig
  description: Configuration job object.
  type: unknown
- contextPath: PrismaSase.Address
  description: Created address object.
sourceplaybookid: Block IP - Generic v3
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b7fe6f18-9640-4161-87bd-c1ac609bf72d
      iscommand: false
      name: ""
      version: -1
    taskid: b7fe6f18-9640-4161-87bd-c1ac609bf72d
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 8569.75,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eec033f1-46ff-4c08-886b-5622e622aa85
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: eec033f1-46ff-4c08-886b-5622e622aa85
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 8629.25,
          "y": 4250
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "20"
      - "26"
      - "30"
      - "55"
      - "60"
      - "64"
      - "63"
      - "67"
      - "71"
      - "79"
      - "74"
      - "104"
      - "106"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 034d4a0b-ba68-4b79-80b6-def530a3ef4a
      iscommand: false
      name: Block IPs
      type: title
      version: -1
    taskid: 034d4a0b-ba68-4b79-80b6-def530a3ef4a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 8919.75,
          "y": 3250
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "119"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: CheckPointFirewall_v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 3bfa1467-a97a-40e5-8795-aa2f8cd34a56
      iscommand: false
      name: Is Check Point Firewall enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 3bfa1467-a97a-40e5-8795-aa2f8cd34a56
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3200.25,
          "y": 3740
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: BlockList.Input
          operator: isExists
        - left:
            iscontext: true
            value:
              simple: BlockList.Malicious
          operator: isExists
        - left:
            iscontext: true
            value:
              simple: BlockList.Suspicious
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "96"
      "yes":
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is at least one IP to block.
      id: a711453b-2850-4493-8a69-a51cdaba5962
      iscommand: false
      name: Is there an IP to block?
      type: condition
      version: -1
    taskid: a711453b-2850-4493-8a69-a51cdaba5962
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 8810.25,
          "y": 1730
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "113"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Zscaler
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 6d71d465-7c2e-43d8-8367-04945ca4c3c3
      iscommand: false
      name: Is Zscaler enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 6d71d465-7c2e-43d8-8367-04945ca4c3c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4167,
          "y": 3570
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: errorPath
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: true
    task:
      brand: Zscaler
      description: Block the IPs using Zscaler.
      id: 83edb5ce-4aad-481e-b798-89d7244a8e5f
      iscommand: true
      name: Block IP with Zscaler
      script: Zscaler|||zscaler-blacklist-ip
      type: regular
      version: -1
    taskid: 83edb5ce-4aad-481e-b798-89d7244a8e5f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4167,
          "y": 3910
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
      - "23"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 90146620-3c96-420d-8abb-c4e43df36c6c
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: 90146620-3c96-420d-8abb-c4e43df36c6c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1797.75,
          "y": 3745
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd4b2c1c-a1aa-4d90-87f0-2e11be406424
      iscommand: false
      name: CheckPoint FW
      type: title
      version: -1
    taskid: bd4b2c1c-a1aa-4d90-87f0-2e11be406424
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3200.25,
          "y": 3575
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7c00656-a5e1-4199-898d-adef07c33467
      iscommand: false
      name: Zscaler
      type: title
      version: -1
    taskid: a7c00656-a5e1-4199-898d-adef07c33467
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4167,
          "y": 3410
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CustomBlockRule
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "111"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if custom block rule playbook input is set to true.
      id: 1cee05c9-29eb-4552-8833-d3670680620c
      iscommand: false
      name: Use Custom Block Rules?
      type: condition
      version: -1
    taskid: 1cee05c9-29eb-4552-8833-d3670680620c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1216.75,
          "y": 3910
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.StaticAddressGroup
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "112"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a static address group name set as a playbook
        input.
      id: b141c107-3022-489f-8635-6907ad4240ee
      iscommand: false
      name: Use Static Address Group?
      type: condition
      version: -1
    taskid: b141c107-3022-489f-8635-6907ad4240ee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1797.75,
          "y": 3910
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Tag
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "139"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a tag to mark IPs for an EDL/EIS query.
      id: 9eed4e5a-b732-4394-8264-05f071e51aeb
      iscommand: false
      name: Use External Dynamic List?
      type: condition
      version: -1
    taskid: 9eed4e5a-b732-4394-8264-05f071e51aeb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 15456,
          "y": 3570
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.DAG
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "110"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a dynamic address group name set as a playbook
        input.
      id: f9198f7e-933d-4c93-82c5-d516fdd9ef0c
      iscommand: false
      name: Use Dynamic Address Group?
      type: condition
      version: -1
    taskid: f9198f7e-933d-4c93-82c5-d516fdd9ef0c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2378.75,
          "y": 3910
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: db18a7c0-26ec-4316-8730-c19da3847291
      iscommand: false
      name: Fortinet
      type: title
      version: -1
    taskid: db18a7c0-26ec-4316-8730-c19da3847291
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 5088.5,
          "y": 3410
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "115"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: FortiGate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 380e319e-a726-4445-84c7-b8c667f073d0
      iscommand: false
      name: Is FortiGate enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 380e319e-a726-4445-84c7-b8c667f073d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5088.5,
          "y": 3570
        }
      }
  "28":
    continueonerror: true
    continueonerrortype: errorPath
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Adds IP addresses to the banned list.
      id: 1ddd5bb9-2c0d-4ee5-9172-456c8024f750
      iscommand: true
      name: 'FortiGate Ban IP '
      script: '|||fortigate-ban-ip'
      type: regular
      version: -1
    taskid: 1ddd5bb9-2c0d-4ee5-9172-456c8024f750
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5088.5,
          "y": 3910
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        simple: ${BlockList.Final}
      block_IP_error_handling:
        simple: Stop
      checkpoint_error_handling:
        simple: Stop
      install_policy:
        complex:
          root: inputs.AutoCommit
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: "False"
              equals:
                value:
                  simple: "Yes"
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: "True"
            operator: If-Then-Else
      policy_package:
        simple: Standard
      rule_layer:
        simple: Network
      rule_name:
        simple: ${inputs.RuleName}
      rule_position:
        simple: top
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook blocks IP addresses using Custom Block Rules in Checkpoint Firewall.
        The playbook receives malicious IP addresses as inputs, creates a custom bi-directional rule to block them, and publishes the configuration.
      id: e306cb07-b682-40af-8644-632cde5aa588
      iscommand: false
      name: Checkpoint - Block IP - Custom Block Rule
      playbookName: Checkpoint - Block IP - Custom Block Rule
      type: playbook
      version: -1
    taskid: e306cb07-b682-40af-8644-632cde5aa588
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3105,
          "y": 4080
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4a69e369-2577-45fb-83dd-75125547a4ab
      iscommand: false
      name: F5 Silverline
      type: title
      version: -1
    taskid: 4a69e369-2577-45fb-83dd-75125547a4ab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 6010,
          "y": 3410
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      cidr_range:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      list_type:
        simple: denylist
      note:
        simple: ${inputs.RuleName}
    separatecontext: false
    skipunavailable: true
    task:
      brand: F5Silverline
      description: Adds a new particular threatening IP address object by its IP address.
      id: 621bedb5-2240-4aad-8716-41dc2612c34b
      iscommand: true
      name: 'F5 Silverline - add IP to deny list '
      script: F5Silverline|||f5-silverline-ip-object-add
      type: regular
      version: -1
    taskid: 621bedb5-2240-4aad-8716-41dc2612c34b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6010,
          "y": 3910
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "117"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: F5Silverline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: df579a8d-7184-4b88-8beb-352e000cd072
      iscommand: false
      name: Is F5 Silverline enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: df579a8d-7184-4b88-8beb-352e000cd072
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6010,
          "y": 3570
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.IP
                    operator: match
                    right:
                      value:
                        simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
                root: inputs.IP
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any IPs mentioned in the inputs section.
      id: ca84bd8d-a8f0-4627-8afe-61e0e70ff4d5
      iscommand: false
      name: Are there IPs in Inputs?
      type: condition
      version: -1
    taskid: ca84bd8d-a8f0-4627-8afe-61e0e70ff4d5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 8569.75,
          "y": 210
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Address
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: IP.Malicious
                    operator: isExists
                root: IP
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any malicious IPs from the input IPs.
      id: 1c174167-6aa9-48c5-8c77-7b6ddfa3527a
      iscommand: false
      name: Are there any Malicious IPs?
      type: condition
      version: -1
    taskid: 1c174167-6aa9-48c5-8c77-7b6ddfa3527a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
  "42":
    continueonerror: true
    continueonerrortype: errorPath
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Malicious
      value:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Malicious
              operator: isExists
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 281aec95-c3fb-462b-ac28-d93334f2508f
      iscommand: false
      name: Append Context List with IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 281aec95-c3fb-462b-ac28-d93334f2508f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 1560
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f39089b-9326-4a78-8de3-ec670ec8683d
      iscommand: false
      name: User Verification Prompt
      type: title
      version: -1
    taskid: 0f39089b-9326-4a78-8de3-ec670ec8683d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 8955.5,
          "y": 1900
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "86"
      "yes":
      - "95"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if user verification is needed. Otherwise, proceed without
        asking questions.
      id: d3e2ec0f-17f8-4905-8a2e-cffb29513a53
      iscommand: false
      name: Is User Verification required?
      type: condition
      version: -1
    taskid: d3e2ec0f-17f8-4905-8a2e-cffb29513a53
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 8955.5,
          "y": 2060
        }
      }
  "45":
    continueonerrortype: ""
    form:
      description: Please note that there are Internal IPs in this form!
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Malicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Malicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Suspicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Suspicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Other IPs from Input"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Malicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
            root: BlockList.Input
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: Do you approve the blocking request or "Internal Address"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: BlockList.PIIP
                operator: notIn
                right:
                  value:
                    simple: BlockList.Malicious
            root: BlockList.PIIP
            transformers:
            - operator: uniq
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: Your SOC team
      title: Please answer the following
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of IPs will be blocked on your XSOAR's integrated network devices.</p>
          <p><br />(<strong>Note</strong>: the IPs will be added to your company block list or be blocked in individual rules based on the XSOAR integrated devices).</p>
          <p>Also, <strong>please note</strong> that the following IPs are part of the <strong>internal range</strong> mentioned in the playbook:</p>
          <p>${BlockList.PIIP}</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc: null
      format: html
      methods:
      - email
      subject:
        simple: Block IP Playbook - Analyst's Verification
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Investigator
    nexttasks:
      '#none#':
      - "102"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Ask the user what IPs should be blocked.
        Note that in this task the following IPs are in your internal range:
        ${BlockList.PIIP}

        Remember that the direction you have decided is - ${inputs.RuleDirection}
      id: 4e143a2c-ef50-41f1-807d-088c46e5a538
      iscommand: false
      name: 'Analyst Verification Prompt '
      type: collection
      version: -1
    taskid: 4e143a2c-ef50-41f1-807d-088c46e5a538
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 17730,
          "y": 2400
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: match
                    right:
                      value:
                        simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: inList
                    right:
                      iscontext: true
                      value:
                        simple: inputs.IP
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "2"
      label: "YES"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "YES":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if any suspicious IPs were found during the IP enrichment
        process.
      id: 41d0d39e-008f-438e-82c2-b5af7781eabf
      iscommand: false
      name: Are there any Suspicious IPs?
      type: condition
      version: -1
    taskid: 41d0d39e-008f-438e-82c2-b5af7781eabf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 17925.25,
          "y": 1390
        }
      }
  "48":
    continueonerror: true
    continueonerrortype: errorPath
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Suspicious
      stringify:
        simple: "false"
      value:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: isEqualString
              right:
                value:
                  simple: "2"
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: match
              right:
                value:
                  simple: (\b25[0-5]|\b2[0-4][0-9]|\b[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Indicator
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: DBotScore
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: e0d49f5e-8242-4e01-a094-0e646e625954
      iscommand: false
      name: Append Context List with IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: e0d49f5e-8242-4e01-a094-0e646e625954
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 18070.5,
          "y": 1560
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
      - "47"
      - "85"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1dd62435-07b9-4e9a-86db-7a900c3dbd4e
      iscommand: false
      name: Finalize Verdict For IP/s
      type: title
      version: -1
    taskid: 1dd62435-07b9-4e9a-86db-7a900c3dbd4e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 17384.75,
          "y": 1230
        }
      }
  "53":
    continueonerror: true
    continueonerrortype: errorPath
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "100"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      indicatorsValues:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "No"
          - - left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
    separatecontext: false
    skipunavailable: true
    task:
      brand: Builtin
      description: commands.local.cmd.enrich.indicators
      id: 19d72e22-7692-4c79-9103-fa97a4356f45
      iscommand: true
      name: Enrich Indicators
      script: Builtin|||enrichIndicators
      type: regular
      version: -1
    taskid: 19d72e22-7692-4c79-9103-fa97a4356f45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 18892,
          "y": 890
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b56affc3-dc5f-4463-8599-d308363152bf
      iscommand: false
      name: Cisco ASA
      type: title
      version: -1
    taskid: b56affc3-dc5f-4463-8599-d308363152bf
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 6931.5,
          "y": 3410
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "121"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cisco ASA
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c8b3752a-ee90-47fb-888f-f8e9dbc3f15f
      iscommand: false
      name: Is Cisco ASA enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c8b3752a-ee90-47fb-888f-f8e9dbc3f15f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6931.5,
          "y": 3570
        }
      }
  "57":
    continueonerror: true
    continueonerrortype: errorPath
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      active:
        complex:
          root: inputs.AutoCommit
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: "False"
              equals:
                value:
                  simple: "Yes"
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: Ture
            operator: If-Then-Else
      destination:
        complex:
          root: inputs.RuleDirection
          transformers:
          - args:
              condition: {}
              else:
                value:
                  simple: 0.0.0.0
              equals:
                value:
                  simple: outbound
              lhs: {}
              options: {}
              rhs: {}
              then:
                iscontext: true
                value:
                  simple: ${BlockList.Final}
            operator: If-Then-Else
      interface_type:
        simple: Global
      log_level:
        simple: Default
      permit:
        simple: "False"
      position:
        simple: top
      source:
        complex:
          root: inputs.RuleDirection
          transformers:
          - args:
              condition: {}
              else:
                iscontext: true
                value:
                  simple: ${BlockList.Final}
              equals:
                value:
                  simple: outbound
              lhs: {}
              options: {}
              rhs: {}
              then:
                value:
                  simple: 0.0.0.0
            operator: If-Then-Else
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Creates a rule.
      id: 0fc02585-be8a-407e-b93f-3f2af10b8ef8
      iscommand: true
      name: Cisco ASA - Create Blocking Rule
      script: '|||cisco-asa-create-rule'
      type: regular
      version: -1
    taskid: 0fc02585-be8a-407e-b93f-3f2af10b8ef8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6931.5,
          "y": 3910
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "123"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Stealthwatch Cloud
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 8f019569-55db-4d45-8642-52e45dba3c2d
      iscommand: false
      name: Is Cisco Secure Cloud Analytics enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 8f019569-55db-4d45-8642-52e45dba3c2d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 7853,
          "y": 3570
        }
      }
  "59":
    continueonerror: true
    continueonerrortype: errorPath
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Add a domain or IP to the block list.
      id: 6f6356ab-11bf-4b91-9a92-63f77155a4e2
      iscommand: true
      name: Cisco Secure Cloud Analytics - Add IP to Block List
      script: '|||sw-block-domain-or-ip'
      type: regular
      version: -1
    taskid: 6f6356ab-11bf-4b91-9a92-63f77155a4e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 7853,
          "y": 3910
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd27b51c-e1cd-4371-8dfc-2d6d49c6c08c
      iscommand: false
      name: Cisco Secure Cloud Analytics
      type: title
      version: -1
    taskid: bd27b51c-e1cd-4371-8dfc-2d6d49c6c08c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 7853,
          "y": 3410
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "127"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cisco Firepower
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: ff341c4e-cd9b-4516-8d8a-b6f2f97b30c4
      iscommand: false
      name: Is Cisco Firepower enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: ff341c4e-cd9b-4516-8d8a-b6f2f97b30c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 10031.75,
          "y": 3740
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9dac0912-fb55-4a3b-8d68-ebd2cdde784f
      iscommand: false
      name: 'Cisco Firepower '
      type: title
      version: -1
    taskid: 9dac0912-fb55-4a3b-8d68-ebd2cdde784f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 10031.75,
          "y": 3575
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7605a78c-deb2-4a39-8a51-e42950bf736c
      iscommand: false
      name: Akamai WAF
      type: title
      version: -1
    taskid: 7605a78c-deb2-4a39-8a51-e42950bf736c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 8919.75,
          "y": 3410
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "125"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Akamai WAF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: fdd8bddf-f40f-4e35-8bb4-ef79df9f4d8a
      iscommand: false
      name: Is Akamai WAF enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fdd8bddf-f40f-4e35-8bb4-ef79df9f4d8a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 8919.75,
          "y": 3570
        }
      }
  "66":
    continueonerror: true
    continueonerrortype: errorPath
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      elements:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      network_list_id:
        simple: ${inputs.AkamaiNetworkListID}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Adds elements to the specified network list.
      id: 7a21f18a-4d6b-4652-b081-a2082b9f3c82
      iscommand: true
      name: Akamai WAF - Add IP to a block list
      script: '|||akamai-add-elements-to-network-list'
      type: regular
      version: -1
    taskid: 7a21f18a-4d6b-4652-b081-a2082b9f3c82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8919.75,
          "y": 3910
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9688c755-ae0b-4dfa-8751-c927f6d7ae38
      iscommand: false
      name: ThreatX
      type: title
      version: -1
    taskid: 9688c755-ae0b-4dfa-8751-c927f6d7ae38
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 11289,
          "y": 3410
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "129"
      - "131"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ThreatX
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: cffe6cff-03f5-43cc-89e9-c6b083ae4b53
      iscommand: false
      name: Is ThreatX enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: cffe6cff-03f5-43cc-89e9-c6b083ae4b53
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 11289,
          "y": 3570
        }
      }
  "69":
    continueonerror: true
    continueonerrortype: errorPath
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.RuleName}
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Temporarily blocks an IP address or CIDR. Default is 30 minutes.
      id: 884ef320-2540-4235-9fb6-a3ae37cf0a29
      iscommand: true
      name: ThreatX - Block IP for 30 min
      script: '|||threatx-block-ip'
      type: regular
      version: -1
    taskid: 884ef320-2540-4235-9fb6-a3ae37cf0a29
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10998.5,
          "y": 3910
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53ea2c9b-dacb-456e-8c02-683e777bae76
      iscommand: false
      name: 'Signal Sciences WAF '
      type: title
      version: -1
    taskid: 53ea2c9b-dacb-456e-8c02-683e777bae76
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 12551,
          "y": 3410
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "133"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Signal Sciences WAF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e18ed541-babe-4ecf-85f9-d021aa99a0a9
      iscommand: false
      name: Is Signal Sciences WAF  enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e18ed541-babe-4ecf-85f9-d021aa99a0a9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 12551,
          "y": 3570
        }
      }
  "73":
    continueonerror: true
    continueonerrortype: errorPath
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      note:
        simple: ${inputs.RuleName}
      siteName:
        simple: ${inputs.SiteName}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Adding IPs to the Signal Sciences WAF integration.
      id: 9525c660-b19d-44c1-9c17-b00c11b21ecb
      iscommand: true
      name: Is Signal Sciences WAF   - Blacklist IPs
      script: '|||sigsci-blacklist-add-ip'
      type: regular
      version: -1
    taskid: 9525c660-b19d-44c1-9c17-b00c11b21ecb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 12551,
          "y": 3910
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0ec8621-f223-46dc-8a04-856aa31e77fd
      iscommand: false
      name: Sophos Firewall
      type: title
      version: -1
    taskid: f0ec8621-f223-46dc-8a04-856aa31e77fd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 14489.25,
          "y": 3575
        }
      }
  "75":
    continueonerror: true
    continueonerrortype: errorPath
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      rule_name:
        simple: ${inputs.RuleName}
      target_ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Adds a rule that blocks packets destined for a specific IP address
        or range of IP addresses.
      id: da66be6c-13dc-4570-a61b-b76ec685d051
      iscommand: true
      name: ARIA Packet Intelligence - Blacklist IPs
      script: '|||aria-block-dest-subnet'
      type: regular
      version: -1
    taskid: da66be6c-13dc-4570-a61b-b76ec685d051
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 13472.5,
          "y": 3910
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "137"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: sophos_firewall
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 5ad1fa64-7966-44dd-8fb2-656e205dc05d
      iscommand: false
      name: Is Sophos Firewall enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 5ad1fa64-7966-44dd-8fb2-656e205dc05d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 14489.25,
          "y": 3740
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "135"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: ARIA Packet Intelligence
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: fab5e2cc-1d68-4bd7-867b-032814323d1a
      iscommand: false
      name: Is ARIA Packet Intelligence enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fab5e2cc-1d68-4bd7-867b-032814323d1a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 13472.5,
          "y": 3570
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6e1e1f40-7e8e-422e-8910-c06271450ad8
      iscommand: false
      name: 'ARIA Packet Intelligence '
      type: title
      version: -1
    taskid: 6e1e1f40-7e8e-422e-8910-c06271450ad8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 13472.5,
          "y": 3410
        }
      }
  "80":
    continueonerror: true
    continueonerrortype: errorPath
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "105"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      ipRanges:
        complex:
          root: inputs.InternalRange
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Returns 'yes' if the IP is in one of the ranges provided. Otherwise
        returns 'no'
      id: e73ba673-76c6-4c3c-965e-f0d317a6baed
      iscommand: false
      name: Check if there are internal IP addresses
      script: IsIPInRanges
      type: regular
      version: -1
    taskid: e73ba673-76c6-4c3c-965e-f0d317a6baed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8715,
          "y": 380
        }
      }
  "85":
    continueonerror: true
    continueonerrortype: errorPath
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Input
      stringify:
        simple: "false"
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the IPs from the input.
      id: a025fcfd-3d3c-44e6-a6b0-b4230f925132
      iscommand: false
      name: Append Context List with Input IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a025fcfd-3d3c-44e6-a6b0-b4230f925132
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 18551.5,
          "y": 1560
        }
      }
  "86":
    continueonerror: true
    continueonerrortype: errorPath
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        simple: ${BlockList.Input}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: cd9e4299-244c-4b4d-b76e-b2ab40418a45
      iscommand: false
      name: Re-set the block list [Inputs]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: cd9e4299-244c-4b4d-b76e-b2ab40418a45
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 585.75,
          "y": 3080
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      Override:
        simple: "False"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: This playbook will append a network group object with new elements
        (IPs or network objects).
      id: 3b230eb6-3a09-41ec-82db-81daa78dee97
      iscommand: false
      name: Cisco FirePower- Append network group object
      playbookName: Cisco FirePower- Append network group object
      type: playbook
      version: -1
    taskid: 3b230eb6-3a09-41ec-82db-81daa78dee97
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 9936.5,
          "y": 4080
        }
      }
  "90":
    continueonerror: true
    continueonerrortype: errorPath
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "91"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        complex:
          accessor: "2"
          root: Please answer the following.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 9c29a8af-db66-4d6c-b6fa-95e14121c6b7
      iscommand: false
      name: Re-set the block list [Inputs]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9c29a8af-db66-4d6c-b6fa-95e14121c6b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8860.25,
          "y": 2740
        }
      }
  "91":
    continueonerror: true
    continueonerrortype: errorPath
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "92"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        complex:
          accessor: "0"
          root: Please answer the following.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 702c69ab-3f34-401d-b529-f541989aa016
      iscommand: false
      name: Re-set the block list [Malicious]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 702c69ab-3f34-401d-b529-f541989aa016
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 17199,
          "y": 2910
        }
      }
  "92":
    continueonerror: true
    continueonerrortype: errorPath
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        complex:
          accessor: "1"
          root: Please answer the following.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 3c0acc60-fe8a-4b28-ac00-3bba9d9da7c8
      iscommand: false
      name: Re-set the block list [Suspicious]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3c0acc60-fe8a-4b28-ac00-3bba9d9da7c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 17344.25,
          "y": 3080
        }
      }
  "93":
    continueonerror: true
    continueonerrortype: errorPath
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: ${inputs.RuleName}
      ip:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Adds an IP address or CIDR to the block list.
      id: ae3f5679-ba06-4676-8616-86da704c9b5c
      iscommand: true
      name: ThreatX - add IP to a block list
      script: '|||threatx-blacklist-ip'
      type: regular
      version: -1
    taskid: ae3f5679-ba06-4676-8616-86da704c9b5c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 11629.5,
          "y": 3910
        }
      }
  "94":
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook adds the IP address to a pre-configured firewall rule. (The target firewall rule can be changed as requested.)
        Pre-Requisite:
        1) Create an IP host group.
        2) Create a firewall rule which refers to the IP host group created in the previous step.
      id: f0ffc0b9-feef-4892-859c-a00b778cd8fe
      iscommand: false
      name: Sophos Firewall - Block IP
      playbookName: Sophos Firewall - Block IP
      type: playbook
      version: -1
    taskid: f0ffc0b9-feef-4892-859c-a00b778cd8fe
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 14394,
          "y": 4080
        }
      }
  "95":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${BlockList.PIIP}
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "98"
      "yes":
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any internal IPs in the block requested IPs.
      id: fec9b088-6d31-4eda-8b5f-3296bd257767
      iscommand: false
      name: Are There Any Internal IPs?
      type: condition
      version: -1
    taskid: fec9b088-6d31-4eda-8b5f-3296bd257767
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 9100.75,
          "y": 2230
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 44121d41-e492-4b08-8789-34ee4160adfa
      iscommand: false
      name: No IP to block
      type: title
      version: -1
    taskid: 44121d41-e492-4b08-8789-34ee4160adfa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 295.25,
          "y": 4085
        }
      }
  "98":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Malicious IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Malicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Suspiocus IPs"?
        options: []
        optionsarg:
        - complex:
            accessor: Suspicious
            root: BlockList
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: Do you approve the blocking request for "Other IPs from Input"?
        options: []
        optionsarg:
        - complex:
            filters:
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Suspicious
            - - left:
                  iscontext: true
                  value:
                    simple: BlockList.Input
                operator: notIn
                right:
                  iscontext: true
                  value:
                    simple: BlockList.Malicious
            root: BlockList.Input
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: Your SOC team
      title: Please answer the following
      totalanswers: 0
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |-
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of IPs will be blocked on your XSOAR's integrated network devices.</p>
          <p><br />(<strong>Note</strong>: the IPs will be added to your company block list or be blocked in individual rules based on the XSOAR integrated devices).</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc: null
      format: html
      methods:
      - email
      subject:
        simple: Block IP Playbook - Analyst's Verification
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Investigator
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Ask the user what IPs should be blocked.

        Remember that the direction you have decided is - ${inputs.RuleDirection}
      id: 342e2d51-0427-4bc1-85dd-e53b274549f7
      iscommand: false
      name: Analyst Verification Prompt (without IP Internal List)
      type: collection
      version: -1
    taskid: 342e2d51-0427-4bc1-85dd-e53b274549f7
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 8860.25,
          "y": 2570
        }
      }
  "99":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.InputEnrichment
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "99"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "100"
      "yes":
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the user requests an IPs enrichment for determining if
        those are malicious or suspicious.
      id: 68b6a610-d4dc-4293-8bf6-015902b9e3dc
      iscommand: false
      name: Should Inputs be enriched?
      type: condition
      version: -1
    taskid: 68b6a610-d4dc-4293-8bf6-015902b9e3dc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 9005.5,
          "y": 720
        }
      }
  "100":
    continueonerror: true
    continueonerrortype: errorPath
    id: "100"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "51"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.PIIP
      value:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "Yes"
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: bdddf906-e02c-4004-9d85-4219a71e8550
      iscommand: false
      name: Append Internal IPs to a possible block list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: bdddf906-e02c-4004-9d85-4219a71e8550
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8569.75,
          "y": 1060
        }
      }
  "102":
    continueonerror: true
    continueonerrortype: errorPath
    id: "102"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "90"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: BlockList.Final
      value:
        complex:
          accessor: "3"
          root: Please answer the following.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script does nothing.
      id: 87408dab-183e-4756-90a0-44cad486c18f
      iscommand: false
      name: Re-set the block list [Internal Address]
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 87408dab-183e-4756-90a0-44cad486c18f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 17730,
          "y": 2570
        }
      }
  "103":
    continueonerror: true
    continueonerrortype: errorPath
    id: "103"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        complex:
          root: inputs.Tag
      indicatorsValues:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.add.values.to.indicator.multi.select.field
      id: 59d1a99a-81e5-4bb9-ab9f-dcf85cec35e8
      iscommand: true
      name: Update Indicator Tag for EDL
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 59d1a99a-81e5-4bb9-ab9f-dcf85cec35e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 15456,
          "y": 3910
        }
      }
  "104":
    continueonerrortype: ""
    id: "104"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f0503b7-bba7-45d9-8e73-3809af7e5d48
      iscommand: false
      name: EDL/EIS
      type: title
      version: -1
    taskid: 4f0503b7-bba7-45d9-8e73-3809af7e5d48
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 15456,
          "y": 3410
        }
      }
  "105":
    continueonerror: true
    continueonerrortype: errorPath
    id: "105"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "109"
      '#none#':
      - "99"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      type:
        simple: IP
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Create System indicators
      id: 4d8877da-d559-4540-8973-37a41fc4c4f4
      iscommand: true
      name: Create IP indicators in the system
      script: Builtin|||createNewIndicator
      type: regular
      version: -1
    taskid: 4d8877da-d559-4540-8973-37a41fc4c4f4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8860.25,
          "y": 550
        }
      }
  "106":
    continueonerrortype: ""
    id: "106"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "108"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c4cee8d1-81c7-4c4e-8465-0b913bce5337
      iscommand: false
      name: Prisma SASE
      type: title
      version: -1
    taskid: c4cee8d1-81c7-4c4e-8465-0b913bce5337
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 16472.75,
          "y": 3575
        }
      }
  "107":
    continueonerrortype: ""
    id: "107"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        complex:
          root: inputs.AutoCommit
      Folder:
        complex:
          root: inputs.Folder
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Final
          root: BlockList
          transformers:
          - operator: uniq
      StaticAddressGroupName:
        complex:
          root: inputs.StaticAddressGroup
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook assists in blocking communication with the provided IPs in the Prisma SASE policy.
        If a group name is provided, the IPs will be added to the mentioned static address group (there should be a rule associated with the group name to block communication with that group).
        And if the group name is not provided, a new group will be created with a dedicated rule to block communication with those IPs.
      id: 281f9d65-c396-4441-86f2-340da163d601
      iscommand: false
      name: Prisma SASE - Block IP
      playbookId: Prisma SASE - Block IP
      type: playbook
      version: -1
    taskid: 281f9d65-c396-4441-86f2-340da163d601
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 16377.5,
          "y": 4080
        }
      }
  "108":
    continueonerrortype: ""
    id: "108"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "141"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Palo Alto Networks - Prisma SASE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 4d7717be-2f2d-4962-8b96-18edd3a0977c
      iscommand: false
      name: Is Prisma SASE enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 4d7717be-2f2d-4962-8b96-18edd3a0977c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 16472.75,
          "y": 3740
        }
      }
  "109":
    continueonerrortype: ""
    id: "109"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 99ad291f-c38f-4e26-870b-f1d54f1f3f45
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 99ad291f-c38f-4e26-870b-f1d54f1f3f45
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 8774.5,
          "y": 4080
        }
      }
  "110":
    continueonerrortype: ""
    id: "110"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7a34ea03-f70c-4354-8fcf-015185787ec1
      iscommand: false
      name: SOC PAN-OS DAG Configuration
      playbookId: 'SOC PAN-OS DAG Configuration'
      type: playbook
      version: -1
    taskid: 7a34ea03-f70c-4354-8fcf-015185787ec1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2524,
          "y": 4080
        }
      }
  "111":
    continueonerrortype: ""
    id: "111"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: ba67efbf-9ee6-4500-8cf1-ea5ac090816b
      iscommand: false
      name: SOC PAN-OS - Block IP - Custom Block Rule
      playbookId: 'SOC PAN-OS - Block IP - Custom Block Rule'
      type: playbook
      version: -1
    taskid: ba67efbf-9ee6-4500-8cf1-ea5ac090816b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1362,
          "y": 4080
        }
      }
  "112":
    continueonerrortype: ""
    id: "112"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 02bf7a1c-4217-4f3a-8501-8ee5b313f041
      iscommand: false
      name: SOC PAN-OS - Block IP - Static Address Group
      playbookId: 'SOC PAN-OS - Block IP - Static Address Group'
      type: playbook
      version: -1
    taskid: 02bf7a1c-4217-4f3a-8501-8ee5b313f041
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1943,
          "y": 4080
        }
      }
  "113":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "113"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "114"
      "no":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2a2ed895-95c3-410d-80ce-1790e1f213bd
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 2a2ed895-95c3-410d-80ce-1790e1f213bd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4312.25,
          "y": 3740
        }
      }
  "114":
    continueonerrortype: ""
    id: "114"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Zscaler Block IP
          Command: zscaler-blacklist-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 06546b30-2176-4af9-9f63-99ea37603f11
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 06546b30-2176-4af9-9f63-99ea37603f11
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4507.5,
          "y": 4080
        }
      }
  "115":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "115"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "116"
      "no":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ff84cd43-5b05-4c35-8580-d44003e1cbf2
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: ff84cd43-5b05-4c35-8580-d44003e1cbf2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5233.75,
          "y": 3740
        }
      }
  "116":
    continueonerrortype: ""
    id: "116"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Zscaler Block IP
          Command: zscaler-blacklist-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 79a2c108-92d7-413a-89e4-c595c55f65cf
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 79a2c108-92d7-413a-89e4-c595c55f65cf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5429,
          "y": 4080
        }
      }
  "117":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "117"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "118"
      "no":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ea7e1ecd-4bae-48c1-8a6c-a4860b3d4486
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: ea7e1ecd-4bae-48c1-8a6c-a4860b3d4486
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6155.25,
          "y": 3740
        }
      }
  "118":
    continueonerrortype: ""
    id: "118"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: F5 Silverline Block IP
          Command: f5-silverline-ip-object-add
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 59c5eda3-e9a5-4f3c-a199-2d37c6b7841e
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 59c5eda3-e9a5-4f3c-a199-2d37c6b7841e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6350.5,
          "y": 4080
        }
      }
  "119":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "119"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "120"
      "no":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27be7c3b-0cd7-4427-8c65-a5b0caa22fe5
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 27be7c3b-0cd7-4427-8c65-a5b0caa22fe5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3345.5,
          "y": 3910
        }
      }
  "120":
    continueonerrortype: ""
    id: "120"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Checkpoint Block IP
          Command:
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 6b91f74b-5191-4e72-bdda-f3d2ad22b146
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 6b91f74b-5191-4e72-bdda-f3d2ad22b146
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3586,
          "y": 4080
        }
      }
  "121":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "121"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "122"
      "no":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ad4c57c7-ef9e-4834-85a5-1be8c9204059
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: ad4c57c7-ef9e-4834-85a5-1be8c9204059
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 7076.75,
          "y": 3740
        }
      }
  "122":
    continueonerrortype: ""
    id: "122"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: Cisco ASA Block IP
          Command: cisco-asa-create-rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: bc20f7cb-6a11-43b8-9354-a2aebc55ecd2
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: bc20f7cb-6a11-43b8-9354-a2aebc55ecd2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 7272,
          "y": 4080
        }
      }
  "123":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "124"
      "no":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c93187cb-6957-4772-8da5-44f6eb3e75de
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: c93187cb-6957-4772-8da5-44f6eb3e75de
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 7998.25,
          "y": 3740
        }
      }
  "124":
    continueonerrortype: ""
    id: "124"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - Cisco Secure Cloud Analytics - Add IP to Block List
          Command: sw-block-domain-or-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 0684b8a9-1303-4f8d-ae05-2dc951d66b72
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 0684b8a9-1303-4f8d-ae05-2dc951d66b72
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 8193.5,
          "y": 4080
        }
      }
  "125":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "125"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "126"
      "no":
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 417c66ff-a2d5-48c1-8228-be35d2efd4a8
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 417c66ff-a2d5-48c1-8228-be35d2efd4a8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 9065,
          "y": 3740
        }
      }
  "126":
    continueonerrortype: ""
    id: "126"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - Akamai WAF - Add IP to block list
          Command: akamai-add-elements-to-network-list
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: a079d530-9c3d-488d-98f9-2e7b5625f572
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: a079d530-9c3d-488d-98f9-2e7b5625f572
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 9355.5,
          "y": 4080
        }
      }
  "127":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "127"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "128"
      "no":
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 780282db-f78b-4a39-8d40-e7cefea30478
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 780282db-f78b-4a39-8d40-e7cefea30478
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 10177,
          "y": 3910
        }
      }
  "128":
    continueonerrortype: ""
    id: "128"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode:  - Cisco FirePower - Append network\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: b95fd78e-e81b-4e8b-82c7-f023a57e0d91
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: b95fd78e-e81b-4e8b-82c7-f023a57e0d91
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 10417.5,
          "y": 4080
        }
      }
  "129":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "129"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "130"
      "no":
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a9ecf2f7-3f91-463a-80af-54fda8afcb1d
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: a9ecf2f7-3f91-463a-80af-54fda8afcb1d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 11143.75,
          "y": 3740
        }
      }
  "130":
    continueonerrortype: ""
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - ThreatX - Block IP for 30 min
          Command: threatx-block-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: cfc8fd00-47f7-4b29-8002-a3ca71ddf689
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: cfc8fd00-47f7-4b29-8002-a3ca71ddf689
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 11339,
          "y": 4080
        }
      }
  "131":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "132"
      "no":
      - "93"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9350d88f-2422-41d7-8dc5-239aea47fa19
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 9350d88f-2422-41d7-8dc5-239aea47fa19
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 11774.75,
          "y": 3740
        }
      }
  "132":
    continueonerrortype: ""
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - ThreatX - add IP to a block list
          Command: threatx-blacklist-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: dfa03823-f457-4e05-bbfc-657f5c157bbe
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: dfa03823-f457-4e05-bbfc-657f5c157bbe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 11970,
          "y": 4080
        }
      }
  "133":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "134"
      "no":
      - "73"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 24aa9f8b-659a-4d62-8a06-713a5b1893b4
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 24aa9f8b-659a-4d62-8a06-713a5b1893b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 12696.25,
          "y": 3740
        }
      }
  "134":
    continueonerrortype: ""
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - Signal Scienes WAF - Blacklist IPs
          Command: sigsci-blacklist-add-ip
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 056bd27a-d626-475e-b03f-bf6d3b9abc40
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 056bd27a-d626-475e-b03f-bf6d3b9abc40
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 12891.5,
          "y": 4080
        }
      }
  "135":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "136"
      "no":
      - "75"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9b0a5ddb-dbfc-4287-808d-902319ad13fe
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: 9b0a5ddb-dbfc-4287-808d-902319ad13fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 13617.75,
          "y": 3740
        }
      }
  "136":
    continueonerrortype: ""
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - ARIA Packet Intelligence - Blacklist IP
          Command: aria-block-dest-subnet
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 874a6c6e-ea6a-45a0-9ad1-f8038babde5a
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 874a6c6e-ea6a-45a0-9ad1-f8038babde5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 13813,
          "y": 4080
        }
      }
  "137":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "137"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "138"
      "no":
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb3c2980-2fab-4069-849a-912df39016cb
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: eb3c2980-2fab-4069-849a-912df39016cb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 14634.5,
          "y": 3910
        }
      }
  "138":
    continueonerrortype: ""
    id: "138"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode:  - Sophos Fireewall - Block IP\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 4fe4e79f-a1fd-4422-a26f-81ee4f2d4632
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 4fe4e79f-a1fd-4422-a26f-81ee4f2d4632
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 14875,
          "y": 4080
        }
      }
  "139":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "140"
      "no":
      - "103"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ef44164c-edcd-41de-8de0-0c855eebc3ac
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: ef44164c-edcd-41de-8de0-0c855eebc3ac
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 15601.25,
          "y": 3740
        }
      }
  "140":
    continueonerrortype: ""
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode:  - Update Indicator  Tag of EDL
          Command: appendindicatorfield
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 25035df1-141b-44e1-ae2f-5b26accabcaf
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 25035df1-141b-44e1-ae2f-5b26accabcaf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 15796.5,
          "y": 4080
        }
      }
  "141":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "142"
      "no":
      - "107"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbeb67dc-a155-48f2-8cc4-78a5003498c4
      iscommand: false
      name: Shadow Run?
      type: condition
      version: -1
    taskid: bbeb67dc-a155-48f2-8cc4-78a5003498c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 16618,
          "y": 3910
        }
      }
  "142":
    continueonerrortype: ""
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: "Shadow Mode:  Prisma SASE - Block IP\nCommand: "
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: ad297cdd-af75-4f09-9f39-9c79bd0e7cd2
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: ad297cdd-af75-4f09-9f39-9c79bd0e7cd2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 16858.5,
          "y": 4080
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "108_141_yes": 0.78,
      "12_2_#default#": 0.11,
      "22_2_#default#": 0.1,
      "23_112_yes": 0.9,
      "23_2_#default#": 0.1,
      "24_2_#default#": 0.1,
      "25_110_yes": 0.82,
      "25_2_#default#": 0.1,
      "27_115_yes": 0.89,
      "27_2_#default#": 0.1,
      "32_117_yes": 0.67,
      "32_2_#default#": 0.21,
      "36_8_#default#": 0.19,
      "41_42_yes": 0.59,
      "41_8_#default#": 0.17,
      "44_95_yes": 0.42,
      "47_48_YES": 0.64,
      "47_8_#default#": 0.24,
      "56_121_yes": 0.83,
      "56_2_#default#": 0.28,
      "58_123_yes": 0.61,
      "58_2_#default#": 0.38,
      "61_127_yes": 0.88,
      "61_2_#default#": 0.1,
      "65_125_yes": 0.7,
      "65_2_#default#": 0.11,
      "68_129_yes": 0.7,
      "68_131_yes": 0.87,
      "68_2_#default#": 0.1,
      "72_2_#default#": 0.16,
      "76_137_yes": 0.85,
      "76_2_#default#": 0.12,
      "78_135_yes": 0.85,
      "78_2_#default#": 0.14,
      "7_119_yes": 0.89,
      "7_2_#default#": 0.1,
      "8_43_yes": 0.5,
      "8_96_#default#": 0.1,
      "99_100_#default#": 0.83,
      "99_53_yes": 0.62
    },
    "paper": {
      "dimensions": {
        "height": 4260,
        "width": 19223,
        "x": 50,
        "y": 50
      }
    }
  }
