Playbooks/SOC_PAN-OS_-_Create_Or_Edit_Rule.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.3.11
    packID: ""
    packName: PAN-OS by Palo Alto Networks
    prevname: ""
    toServerVersion: ""
description: Creates or edits a Panorama rule and moves it into the desired position
adopted: true
id: 'SOC PAN-OS - Create Or Edit Rule'
inputs:
- description: The device group to work on. Exists only in panorama!
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the rule to update, or the name of the rule that will be
    created.
  key: rule_name
  playbookInputQuery: null
  required: true
  value: {}
- description: The server address to which to forward logs.
  key: log-forwarding-object-name
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    The position of the rule in the ruleset. Valid values are:
      * Top
      * Bottom
      * Before
      * After

    The default is 'Bottom'
  key: rule-position
  playbookInputQuery: null
  required: false
  value: {}
- description: If the rule-position that is chosen is before or after, specify the
    rule name to which it is related.
  key: relative-rule-name
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines if the rule is inbound or outbound.
  key: inbound-or-outbound-rule
  playbookInputQuery: null
  required: false
  value: {}
- description: the element to add to the rule
  key: element-to-add
  playbookInputQuery: null
  required: true
  value: {}
- description: |-
    The action that will be defined in the rule. Valid values are:
    * allow
    * deny
    * drop
  key: action-type
  playbookInputQuery: null
  required: true
  value: {}
- description: Determines whether the rule is a pre-rulebase or post-rulebase rule,
    according to the rule structure. Exists only in panorama!
  key: pre-post-rulebase
  playbookInputQuery: null
  required: false
  value: {}
name: SOC PAN-OS - Create Or Edit Rule
outputs: []
sourceplaybookid: PAN-OS - Create Or Edit Rule
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e69fbe1a-056a-4929-8dbe-d535f61246e6
      iscommand: false
      name: ""
      version: -1
    taskid: e69fbe1a-056a-4929-8dbe-d535f61246e6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1838.25,
          "y": 50
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: errorPath
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.device-group
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns a list of predefined security rules.
      id: f59d5d01-6ca3-4559-88a3-d1ea84ba51fc
      iscommand: true
      name: List all rules
      script: '|||pan-os-list-rules'
      type: regular
      version: -1
    taskid: f59d5d01-6ca3-4559-88a3-d1ea84ba51fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1838.25,
          "y": 210
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.SecurityRule.Name
          operator: isEqualString
          right:
            iscontext: true
            value:
              simple: inputs.rule_name
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the rule exists
      id: f02513b5-9cd4-435b-8bc6-d326954e50db
      iscommand: false
      name: Does the rule exist?
      type: condition
      version: -1
    taskid: f02513b5-9cd4-435b-8bc6-d326954e50db
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1983.5,
          "y": 380
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.inbound-or-outbound-rule
          operator: isEqualString
          right:
            value:
              simple: inbound
      label: Inbound
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.inbound-or-outbound-rule
          operator: isEqualString
          right:
            value:
              simple: outbound
      label: Outbound
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Inbound:
      - "19"
      Outbound:
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the rule is inbound or outbound based on playbook
        input
      id: baccdbc9-eb31-4a3f-8e18-73996824ef3e
      iscommand: false
      name: Is the rule inbound or outbound?
      type: condition
      version: -1
    taskid: baccdbc9-eb31-4a3f-8e18-73996824ef3e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2709.75,
          "y": 550
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.inbound-or-outbound-rule
          operator: isEqualString
          right:
            value:
              simple: inbound
      label: Inbound
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.inbound-or-outbound-rule
          operator: isEqualString
          right:
            value:
              simple: outbound
      label: Outbound
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Inbound:
      - "13"
      Outbound:
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the rule is inbound or outbound based on playbook
        input
      id: f6317490-2c98-48a3-8ff8-c87e7d441343
      iscommand: false
      name: Is the rule inbound or outbound?
      type: condition
      version: -1
    taskid: f6317490-2c98-48a3-8ff8-c87e7d441343
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 550
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: errorPath
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      element_to_change:
        simple: source
      element_value:
        complex:
          root: inputs.element-to-add
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      rulename:
        complex:
          root: inputs.rule_name
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the element in the input as the new source of the rule
      id: 56b0853e-d401-484b-ac06-1bb678837642
      iscommand: true
      name: Add new source to the rule
      script: '|||pan-os-edit-rule'
      type: regular
      version: -1
    taskid: 56b0853e-d401-484b-ac06-1bb678837642
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2519.25,
          "y": 890
        }
      }
  "6":
    continueonerror: true
    continueonerrortype: errorPath
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      element_to_change:
        simple: destination
      element_value:
        complex:
          root: inputs.element-to-add
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      rulename:
        complex:
          root: inputs.rule_name
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the element in the input as the new destination of the rule
      id: 9f165501-0785-45f1-a1d7-408a53ae32c2
      iscommand: true
      name: Add the new destination to the rule
      script: '|||pan-os-edit-rule'
      type: regular
      version: -1
    taskid: 9f165501-0785-45f1-a1d7-408a53ae32c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1938.25,
          "y": 890
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: errorPath
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        complex:
          root: inputs.action-type
      destination:
        complex:
          root: inputs.element-to-add
      device-group:
        complex:
          root: inputs.device-group
      log_forwarding:
        complex:
          root: inputs.log-forwarding-object-name
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      rulename:
        complex:
          root: inputs.rule_name
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the element in the input as the new destination of the rule.
      id: bea99e42-621e-4f22-ac22-9a8d376515a9
      iscommand: true
      name: Create an outbound rule
      script: '|||pan-os-create-rule'
      type: regular
      version: -1
    taskid: bea99e42-621e-4f22-ac22-9a8d376515a9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 631,
          "y": 890
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: errorPath
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.device-group
      dst:
        complex:
          root: inputs.relative-rule-name
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      rulename:
        complex:
          root: inputs.rule_name
      where:
        complex:
          root: inputs.rule-position
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Changes the location of a policy rule.
      id: f9abe134-ea32-41c1-8e00-7a3dd7f48a82
      iscommand: true
      name: Move the rule into its position
      script: '|||pan-os-move-rule'
      type: regular
      version: -1
    taskid: f9abe134-ea32-41c1-8e00-7a3dd7f48a82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1547.75,
          "y": 1060
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4cb1e4d5-8722-4b7b-825a-9742e42f8344
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4cb1e4d5-8722-4b7b-825a-9742e42f8344
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1547.75,
          "y": 1400
        }
      }
  "11":
    continueonerror: true
    continueonerrortype: errorPath
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "12"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        complex:
          root: inputs.action-type
      device-group:
        complex:
          root: inputs.device-group
      log_forwarding:
        simple: ${inputs.log-forwarding-object-name}
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      rulename:
        complex:
          root: inputs.rule_name
      source:
        complex:
          root: inputs.element-to-add
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add the element in the input as the new source of the rule
      id: 6141ed67-8de6-4054-a808-2ee61aa63fc2
      iscommand: true
      name: Create an inbound rule
      script: '|||pan-os-create-rule'
      type: regular
      version: -1
    taskid: 6141ed67-8de6-4054-a808-2ee61aa63fc2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 890
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 58d2d031-5c72-435f-8e33-f4de6147b49b
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 58d2d031-5c72-435f-8e33-f4de6147b49b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1257.25,
          "y": 1230
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
      "no":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 67a9f799-7f02-439a-875c-409e8b7217f1
      iscommand: false
      name: Shadown Run?
      type: condition
      version: -1
    taskid: 67a9f799-7f02-439a-875c-409e8b7217f1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 720
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: PAN-OS Create an inbound rule
          Command: pan-os-create-rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 321ff9e1-8cbd-487b-9f71-244c8ec7c3b9
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 321ff9e1-8cbd-487b-9f71-244c8ec7c3b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 1230
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "no":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 28fc7b41-6df3-4a78-85b8-f7d0b5f70722
      iscommand: false
      name: Shadown Run?
      type: condition
      version: -1
    taskid: 28fc7b41-6df3-4a78-85b8-f7d0b5f70722
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 720
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: PAN-OS Create an Outbound rule
          Command: pan-os-create-rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 046f6607-343d-4b51-b804-150e85e8de62
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 046f6607-343d-4b51-b804-150e85e8de62
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 776.25,
          "y": 1230
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "18"
      "no":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 28c2ed74-cfe9-41b2-8d03-fd4df981a6b2
      iscommand: false
      name: Shadown Run?
      type: condition
      version: -1
    taskid: 28c2ed74-cfe9-41b2-8d03-fd4df981a6b2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2228.75,
          "y": 720
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: PAN-OS Add New Outbound Destination Rule
          Command: pan-os-edit-rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 36f7eff2-e429-4d6a-8f1d-ee68b4d2fc05
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 36f7eff2-e429-4d6a-8f1d-ee68b4d2fc05
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2228.75,
          "y": 1230
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: shadow_mode
          operator: isFalse
      label: "no"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "no":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eca95b55-4084-4b77-8be0-d05c922369bb
      iscommand: false
      name: Shadown Run?
      type: condition
      version: -1
    taskid: eca95b55-4084-4b77-8be0-d05c922369bb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2809.75,
          "y": 720
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: PAN-OS Add New Inbound Destination Rule
          Command: pan-os-edit-rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 7831b2f0-4adc-4b8a-909a-77b2b9360e6b
      iscommand: false
      name: Print To WarRoom
      script: Print
      type: regular
      version: -1
    taskid: 7831b2f0-4adc-4b8a-909a-77b2b9360e6b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2809.75,
          "y": 1230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "2_3_yes": 0.6,
      "2_4_#default#": 0.65,
      "3_17_Outbound": 0.9,
      "3_19_Inbound": 0.81,
      "4_15_Outbound": 0.82
    },
    "paper": {
      "dimensions": {
        "height": 1410,
        "width": 3140.75,
        "x": 50,
        "y": 50
      }
    }
  }
