Playbooks/SOC_IP_Enrichment_-_Internal_-_Generic_v2.yml
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 2.7.16
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    supportedModules:
    - X1
    - X3
    - X5
    - ENT_PLUS
    - agentix
    toServerVersion: ""
description: |-
  Enrich Internal IP addresses using one or more integrations.

  - Resolve IP address to hostname (DNS)
  - Separate internal and external IP addresses
  - Get host information for IP addresses.
dirtyInputs: true
id: 'SOC IP Enrichment - Internal - Generic v2'
inputSections:
- description: Generic group for inputs
  inputs:
  - IP
  - InternalRange
  - ResolveIP
  - ExecutedFromParent
  - Hostnames
  name: General (Inputs group)
inputs:
- description: The IP address to enrich.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Address
      root: IP
      transformers:
      - operator: uniq
- description: "A comma-separated list of IP address ranges (in CIDR notation). Use
    this list to check if an IP address is found within a set of IP address ranges.
    \nFor example: \"172.16.0.0/12,10.0.0.0/8,192.168.0.0/16\" (without quotes)."
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: PrivateIPs
      root: lists
      transformers:
      - args:
          error_if_no_match: {}
          ignore_case: {}
          multi_line: {}
          period_matches_newline: {}
          regex:
            value:
              simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
          unpack_matches: {}
        operator: RegexExtractAll
      - args:
          separator:
            value:
              simple: ','
        operator: join
- description: |-
    Whether to convert the IP address to a hostname using a DNS query (True/False).
    The default value is true.
  key: ResolveIP
  playbookInputQuery: null
  required: true
  value:
    complex:
      root: inputs.ResolveIP
- description: |-
    Whether to execute common logic, like the classification of IP addresses to ranges and resolving, in the the main (IP Enrichment - Generic v2) enrichment playbook, instead of in the sub-playbooks.

    Possible values are: True, False.
    Setting this to True will execute the relevant commands in the main playbook instead of executing them in both sub-playbooks.

    Set this to True in the parent playbook if you are using the parent playbook, as opposed to using the sub-playbooks directly in your playbooks, as this will improve the performance of the playbook and reduce the overfall size of the incident.
  key: ExecutedFromParent
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Hostnames to enrich. If the ExecutedFromParent playbook is set to True
    in the IP - Enrichment - Generic v2 playbook, and an internal IP resolves to an
    endpoint hostname that you want to enrich, the hostnames defined here will be
    used.
  key: Hostnames
  playbookInputQuery: null
  required: false
  value: {}
name: SOC IP Enrichment - Internal - Generic v2
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - IP
  - DBotScore
  - Endpoint
  - Endpoint.Hostname
  - Endpoint.OS
  - Endpoint.IP
  - Endpoint.MAC
  - Endpoint.Domain
  - Endpoint.ID
  - Endpoint.Status
  - Endpoint.IsIsolated
  - Endpoint.MACAddress
  - Endpoint.Vendor
  - Endpoint.Relationships
  - Endpoint.Processor
  - Endpoint.Processors
  - Endpoint.Memory
  - Endpoint.Model
  - Endpoint.BIOSVersion
  - Endpoint.OSVersion
  - Endpoint.DHCPServer
  - Endpoint.Groups
  - ExtraHop.Device.Macaddr
  - ExtraHop.Device.DeviceClass
  - ExtraHop.Device.UserModTime
  - ExtraHop.Device.AutoRole
  - ExtraHop.Device.ParentId
  - ExtraHop.Device.Vendor
  - ExtraHop.Device.Analysis
  - ExtraHop.Device.DiscoveryId
  - ExtraHop.Device.DefaultName
  - ExtraHop.Device.DisplayName
  - ExtraHop.Device.OnWatchlist
  - ExtraHop.Device.ModTime
  - ExtraHop.Device.IsL3
  - ExtraHop.Device.Role
  - ExtraHop.Device.DiscoverTime
  - ExtraHop.Device.Id
  - ExtraHop.Device.Ipaddr4
  - ExtraHop.Device.Vlanid
  - ExtraHop.Device.Ipaddr6
  - ExtraHop.Device.NodeId
  - ExtraHop.Device.Description
  - ExtraHop.Device.DnsName
  - ExtraHop.Device.DhcpName
  - ExtraHop.Device.CdpName
  - ExtraHop.Device.NetbiosName
  - ExtraHop.Device.Url
  - McAfee.ePO.Endpoint
  - ActiveDirectory.ComputersPageCookie
  - ActiveDirectory.Computers
  - ActiveDirectory.Computers.dn
  - ActiveDirectory.Computers.memberOf
  - ActiveDirectory.Computers.name
  - CrowdStrike.Device
  - CarbonBlackEDR.Sensor.systemvolume_total_size
  - CarbonBlackEDR.Sensor.emet_telemetry_path
  - CarbonBlackEDR.Sensor.os_environment_display_string
  - CarbonBlackEDR.Sensor.emet_version
  - CarbonBlackEDR.Sensor.emet_dump_flags
  - CarbonBlackEDR.Sensor.clock_delta
  - CarbonBlackEDR.Sensor.supports_cblr
  - CarbonBlackEDR.Sensor.sensor_uptime
  - CarbonBlackEDR.Sensor.last_update
  - CarbonBlackEDR.Sensor.physical_memory_size
  - CarbonBlackEDR.Sensor.build_id
  - CarbonBlackEDR.Sensor.uptime
  - CarbonBlackEDR.Sensor.is_isolating
  - CarbonBlackEDR.Sensor.event_log_flush_time
  - CarbonBlackEDR.Sensor.computer_dns_name
  - CarbonBlackEDR.Sensor.emet_report_setting
  - CarbonBlackEDR.Sensor.id
  - CarbonBlackEDR.Sensor.emet_process_count
  - CarbonBlackEDR.Sensor.emet_is_gpo
  - CarbonBlackEDR.Sensor.power_state
  - CarbonBlackEDR.Sensor.network_isolation_enabled
  - CarbonBlackEDR.Sensor.systemvolume_free_size
  - CarbonBlackEDR.Sensor.status
  - CarbonBlackEDR.Sensor.num_eventlog_bytes
  - CarbonBlackEDR.Sensor.sensor_health_message
  - CarbonBlackEDR.Sensor.build_version_string
  - CarbonBlackEDR.Sensor.computer_sid
  - CarbonBlackEDR.Sensor.next_checkin_time
  - CarbonBlackEDR.Sensor.node_id
  - CarbonBlackEDR.Sensor.cookie
  - CarbonBlackEDR.Sensor.emet_exploit_action
  - CarbonBlackEDR.Sensor.computer_name
  - CarbonBlackEDR.Sensor.license_expiration
  - CarbonBlackEDR.Sensor.supports_isolation
  - CarbonBlackEDR.Sensor.parity_host_id
  - CarbonBlackEDR.Sensor.supports_2nd_gen_modloads
  - CarbonBlackEDR.Sensor.network_adapters
  - CarbonBlackEDR.Sensor.sensor_health_status
  - CarbonBlackEDR.Sensor.registration_time
  - CarbonBlackEDR.Sensor.restart_queued
  - CarbonBlackEDR.Sensor.notes
  - CarbonBlackEDR.Sensor.num_storefiles_bytes
  - CarbonBlackEDR.Sensor.os_environment_id
  - CarbonBlackEDR.Sensor.shard_id
  - CarbonBlackEDR.Sensor.boot_id
  - CarbonBlackEDR.Sensor.last_checkin_time
  - CarbonBlackEDR.Sensor.os_type
  - CarbonBlackEDR.Sensor.group_id
  - CarbonBlackEDR.Sensor.uninstall
  - PaloAltoNetworksXDR.Endpoint.endpoint_id
  - PaloAltoNetworksXDR.Endpoint.endpoint_name
  - PaloAltoNetworksXDR.Endpoint.endpoint_type
  - PaloAltoNetworksXDR.Endpoint.endpoint_status
  - PaloAltoNetworksXDR.Endpoint.os_type
  - PaloAltoNetworksXDR.Endpoint.ip
  - PaloAltoNetworksXDR.Endpoint.users
  - PaloAltoNetworksXDR.Endpoint.domain
  - PaloAltoNetworksXDR.Endpoint.alias
  - PaloAltoNetworksXDR.Endpoint.first_seen
  - PaloAltoNetworksXDR.Endpoint.last_seen
  - PaloAltoNetworksXDR.Endpoint.content_version
  - PaloAltoNetworksXDR.Endpoint.installation_package
  - PaloAltoNetworksXDR.Endpoint.active_directory
  - PaloAltoNetworksXDR.Endpoint.install_date
  - PaloAltoNetworksXDR.Endpoint.endpoint_version
  - PaloAltoNetworksXDR.Endpoint.is_isolated
  - PaloAltoNetworksXDR.Endpoint.group_name
  - PaloAltoNetworksXDR.Endpoint.count
  - Account.Username
  - Account.Domain
  - PaloAltoNetworksXDR.RiskyHost.type
  - PaloAltoNetworksXDR.RiskyHost.id
  - PaloAltoNetworksXDR.RiskyHost.score
  - PaloAltoNetworksXDR.RiskyHost.reasons
  - PaloAltoNetworksXDR.RiskyHost.reasons.date created
  - PaloAltoNetworksXDR.RiskyHost.reasons.description
  - PaloAltoNetworksXDR.RiskyHost.reasons.severity
  - PaloAltoNetworksXDR.RiskyHost.reasons.status
  - PaloAltoNetworksXDR.RiskyHost.reasons.points
  - Core.Endpoint.endpoint_id
  - Core.Endpoint.endpoint_name
  - Core.Endpoint.endpoint_type
  - Core.Endpoint.endpoint_status
  - Core.Endpoint.os_type
  - Core.Endpoint.ip
  - Core.Endpoint.users
  - Core.Endpoint.domain
  - Core.Endpoint.alias
  - Core.Endpoint.first_seen
  - Core.Endpoint.last_seen
  - Core.Endpoint.content_version
  - Core.Endpoint.installation_package
  - Core.Endpoint.active_directory
  - Core.Endpoint.install_date
  - Core.Endpoint.endpoint_version
  - Core.Endpoint.is_isolated
  - Core.Endpoint.group_name
  - Core.RiskyHost.type
  - Core.RiskyHost.id
  - Core.RiskyHost.score
  - Core.RiskyHost.reasons
  - Core.RiskyHost.reasons.date created
  - Core.RiskyHost.reasons.description
  - Core.RiskyHost.reasons.severity
  - Core.RiskyHost.reasons.status
  - Core.RiskyHost.reasons.points
  - IP.Address
  - IP.InRange
outputs:
- contextPath: IP
  description: The IP objects.
  type: unknown
- contextPath: DBotScore
  description: Indicator, Score, Type and Vendor.
  type: unknown
- contextPath: Endpoint
  description: The endpoint's object.
  type: unknown
- contextPath: Endpoint.Hostname
  description: The hostname to enrich.
  type: string
- contextPath: Endpoint.OS
  description: Endpoint operating system.
  type: string
- contextPath: Endpoint.IP
  description: A list of endpoint IP addresses.
- contextPath: Endpoint.MAC
  description: A list of endpoint MAC addresses.
- contextPath: Endpoint.Domain
  description: Endpoint domain name.
  type: string
- contextPath: Endpoint.ID
  description: The endpoint ID.
  type: string
- contextPath: Endpoint.Status
  description: The endpoint status.
  type: string
- contextPath: Endpoint.IsIsolated
  description: The endpoint isolation status.
  type: string
- contextPath: Endpoint.MACAddress
  description: The endpoint MAC address.
  type: string
- contextPath: Endpoint.Vendor
  description: The integration name of the endpoint vendor.
  type: string
- contextPath: Endpoint.Relationships
  description: The endpoint relationships of the endpoint that was enriched.
  type: string
- contextPath: Endpoint.Processor
  description: The model of the processor.
  type: string
- contextPath: Endpoint.Processors
  description: The number of processors.
  type: string
- contextPath: Endpoint.Memory
  description: Memory on this endpoint.
  type: string
- contextPath: Endpoint.Model
  description: The model of the machine or device.
  type: string
- contextPath: Endpoint.BIOSVersion
  description: The endpoint's BIOS version.
  type: string
- contextPath: Endpoint.OSVersion
  description: The endpoint's operation system version.
  type: string
- contextPath: Endpoint.DHCPServer
  description: The DHCP server of the endpoint.
  type: string
- contextPath: Endpoint.Groups
  description: Groups for which the computer is listed as a member.
  type: string
- contextPath: ExtraHop.Device.Macaddr
  description: The MAC Address of the device.
  type: String
- contextPath: ExtraHop.Device.DeviceClass
  description: The class of the device.
  type: String
- contextPath: ExtraHop.Device.UserModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.AutoRole
  description: The role automatically detected by the ExtraHop.
  type: String
- contextPath: ExtraHop.Device.ParentId
  description: The ID of the parent device.
  type: Number
- contextPath: ExtraHop.Device.Vendor
  description: The device vendor.
  type: String
- contextPath: ExtraHop.Device.Analysis
  description: The level of analysis preformed on the device.
  type: string
- contextPath: ExtraHop.Device.DiscoveryId
  description: The UUID given by the Discover appliance.
  type: String
- contextPath: ExtraHop.Device.DefaultName
  description: The default name of the device.
  type: String
- contextPath: ExtraHop.Device.DisplayName
  description: The display name of device.
  type: String
- contextPath: ExtraHop.Device.OnWatchlist
  description: Whether the device is on the advanced analysis allow list.
  type: Boolean
- contextPath: ExtraHop.Device.ModTime
  description: The time of the most recent update, expressed in milliseconds since
    the epoch.
  type: Number
- contextPath: ExtraHop.Device.IsL3
  description: Indicates whether the device is a Layer 3 device.
  type: Boolean
- contextPath: ExtraHop.Device.Role
  description: The role of the device.
  type: String
- contextPath: ExtraHop.Device.DiscoverTime
  description: The time that the device was discovered.
  type: Number
- contextPath: ExtraHop.Device.Id
  description: The ID of the device.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr4
  description: The IPv4 address of the device.
  type: String
- contextPath: ExtraHop.Device.Vlanid
  description: The ID of VLan.
  type: Number
- contextPath: ExtraHop.Device.Ipaddr6
  description: The IPv6 address of the device.
  type: string
- contextPath: ExtraHop.Device.NodeId
  description: The Node ID of the Discover appliance.
  type: number
- contextPath: ExtraHop.Device.Description
  description: A user customizable description of the device.
  type: string
- contextPath: ExtraHop.Device.DnsName
  description: The DNS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.DhcpName
  description: The DHCP name associated with the device.
  type: string
- contextPath: ExtraHop.Device.CdpName
  description: The Cisco Discovery Protocol name associated with the device.
  type: string
- contextPath: ExtraHop.Device.NetbiosName
  description: The NetBIOS name associated with the device.
  type: string
- contextPath: ExtraHop.Device.Url
  description: Link to the device details page in ExtraHop.
  type: string
- contextPath: McAfee.ePO.Endpoint
  description: The endpoint that was enriched.
  type: string
- contextPath: ActiveDirectory.ComputersPageCookie
  description: An opaque string received in a paged search, used for requesting subsequent
    entries.
  type: string
- contextPath: ActiveDirectory.Computers
  description: The information about the hostname that was enriched using Active Directory.
  type: string
- contextPath: ActiveDirectory.Computers.dn
  description: The computer distinguished name.
  type: string
- contextPath: ActiveDirectory.Computers.memberOf
  description: Groups for which the computer is listed.
  type: string
- contextPath: ActiveDirectory.Computers.name
  description: The computer name.
  type: string
- contextPath: CrowdStrike.Device
  description: The information about  the endpoint.
  type: string
- contextPath: CarbonBlackEDR.Sensor.systemvolume_total_size
  description: The size, in bytes, of the system volume of the endpoint on which the
    sensor is installed. installed.
  type: number
- contextPath: CarbonBlackEDR.Sensor.emet_telemetry_path
  description: The path of the EMET telemetry associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.os_environment_display_string
  description: Human-readable string of the installed OS.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_version
  description: The EMET version associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_dump_flags
  description: The flags of the EMET dump associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.clock_delta
  description: The clock delta associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_cblr
  description: Whether the sensor supports Carbon Black Live Response (CbLR).
  type: string
- contextPath: CarbonBlackEDR.Sensor.sensor_uptime
  description: The uptime of the process.
  type: string
- contextPath: CarbonBlackEDR.Sensor.last_update
  description: When the sensor was last updated.
  type: string
- contextPath: CarbonBlackEDR.Sensor.physical_memory_size
  description: The size in bytes of physical memory.
  type: number
- contextPath: CarbonBlackEDR.Sensor.build_id
  description: The sensor version installed on this endpoint. From the /api/builds/
    endpoint.
  type: string
- contextPath: CarbonBlackEDR.Sensor.uptime
  description: Endpoint uptime in seconds.
  type: string
- contextPath: CarbonBlackEDR.Sensor.is_isolating
  description: Boolean representing sensor-reported isolation status.
  type: boolean
- contextPath: CarbonBlackEDR.Sensor.event_log_flush_time
  description: |-
    If event_log_flush_time is set, the server will instruct the sensor to immediately
    send all data before this date, ignoring all other throttling mechanisms.
    To force a host current, set this value to a value far in the future.
    When the sensor has finished sending its queued data, this value will be null.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_dns_name
  description: The DNS name of the endpoint on which the sensor is installed.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_report_setting
  description: The report setting of the EMET associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.id
  description: The ID of this sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_process_count
  description: The number of EMET processes associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_is_gpo
  description: Whether the EMET is a GPO.
  type: string
- contextPath: CarbonBlackEDR.Sensor.power_state
  description: The sensor power state.
  type: string
- contextPath: CarbonBlackEDR.Sensor.network_isolation_enabled
  description: Boolean representing the network isolation request status.
  type: boolean
- contextPath: CarbonBlackEDR.Sensor.systemvolume_free_size
  description: The amount of free bytes on the system volume.
  type: string
- contextPath: CarbonBlackEDR.Sensor.status
  description: The sensor status.
  type: string
- contextPath: CarbonBlackEDR.Sensor.num_eventlog_bytes
  description: The number of event log bytes.
  type: number
- contextPath: CarbonBlackEDR.Sensor.sensor_health_message
  description: Human-readable string indicating the sensor’s self-reported status.
  type: string
- contextPath: CarbonBlackEDR.Sensor.build_version_string
  description: Human-readable string of the sensor version.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_sid
  description: Machine SID of this host.
  type: string
- contextPath: CarbonBlackEDR.Sensor.next_checkin_time
  description: Next expected communication from this computer in server-local time
    and zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.node_id
  description: The node ID associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.cookie
  description: The cookie associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.emet_exploit_action
  description: The EMET exploit action associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.computer_name
  description: NetBIOS name of this computer.
  type: string
- contextPath: CarbonBlackEDR.Sensor.license_expiration
  description: When the license of the sensor expires.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_isolation
  description: Whether the sensor supports isolation.
  type: string
- contextPath: CarbonBlackEDR.Sensor.parity_host_id
  description: The ID of the parity host associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.supports_2nd_gen_modloads
  description: Whether the sensor support modload of 2nd generation.
  type: string
- contextPath: CarbonBlackEDR.Sensor.network_adapters
  description: A pipe-delimited list of IP,MAC pairs for each network interface.
  type: string
- contextPath: CarbonBlackEDR.Sensor.sensor_health_status
  description: Self-reported health score, from 0 to 100. Higher numbers indicate
    a better health status.
  type: number
- contextPath: CarbonBlackEDR.Sensor.registration_time
  description: Time this sensor was originally registered in server-local time and
    zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.restart_queued
  description: Whether a restart of the sensor is queued.
  type: string
- contextPath: CarbonBlackEDR.Sensor.notes
  description: The notes associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.num_storefiles_bytes
  description: Number of storefiles bytes associated with the sensor.
  type: number
- contextPath: CarbonBlackEDR.Sensor.os_environment_id
  description: The ID of the OS environment of the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.shard_id
  description: The ID of the shard associated with the sensor.
  type: string
- contextPath: CarbonBlackEDR.Sensor.boot_id
  description: A sequential counter of boots since the sensor was installed.
  type: string
- contextPath: CarbonBlackEDR.Sensor.last_checkin_time
  description: Last communication with this computer in server-local time and zone.
  type: string
- contextPath: CarbonBlackEDR.Sensor.os_type
  description: The operating system type of the computer.
  type: string
- contextPath: CarbonBlackEDR.Sensor.group_id
  description: The sensor group ID this sensor is assigned to.
  type: string
- contextPath: CarbonBlackEDR.Sensor.uninstall
  description: When set, indicates that the sensor will be directed to uninstall on
    next check-in.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_id
  description: The endpoint ID.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_name
  description: The endpoint name.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_type
  description: The endpoint type.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_status
  description: The status of the endpoint.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.os_type
  description: The endpoint OS type.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.ip
  description: A list of IP addresses.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.users
  description: A list of users.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.domain
  description: The endpoint domain.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.alias
  description: The endpoint's aliases.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.first_seen
  description: First seen date/time in Epoch (milliseconds).
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.last_seen
  description: Last seen date/time in Epoch (milliseconds).
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.content_version
  description: Content version.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.installation_package
  description: Installation package.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.active_directory
  description: Active directory.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.install_date
  description: Install date in Epoch (milliseconds).
  type: date
- contextPath: PaloAltoNetworksXDR.Endpoint.endpoint_version
  description: Endpoint version.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.is_isolated
  description: Whether the endpoint is isolated.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.group_name
  description: The name of the group to which the endpoint belongs.
  type: string
- contextPath: PaloAltoNetworksXDR.Endpoint.count
  description: Number of endpoints returned.
  type: number
- contextPath: Account.Username
  description: The username in the relevant system.
  type: string
- contextPath: Account.Domain
  description: The domain of the account.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.type
  description: Form of identification element.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.id
  description: Identification value of the type field.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.score
  description: The score assigned to the host.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons
  description: The endpoint risk objects.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.date created
  description: Date when the incident was created.
  type: date
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.description
  description: Description of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.severity
  description: The severity of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.status
  description: The incident status.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.points
  description: The score.
  type: string
- contextPath: Core.Endpoint.endpoint_id
  description: The endpoint ID.
  type: string
- contextPath: Core.Endpoint.endpoint_name
  description: The endpoint name.
  type: string
- contextPath: Core.Endpoint.endpoint_type
  description: The endpoint type.
  type: string
- contextPath: Core.Endpoint.endpoint_status
  description: The status of the endpoint.
  type: string
- contextPath: Core.Endpoint.os_type
  description: The endpoint OS type.
  type: string
- contextPath: Core.Endpoint.ip
  description: A list of IP addresses.
  type: string
- contextPath: Core.Endpoint.users
  description: A list of users.
  type: string
- contextPath: Core.Endpoint.domain
  description: The endpoint domain.
  type: string
- contextPath: Core.Endpoint.alias
  description: The endpoint's aliases.
  type: string
- contextPath: Core.Endpoint.first_seen
  description: First seen date/time in Epoch (milliseconds).
  type: string
- contextPath: Core.Endpoint.last_seen
  description: Last seen date/time in Epoch (milliseconds).
  type: string
- contextPath: Core.Endpoint.content_version
  description: Content version.
  type: string
- contextPath: Core.Endpoint.installation_package
  description: Installation package.
  type: string
- contextPath: Core.Endpoint.active_directory
  description: Active directory.
  type: string
- contextPath: Core.Endpoint.install_date
  description: Install date in Epoch (milliseconds).
  type: date
- contextPath: Core.Endpoint.endpoint_version
  description: Endpoint version.
  type: string
- contextPath: Core.Endpoint.is_isolated
  description: Whether the endpoint is isolated.
  type: string
- contextPath: Core.Endpoint.group_name
  description: The name of the group to which the endpoint belongs.
  type: string
- contextPath: Core.RiskyHost.type
  description: Form of identification element.
  type: string
- contextPath: Core.RiskyHost.id
  description: Identification value of the type field.
  type: string
- contextPath: Core.RiskyHost.score
  description: The score assigned to the host.
  type: string
- contextPath: Core.RiskyHost.reasons
  description: The reasons for the risk level.
  type: string
- contextPath: Core.RiskyHost.reasons.date created
  description: Date when the incident was created.
  type: date
- contextPath: Core.RiskyHost.reasons.description
  description: Description of the incident.
  type: string
- contextPath: Core.RiskyHost.reasons.severity
  description: The severity of the incident.
  type: string
- contextPath: Core.RiskyHost.reasons.status
  description: The incident status.
  type: string
- contextPath: Core.RiskyHost.reasons.points
  description: The score.
  type: string
- contextPath: IP.Address
  description: The IP address.
  type: string
- contextPath: IP.InRange
  description: Is the IP in the input ranges? (could be 'yes' or 'no).
  type: string
sourceplaybookid: IP Enrichment - Internal - Generic v2
starttaskid: "0"
tags:
- SOC
- SOC_Framework
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6635b28b-bdf1-42cf-88bc-14ad75e9ebe0
      iscommand: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 6635b28b-bdf1-42cf-88bc-14ad75e9ebe0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 170,
          "y": 199
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8149db7c-af8d-41e2-85ee-c9fe2efd5040
      iscommand: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 8149db7c-af8d-41e2-85ee-c9fe2efd5040
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1010,
          "y": 1770
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a22c2045-33e0-4ad3-8627-15886227f805
      iscommand: false
      name: Enrich internal IP addresses
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: a22c2045-33e0-4ad3-8627-15886227f805
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1430
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IP
          operator: isNotEmpty
          right:
            value: {}
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ExecutedFromParent
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "Yes"
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IP
          operator: isNotEmpty
      label: "No"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "41"
      "No":
      - "44"
      "Yes":
      - "26"
    note: false
    quietmode: 2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the playbook's input contains at least one IP address.
      id: cd79c4ac-4dec-4872-8ec8-35079ffe9e5d
      iscommand: false
      name: Are the IPs already classified?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: cd79c4ac-4dec-4872-8ec8-35079ffe9e5d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 330
        }
      }
  "34":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.ResolveIP
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the ResolveIP parameter is set to "True".
      id: 8556e257-fee3-46d6-8e63-e06c38c3b7af
      iscommand: false
      name: Resolve the IP address?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 8556e257-fee3-46d6-8e63-e06c38c3b7af
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 1020
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: errorPath
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "26"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      ip:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.InRange
              operator: isEqualString
              right:
                value:
                  simple: "yes"
          - - left:
                iscontext: true
                value:
                  simple: IP.Address
              operator: containsGeneral
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: IP
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Convert the IP address to a hostname using DNS query.
      id: 9e40d733-6661-4345-9947-653ff0872d69
      iscommand: false
      name: IP to Hostname (DNS)
      playbooktaskmissingcomponent: null
      script: IPToHost
      type: regular
      version: -1
    taskid: 9e40d733-6661-4345-9947-653ff0872d69
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": 1210
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Address
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: IP.InRange
                    operator: isEqualString
                    right:
                      value:
                        simple: "yes"
                root: IP
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the "InRange" attribute is set to "yes".
      id: ac707a9d-ef3d-4dbc-867d-1bef4287be9d
      iscommand: false
      name: Is there an internal IP address?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: ac707a9d-ef3d-4dbc-867d-1bef4287be9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 720,
          "y": 840
        }
      }
  "40":
    continueonerror: true
    continueonerrortype: errorPath
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "45"
      '#none#':
      - "39"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      ip:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      ipRanges:
        complex:
          root: inputs.InternalRange
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Checks if the IP address is in the internal IP address ranges.\nIf
        internal, sets the \"InRange\" attribute to \"yes\".\nIf external, sets the
        \"InRange\" attribute to \"no\". \n"
      id: ce1db4c9-4be4-483f-9957-32fe35630b3d
      iscommand: false
      name: Determine whether the IP address is internal or external
      playbooktaskmissingcomponent: null
      script: IsIPInRanges
      type: regular
      version: -1
    taskid: ce1db4c9-4be4-483f-9957-32fe35630b3d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 720,
          "y": 680
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3dbd6139-a053-466c-8abf-86544d804022
      iscommand: false
      name: No Internal IP Address
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 3dbd6139-a053-466c-8abf-86544d804022
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -580,
          "y": 855
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7be14457-6daf-4880-8ab7-ddc7d9c5f5ea
      iscommand: false
      name: Classify & Resolve IPs
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 7be14457-6daf-4880-8ab7-ddc7d9c5f5ea
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 720,
          "y": 540
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 01e806da-e272-4832-892f-d0f527a09255
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 01e806da-e272-4832-892f-d0f527a09255
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1510,
          "y": 1765
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 58a12bcd-7e4e-4f17-8325-650df12e52fe
      iscommand: false
      name: SOC Endpoint Enrichment - Generic v2.1
      playbookId: SOC Endpoint Enrichment - Generic v2.1
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 58a12bcd-7e4e-4f17-8325-650df12e52fe
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1610
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "28_26_Yes": 0.17,
      "28_41_#default#": 0.27,
      "34_26_#default#": 0.41,
      "39_34_yes": 0.47
    },
    "paper": {
      "dimensions": {
        "height": 1636,
        "width": 2470,
        "x": -580,
        "y": 199
      }
    }
  }
