Playbooks/SOC_Enrichment_for_Verdict.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: ""
    packName: SOC Malware Investigation Response
    prevname: ""
    toServerVersion: ""
description: This playbook checks prior alert closing reasons and performs enrichment
  and prevalence checks on different IOC types. It then returns the information needed
  to establish the alert's verdict.
id: 'SOC Enrichment for Verdict'
inputs:
- description: The number of previous alerts that were closed as false positive alerts.
    This threshold establishes whether the Previous Verdict key will be marked as
    false positive.
  key: threshold
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: |-
    A query for the previous alerts search.
    Use free form query (Lucene syntax) as a filter. All other filters are ignored when this filter is used.
  key: query
  playbookInputQuery: null
  required: false
  value:
    simple: (initiatorsha256:${inputs.FileSHA256} or hostip:${inputs.IP}) and sourceBrand:"${alert.sourceBrand}"
      and name:"${alert.name}"
- description: |-
    The closing reason of the previous alerts to search for.
    Possible values are:
    - Resolved - Threat Handled
    - Resolved - True Positive
    - Resolved - False Positive
    - Resolved - Security Testing
    - Resolved - Known Issue
    - Resolved - Duplicate Incident
    - Resolved - Other
    - Resolved - Auto
  key: CloseReason
  playbookInputQuery: null
  required: false
  value:
    simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved - Known
      Issue
- description: File SHA256 to enrich and give verdict.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorsha256
      root: alert
- description: IP address to enrich and give verdict.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostip
      root: alert
- description: 'A list of internal IP ranges to check IP addresses against. The comma-separated
    list should be provided in CIDR notation. For example, a list of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16"
    (without quotes).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: PrivateIPs
      root: lists
      transformers:
      - args:
          error_if_no_match: {}
          ignore_case: {}
          multi_line: {}
          period_matches_newline: {}
          regex:
            value:
              simple: (\b(?:\d{1,3}\.){3}\d{1,3}\b/\d{1,2})
          unpack_matches: {}
        operator: RegexExtractAll
      - args:
          separator:
            value:
              simple: ','
        operator: join
- description: Determines whether to convert the IP address to a hostname using a
    DNS query (True/ False).
  key: ResolveIP
  playbookInputQuery: null
  required: false
  value: {}
- description: URL to enrich and give verdict.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: url
      root: alert
- description: User to enrich and give verdict. (AWS IAM or Active Directory).
  key: User
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: username
      root: alert
- description: Domain to enrich and give verdict.
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: domainname
      root: alert
- description: The CMD to run the prevalence check.
  key: CommandLine
  playbookInputQuery: null
  required: false
  value: {}
- description: The process name to run the prevalence check.
  key: ProcessName
  playbookInputQuery: null
  required: false
  value: {}
- description: The registry key to run the prevalence check. The input registry value
    must be provided as well.
  key: RegistryKey
  playbookInputQuery: null
  required: false
  value: {}
- description: The registry value to run prevalence check. The input registry key
    must be provided as well.
  key: RegistryValue
  playbookInputQuery: null
  required: false
  value: {}
- description: Set 'True' to use the reputation commands (!ip, !domain, !url) to enrich
    the IP, URL, and domain.
  key: UseReputationCommand
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: SOC Enrichment for Verdict
outputs:
- contextPath: PreviousVerdict
  description: Suspected verdict for previous alerts.
  type: string
- contextPath: VTFileVerdict
  description: Check for VirusTotal verdict.
  type: unknown
- contextPath: NSRLFileVerdict
  description: Check for the file presence in NSRL DB.
  type: unknown
- contextPath: VTFileSigners
  description: Check VirusTotal if the file is signed by a trusted publisher.
  type: unknown
- contextPath: XDRFileSigners
  description: Check XDR alert if the file is signed by a trusted publisher.
  type: unknown
- contextPath: IP
  description: The IP objects.
  type: unknown
- contextPath: DBotScore
  description: Indicator's dbot Score, dbot Type and Vendor.
  type: unknown
- contextPath: Endpoint
  description: The endpoint's object.
  type: unknown
- contextPath: URL
  description: The URL object.
  type: uknown
- contextPath: AWS.IAM.Users
  description: AWS IAM user information.
  type: unknown
- contextPath: AWS.IAM.Users.AccessKeys
  description: AWS IAM user access keys information.
  type: unknown
- contextPath: Account
  description: The account object.
  type: unknown
- contextPath: ActiveDirectory.Users
  description: Active Directory user information.
  type: unknown
- contextPath: IPVerdict
  description: Specifies whether the IP addresses were found as suspicious.
  type: unknown
- contextPath: URLVerdict
  description: Specifies whether the URLs were found as suspicious.
  type: unknown
- contextPath: FileVerdict
  description: Specifies whether the files were found as suspicious.
  type: unknown
- contextPath: WildFire.Report
  description: WildFire report object.
  type: unknown
- contextPath: WildFire.Report.verdict
  description: The verdict of the report.
- contextPath: WildFire.Verdicts.Verdict
  description: Verdict of the file.
- contextPath: WildFire.Verdicts.VerdictDescription
  description: Description of the file verdict.
- contextPath: DomainVerdict
  description: Domain verdict
  type: unknown
- contextPath: Core.AnalyticsPrevalence.Ip.value
  description: Whether the IP address is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Ip.data.global_prevalence.value
  description: The global prevalence of the IP.
- contextPath: Core.AnalyticsPrevalence.Ip.data.local_prevalence.value
  description: The local prevalence of the IP.
- contextPath: Core.AnalyticsPrevalence.Hash.value
  description: Whether the hash is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Hash.data.global_prevalence.value
  description: The global prevalence of the hash.
- contextPath: Core.AnalyticsPrevalence.Hash.data.local_prevalence.value
  description: The local prevalence of the hash.
- contextPath: Core.AnalyticsPrevalence.Domain.value
  description: Whether the domain is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Domain.data.global_prevalence.value
  description: The global prevalence of the domain.
- contextPath: Core.AnalyticsPrevalence.Domain.data.local_prevalence.value
  description: The local prevalence of the domain.
- contextPath: Core.AnalyticsPrevalence.Process.value
  description: Whether the process is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Process.data.global_prevalence.value
  description: The global prevalence of the process.
- contextPath: Core.AnalyticsPrevalence.Process.data.local_prevalence.value
  description: The local prevalence of the process.
- contextPath: Core.AnalyticsPrevalence.Registry.value
  description: Whether the registry is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Registry.data.global_prevalence.value
  description: The global prevalence of the registry.
- contextPath: Core.AnalyticsPrevalence.Registry.data.local_prevalence.value
  description: The local prevalence of the registry.
- contextPath: Core.AnalyticsPrevalence.Cmd.value
  description: Whether the CMD is prevalent or not.
- contextPath: Core.AnalyticsPrevalence.Cmd.data.global_prevalence.value
  description: The global prevalence of the CMD.
- contextPath: Core.AnalyticsPrevalence.Cmd.data.local_prevalence.value
  description: The local prevalence of the CDM.
quiet: true
sourceplaybookid: Enrichment for Verdict
starttaskid: "0"
tags:
- SOC
- Malware
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9cc1d6e7-7346-438e-84cf-c5384eb9a00a
      iscommand: false
      name: ""
      version: -1
    taskid: 9cc1d6e7-7346-438e-84cf-c5384eb9a00a
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1947.75,
          "y": 50
        }
      }
  "8":
    continueonerror: true
    continueonerrortype: errorPath
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        complex:
          root: inputs.query
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Searches XSIAM alerts.\n\nThis automation runs using the default
        Limited User role, unless you explicitly change the permissions.\nFor more
        information, see the section about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: ab567db5-ec6d-4185-92e9-0a0b06ae30ab
      iscommand: false
      name: 'Check previous alerts '
      script: SearchAlertsV2
      type: regular
      version: -1
    taskid: ab567db5-ec6d-4185-92e9-0a0b06ae30ab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2093,
          "y": 370
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: foundIncidents.rawCloseReason
          operator: containsGeneral
          right:
            iscontext: true
            value:
              complex:
                root: inputs.CloseReason
                transformers:
                - args:
                    delimiter:
                      value:
                        simple: ','
                  operator: split
      - - left:
            iscontext: true
            value:
              complex:
                accessor: id
                root: foundIncidents
                transformers:
                - operator: count
          operator: greaterThanOrEqual
          right:
            iscontext: true
            value:
              complex:
                root: inputs.threshold
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were previous alerts closed as false positive?
      id: b3cad615-be42-4953-8f72-010f572ef0fd
      iscommand: false
      name: Were previous alerts closed as false positive?
      type: condition
      version: -1
    taskid: b3cad615-be42-4953-8f72-010f572ef0fd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3300.25,
          "y": 540
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: IsNSRL
      - - left:
            iscontext: true
            value:
              simple: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: Benign
      - - left:
            iscontext: true
            value:
              simple: XDRFileSigners
          operator: isEqualString
          right:
            value:
              simple: Trusted
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the file found as suspicious?
      id: 5a797f7b-e0f2-46de-85c1-0d2165ce20a9
      iscommand: false
      name: Was the file found as Benign?
      type: condition
      version: -1
    taskid: 5a797f7b-e0f2-46de-85c1-0d2165ce20a9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1016.75,
          "y": 1380
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.FileSHA256
                    operator: stringHasLength
                    right:
                      value:
                        simple: "64"
                root: inputs.FileSHA256
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a file?
      id: 955d7432-cc8b-45d6-89c9-1ab23df18f9e
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 955d7432-cc8b-45d6-89c9-1ab23df18f9e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 826.25,
          "y": 1040
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.IP
                    operator: IsNotInCidrRanges
                    right:
                      value:
                        simple: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
                root: inputs.IP
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "58"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an IP address?
      id: 0f1e5698-ef4e-4235-8788-8393074064f4
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 0f1e5698-ef4e-4235-8788-8393074064f4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1788.25,
          "y": 1040
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.IP
                root: DBotScore
          operator: isNotEqualString
          right:
            value:
              simple: "1"
      - - left:
            iscontext: true
            value:
              simple: DBotScore
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the IP found as suspicious?
      id: 5563f2a4-486e-4f81-8643-177d0e8b5771
      iscommand: false
      name: Was the IP found as Suspicious?
      type: condition
      version: -1
    taskid: 5563f2a4-486e-4f81-8643-177d0e8b5771
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1938.25,
          "y": 1380
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: afcbc012-2435-4010-8296-9371a006f70b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: afcbc012-2435-4010-8296-9371a006f70b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2519.25,
          "y": 1725
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.URL
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a URL?
      id: 6449a627-0408-4675-84d4-0d982602cfd2
      iscommand: false
      name: Is there a URL?
      type: condition
      version: -1
    taskid: 6449a627-0408-4675-84d4-0d982602cfd2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2664.5,
          "y": 1040
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.URL
                root: DBotScore
          operator: isNotEqualString
          right:
            value:
              simple: "1"
      - - left:
            iscontext: true
            value:
              simple: DBotScore
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the URL found as suspicious?
      id: 7836c6c3-382f-4b12-87c7-2c913506c7dc
      iscommand: false
      name: Was the URL found as Suspicious?
      type: condition
      version: -1
    taskid: 7836c6c3-382f-4b12-87c7-2c913506c7dc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2809.75,
          "y": 1380
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: errorPath
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious File.
      id: 1897708d-5d1a-4fa4-a565-fb6a7bee9253
      iscommand: false
      name: Set file verdict suspicious
      script: Set
      type: regular
      version: -1
    taskid: 1897708d-5d1a-4fa4-a565-fb6a7bee9253
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 826.25,
          "y": 1550
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IPVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious IP.
      id: 4bf7e6a1-80b7-4f82-9a0f-ae3f83ffde01
      iscommand: false
      name: Set SuspectedVerdict to Suspicious IP
      script: Set
      type: regular
      version: -1
    taskid: 4bf7e6a1-80b7-4f82-9a0f-ae3f83ffde01
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2083.5,
          "y": 1550
        }
      }
  "33":
    continueonerror: true
    continueonerrortype: errorPath
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: URLVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious URL.
      id: 84c10826-99c7-475a-a11b-62e8844f8e57
      iscommand: false
      name: Set SuspectedVerdict to Suspicious URL
      script: Set
      type: regular
      version: -1
    taskid: 84c10826-99c7-475a-a11b-62e8844f8e57
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2955,
          "y": 1550
        }
      }
  "35":
    continueonerror: true
    continueonerrortype: errorPath
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PreviousVerdict
      value:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the PreviousVerdict key in context to closed as False Positive.
      id: a8a4ea4d-e7f8-4897-9daf-6585accf983e
      iscommand: false
      name: Set PreviousVerdict to Previously closed as False Positive
      script: Set
      type: regular
      version: -1
    taskid: a8a4ea4d-e7f8-4897-9daf-6585accf983e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4652.75,
          "y": 710
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "26"
      - "37"
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ca36cfe-ae11-4c3b-8f9e-92aea2eec70d
      iscommand: false
      name: Entity Enrichment
      type: title
      version: -1
    taskid: 4ca36cfe-ae11-4c3b-8f9e-92aea2eec70d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2474,
          "y": 880
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 55674d1e-079e-4675-8d61-14369fe12222
      iscommand: false
      name: User Enrichment
      type: title
      version: -1
    taskid: 55674d1e-079e-4675-8d61-14369fe12222
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3390.75,
          "y": 1215
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domain
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a domain?
      id: a7f19866-af4a-4e16-899f-5bbfbeae9f65
      iscommand: false
      name: Is there a domain?
      type: condition
      version: -1
    taskid: a7f19866-af4a-4e16-899f-5bbfbeae9f65
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4021.75,
          "y": 1040
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.Domain
                root: DBotScore
          operator: isNotEqualString
          right:
            value:
              simple: "1"
      - - left:
            iscontext: true
            value:
              simple: DBotScore
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the domain found as suspicious?
      id: c90ceb83-b4c8-488f-8c01-d452b2360c9f
      iscommand: false
      name: Was the Domain found as Suspicious?
      type: condition
      version: -1
    taskid: c90ceb83-b4c8-488f-8c01-d452b2360c9f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4167,
          "y": 1380
        }
      }
  "46":
    continueonerror: true
    continueonerrortype: errorPath
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: DomainVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious Domain.
      id: 66a1e02f-d3f3-478a-a7b0-17a4ed9529d1
      iscommand: false
      name: Set SuspectedVerdict to Suspicious Domain
      script: Set
      type: regular
      version: -1
    taskid: 66a1e02f-d3f3-478a-a7b0-17a4ed9529d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4312.25,
          "y": 1550
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.User
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a user?
      id: b3f5772e-2d82-4c85-86e5-c49de7849da4
      iscommand: false
      name: Is there a user?
      type: condition
      version: -1
    taskid: b3f5772e-2d82-4c85-86e5-c49de7849da4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3390.75,
          "y": 1380
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 20853c95-fc61-47cc-8c64-f5273410917e
      iscommand: false
      name: Prevalence Check
      type: title
      version: -1
    taskid: 20853c95-fc61-47cc-8c64-f5273410917e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 13580bdc-aa7d-488b-8c01-91a4511454b8
      iscommand: false
      name: Previous Alerts
      type: title
      version: -1
    taskid: 13580bdc-aa7d-488b-8c01-91a4511454b8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2093,
          "y": 210
        }
      }
  "54":
    continueonerror: true
    continueonerrortype: errorPath
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "55"
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileVerdict
      value:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious File.
      id: 38360e51-ea45-44b3-a643-53bd10c406e2
      iscommand: false
      name: Set file verdict benign
      script: Set
      type: regular
      version: -1
    taskid: 38360e51-ea45-44b3-a643-53bd10c406e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1307.25,
          "y": 1550
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 4af26032-e8ee-4a63-b87f-23b401a881d2
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 4af26032-e8ee-4a63-b87f-23b401a881d2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1988.25,
          "y": 1720
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0e7079de-3b58-4f61-8abb-123650bb7c05
      iscommand: false
      name: SOC Get prevalence for IOCs
      playbookId: SOC Get prevalence for IOCs
      type: playbook
      version: -1
    taskid: 0e7079de-3b58-4f61-8abb-123650bb7c05
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 710
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 90eb98c1-cc95-4860-8141-a8605091de6f
      iscommand: false
      name: SOC File Reputation
      playbookId: SOC File Reputation
      type: playbook
      version: -1
    taskid: 90eb98c1-cc95-4860-8141-a8605091de6f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1016.75,
          "y": 1210
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 336776c1-9e5d-47ec-8fee-30508f968dc9
      iscommand: false
      name: SOC IP Enrichment - Generic v2
      playbookId: SOC IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 336776c1-9e5d-47ec-8fee-30508f968dc9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1938.25,
          "y": 1210
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: b07049cb-53cb-4c13-8ebb-6b14858f3882
      iscommand: false
      name: SOC URL Enrichment - Generic v2
      playbookId: SOC URL Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: b07049cb-53cb-4c13-8ebb-6b14858f3882
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2809.75,
          "y": 1210
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d61d22a4-5995-4dcb-8304-358aab750c3d
      iscommand: false
      name: SOC Account Enrichment - Generic v2.1
      playbookId: SOC Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: d61d22a4-5995-4dcb-8304-358aab750c3d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3536,
          "y": 1550
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d545e1bd-3637-4384-8aad-c80aa8a8e011
      iscommand: false
      name: SOC Domain Enrichment - Generic v2
      playbookId: SOC Domain Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: d545e1bd-3637-4384-8aad-c80aa8a8e011
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 4167,
          "y": 1210
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "17_25_#default#": 0.24,
      "17_57_yes": 0.82,
      "18_25_#default#": 0.19,
      "18_58_yes": 0.71,
      "20_25_#default#": 0.1,
      "26_25_#default#": 0.2,
      "26_59_yes": 0.8,
      "28_25_#default#": 0.24,
      "44_25_#default#": 0.1,
      "44_61_yes": 0.9,
      "45_25_#default#": 0.27,
      "48_25_#default#": 0.1,
      "48_60_yes": 0.84,
      "9_35_yes": 0.3,
      "9_36_#default#": 0.56
    },
    "paper": {
      "dimensions": {
        "height": 1740,
        "width": 4983.75,
        "x": 50,
        "y": 50
      }
    }
  }
