Playbooks/SOC_Account_Enrichment_-_Generic_v2.1.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: ""
    packName: SOC Common Playbooks
    prevname: ""
    toServerVersion: ""
description: |-
  Enrich accounts using one or more integrations.
  Supported integrations:
  - Active Directory
  - Microsoft Graph User
  - SailPoint IdentityNow
  - SailPoint IdentityIQ
  - PingOne
  - Okta
  - AWS IAM
  - Cortex XDR (account enrichment and reputation)

  Also, the playbook supports the generic command 'iam-get-user' (implemented in IAM integrations). For more information, visit https://xsoar.pan.dev/docs/integrations/iam-integrations.
id: 'SOC Account Enrichment - Generic v2.1'
inputs:
- description: |-
    The usernames to enrich. This input supports multiple usernames.
    Usernames can be with or without a domain prefix, in the format of "username" or "domain\username".
    Domain usernames will only be enriched in integrations that support  them.
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Username
      root: Account
      transformers:
      - operator: uniq
- description: |-
    Optional - This input is needed for the IAM-get-user command (used in the Account Enrichment - IAM playbook). Please provide the domain name that the user is related to.
    Example: @xsoar.com
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
name: SOC Account Enrichment - Generic v2.1
outputs:
- contextPath: Account
  description: The account object.
  type: string
- contextPath: ActiveDirectory.Users.sAMAccountName
  description: The user's SAM account name.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControl
  description: The user's account control flag.
  type: string
- contextPath: ActiveDirectory.Users.mail
  description: The user's email address.
  type: string
- contextPath: ActiveDirectory.Users.memberOf
  description: Groups the user is a member of.
  type: string
- contextPath: IAM
  description: Generic IAM output.
  type: string
- contextPath: IdentityIQ.Identity
  description: Identity asset from IdentityIQ.
  type: string
- contextPath: PingOne.Account
  description: Account in PingID.
  type: string
- contextPath: ActiveDirectory.Users.manager
  description: The manager of the user.
  type: string
- contextPath: IAM.Vendor.active
  description: When true, indicates that the employee's status is active in the 3rd-party
    integration.
  type: string
- contextPath: IAM.Vendor.brand
  description: Name of the integration.
  type: string
- contextPath: IAM.Vendor.details
  description: Provides the raw data from the 3rd-party integration.
  type: string
- contextPath: IAM.Vendor.email
  description: The employee's email address.
  type: string
- contextPath: IAM.Vendor.errorCode
  description: HTTP error response code.
  type: string
- contextPath: IAM.Vendor.errorMessage
  description: Reason why the API failed.
  type: string
- contextPath: IAM.Vendor.id
  description: The employee's user ID in the app.
  type: string
- contextPath: IAM.Vendor.instanceName
  description: Name of the integration instance.
  type: string
- contextPath: IAM.Vendor.success
  description: When true, indicates that the command was executed successfully.
  type: string
- contextPath: IAM.Vendor.username
  description: The employee's username in the app.
  type: string
- contextPath: IdentityIQ.Identity.userName
  description: The IdentityIQ username (primary ID).
  type: string
- contextPath: IdentityIQ.Identity.id
  description: The IdentityIQ internal ID (UUID).
  type: string
- contextPath: IdentityIQ.Identity.active
  description: Indicates whether the ID is active or inactive in IdentityIQ.
  type: string
- contextPath: IdentityIQ.Identity.lastModified
  description: Timestamp of when the identity was last modified.
  type: string
- contextPath: IdentityIQ.Identity.displayName
  description: The display name of the identity.
  type: string
- contextPath: IdentityIQ.Identity.emails
  description: Array of email objects.
  type: string
- contextPath: IdentityIQ.Identity.entitlements
  description: Array of entitlement objects that the identity has.
  type: string
- contextPath: IdentityIQ.Identity.roles
  description: Array of role objects that the identity has.
  type: string
- contextPath: IdentityIQ.Identity.capabilities
  description: Array of string representations of the IdentityIQ capabilities assigned
    to this identity.
  type: string
- contextPath: IdentityIQ.Identity.name
  description: Account name.
  type: string
- contextPath: IdentityIQ.Identity.name.formatted
  description: The display name of the identity.
  type: string
- contextPath: IdentityIQ.Identity.name.familyName
  description: The last name of the identity.
  type: string
- contextPath: IdentityIQ.Identity.name.givenName
  description: The first name of the identity.
  type: string
- contextPath: IdentityIQ.Identity.manager
  description: The account's manager returned from IdentityIQ.
  type: string
- contextPath: IdentityIQ.Identity.manager.userName
  description: The IdentityIQ username (primary ID) of the identity's manager.
  type: string
- contextPath: IdentityIQ.Identity.emails.type
  description: Type of the email being returned.
  type: string
- contextPath: IdentityIQ.Identity.emails.value
  description: The email address of the identity.
  type: string
- contextPath: IdentityIQ.Identity.emails.primary
  description: Indicates if this email address is the identity's primary email.
  type: string
- contextPath: PingOne.Account.ID
  description: PingOne account ID.
  type: string
- contextPath: PingOne.Account.Username
  description: PingOne account username.
  type: string
- contextPath: PingOne.Account.DisplayName
  description: PingOne account display name.
  type: string
- contextPath: PingOne.Account.Email
  description: PingOne account email.
  type: string
- contextPath: PingOne.Account.Enabled
  description: PingOne account enabled status.
  type: string
- contextPath: PingOne.Account.CreatedAt
  description: PingOne account create date.
  type: string
- contextPath: PingOne.Account.UpdatedAt
  description: PingOne account updated date.
  type: string
- contextPath: Account.PasswordChanged
  description: Timestamp for when the user's password was last changed.
  type: string
- contextPath: Account.StatusChanged
  description: Timestamp for when the user's status was last changed.
  type: string
- contextPath: Account.Activated
  description: Timestamp for when the user was activated.
  type: string
- contextPath: Account.Created
  description: Timestamp for when the user was created.
  type: string
- contextPath: Account.Status
  description: Okta account status.
  type: string
- contextPath: Account.Username
  description: The user SAM account name.
  type: string
- contextPath: Account.Email
  description: The user email address.
  type: string
- contextPath: Account.ID
  description: The user distinguished name.
  type: string
- contextPath: ActiveDirectory.Users.dn
  description: The user distinguished name.
  type: string
- contextPath: ActiveDirectory.Users.displayName
  description: The user display name.
  type: string
- contextPath: ActiveDirectory.Users.name
  description: The user common name.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields
  description: The user account control fields.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.SCRIPT
  description: Whether the login script is run. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.ACCOUNTDISABLE
  description: Whether the user account is disabled. Works for *Windows Server 2012
    R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.HOMEDIR_REQUIRED
  description: Whether the home folder is required. Works for *Windows Server 2012
    R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.LOCKOUT
  description: Whether the user is locked out. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_NOTREQD
  description: Whether the password is required. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_CANT_CHANGE
  description: Whether the user can change the password. Works for *Windows Server
    2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.ENCRYPTED_TEXT_PWD_ALLOWED
  description: Whether the user can send an encrypted password. Works for *Windows
    Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.TEMP_DUPLICATE_ACCOUNT
  description: Whether this is an account for users whose primary account is in another
    domain. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.NORMAL_ACCOUNT
  description: Whether this is a default account type that represents a typical user.
    Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.INTERDOMAIN_TRUST_ACCOUNT
  description: Whether the account is permitted to trust a system domain that trusts
    other domains. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.WORKSTATION_TRUST_ACCOUNT
  description: Whether this is a computer account for a computer running Microsoft
    Windows NT 4.0 Workstation, Microsoft Windows NT 4.0 Server, Microsoft Windows
    2000 Professional, or Windows 2000 Server and is a member of this domain.
  type: string
- contextPath: Account.Manager
  description: The user manager.
  type: string
- contextPath: Account.Groups
  description: Groups for which the user is a member.
  type: string
- contextPath: Account.DisplayName
  description: The user display name.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.PARTIAL_SECRETS_ACCOUNT
  description: Whether the account is a read-only domain controller (RODC).
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_TO_AUTH_FOR_DELEGATION
  description: Whether the account is enabled for delegation.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.DONT_REQ_PREAUTH
  description: Whether this account require Kerberos pre-authentication for logging
    on.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.USE_DES_KEY_ONLY
  description: Whether to restrict this principal to use only Data Encryption Standard
    (DES) encryption types for keys.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.NOT_DELEGATED
  description: Whether the security context of the user isn't delegated to a service
    even if the service account is set as trusted for Kerberos delegation.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_FOR_DELEGATION
  description: Whether the service account (the user or computer account) under which
    a service runs is trusted for Kerberos delegation.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.SMARTCARD_REQUIRED
  description: Whether to force the user to log in by using a smart card.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.MNS_LOGON_ACCOUNT
  description: Whether this is an MNS login account.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.SERVER_TRUST_ACCOUNT
  description: Whether this is a computer account for a domain controller that is
    a member of this domain. Works for *Windows Server 2012 R2*.
  type: string
- contextPath: IAM.Vendor
  description: The returning results vendor.
  type: string
- contextPath: IAM.Vendor.action
  description: The command name.
  type: string
- contextPath: IAM.UserProfile
  description: The user profile.
  type: string
- contextPath: SailPointIdentityNow.Account
  description: The IdentityNow account object.
  type: string
- contextPath: SailPointIdentityNow.Account.id
  description: The IdentityNow internal ID (UUID).
  type: string
- contextPath: SailPointIdentityNow.Account.name
  description: Name of the identity on this account.
  type: string
- contextPath: SailPointIdentityNow.Account.identityId
  description: The IdentityNow internal identity ID.
  type: string
- contextPath: SailPointIdentityNow.Account.nativeIdentity
  description: The IdentityNow internal native identity ID.
  type: string
- contextPath: SailPointIdentityNow.Account.sourceId
  description: Source ID that maps this account.
  type: string
- contextPath: SailPointIdentityNow.Account.created
  description: Timestamp when the account was created.
  type: string
- contextPath: SailPointIdentityNow.Account.modified
  description: Timestamp when the account was last modified.
  type: string
- contextPath: SailPointIdentityNow.Account.attributes
  description: Map of variable number of attributes unique to this account.
  type: string
- contextPath: SailPointIdentityNow.Account.authoritative
  description: Indicates whether the account is the true source for this identity.
  type: string
- contextPath: SailPointIdentityNow.Account.disabled
  description: Indicates whether the account is disabled.
  type: string
- contextPath: SailPointIdentityNow.Account.locked
  description: Indicates whether the account is locked.
  type: string
- contextPath: SailPointIdentityNow.Account.systemAccount
  description: Indicates whether the account is a system account.
  type: string
- contextPath: SailPointIdentityNow.Account.uncorrelated
  description: Indicates whether the account is uncorrelated.
  type: string
- contextPath: SailPointIdentityNow.Account.manuallyCorrelated
  description: Indicates whether the account was manually correlated.
  type: string
- contextPath: SailPointIdentityNow.Account.hasEntitlements
  description: Indicates whether the account has entitlement.
  type: string
- contextPath: UserManagerEmail
  description: The email of the user's manager.
  type: string
- contextPath: UserManagerDisplayName
  description: The display name of the user's manager.
  type: string
- contextPath: MSGraphUser.ID
  description: User's ID.
  type: string
- contextPath: MSGraphUser.DisplayName
  description: User's display name.
  type: string
- contextPath: MSGraphUser.GivenName
  description: User's given name.
  type: string
- contextPath: MSGraphUser.JobTitle
  description: User's job title.
  type: string
- contextPath: MSGraphUser.Mail
  description: User's mail address.
  type: string
- contextPath: MSGraphUser.Surname
  description: User's surname.
  type: string
- contextPath: MSGraphUser.UserPrincipalName
  description: User's principal name.
  type: string
- contextPath: MSGraphUserManager.Manager.ID
  description: Manager's user ID.
  type: string
- contextPath: MSGraphUserManager.Manager.DisplayName
  description: User's display name.
  type: string
- contextPath: MSGraphUserManager.Manager.GivenName
  description: User's given name.
  type: string
- contextPath: MSGraphUserManager.Manager.Mail
  description: User's mail address.
  type: string
- contextPath: MSGraphUserManager.Manager.Surname
  description: User's surname.
  type: string
- contextPath: MSGraphUserManager.Manager.UserPrincipalName
  description: User's principal name.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser
  description: The account object.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.type
  description: Form of identification element.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.id
  description: Identification value of the type field.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.score
  description: The score assigned to the user.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons
  description: The account risk objects.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.date created
  description: Date when the incident was created.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.description
  description: Description of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.severity
  description: The severity of the incident
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.status
  description: The incident status
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.points
  description: The score.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.DONT_EXPIRE_PASSWORD
  description: Whether to never expire the password on the account.
  type: string
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWORD_EXPIRED
  description: Whether the user password expired.
  type: string
- contextPath: Account.ManagerEmail
  description: The manager email.
  type: string
- contextPath: AWS.IAM.Users
  description: AWS IAM output.
  type: string
- contextPath: AWS.IAM.Users.UserName
  description: The friendly name identifying the user.
  type: string
- contextPath: AWS.IAM.Users.UserId
  description: The stable and unique string identifying the user.
  type: string
- contextPath: AWS.IAM.Users.Arn
  description: The Amazon Resource Name (ARN) that identifies the user.
  type: string
- contextPath: AWS.IAM.Users.CreateDate
  description: The date and time when the user was created.
  type: string
- contextPath: AWS.IAM.Users.Path
  description: The path to the user.
  type: string
- contextPath: AWS.IAM.Users.PasswordLastUsed
  description: The date and time,  when the user's password was last used to sign
    in to an AWS website.
  type: string
- contextPath: MSGraphUser.MobilePhone
  description: User's mobile phone number.
  type: string
- contextPath: MSGraphUser.OfficeLocation
  description: User's office location.
  type: string
- contextPath: Account.JobTitle
  description: User’s job title.
  type: string
- contextPath: Account.TelephoneNumber
  description: User’s mobile phone number.
  type: string
- contextPath: Account.Office
  description: User’s office location.
  type: string
- contextPath: Account.Type
  description: The account entity type.
  type: string
- contextPath: Account.Email.Address
  description: User’s mail address.
  type: string
- contextPath: MSGraphUserManager.Manager.BusinessPhones
  description: User's business phone numbers.
  type: string
- contextPath: MSGraphUser.BusinessPhones
  description: User's business phone numbers.
  type: string
- contextPath: MSGraphUserManager.Manager.JobTitle
  description: User's job title.
  type: string
- contextPath: MSGraphUserManager.Manager.MobilePhone
  description: User's mobile phone number.
  type: string
- contextPath: MSGraphUserManager.Manager.OfficeLocation
  description: User's office location.
  type: string
sourceplaybookid: Account Enrichment - Generic v2.1
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a6743119-6f7b-4ad2-86f8-d7e6f17415a3
      iscommand: false
      name: ""
      version: -1
    taskid: a6743119-6f7b-4ad2-86f8-d7e6f17415a3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 3681.25,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.Username
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: \
                root: inputs.Username
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is at least one username to enrich.
      id: 7d3036d6-80da-4b4f-8534-c634c6264f50
      iscommand: false
      name: Is there an account to enrich (without domain prefix)?
      type: condition
      version: -1
    taskid: 7d3036d6-80da-4b4f-8534-c634c6264f50
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5669.5,
          "y": 210
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5a047e4-ca2a-4881-8a80-de3d0886ea64
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b5a047e4-ca2a-4881-8a80-de3d0886ea64
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3250.25,
          "y": 1565
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Active Directory Query v2
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there’s an active instance of the Active Directory Query
        v2 integration enabled.
      id: 9b07e7c9-ff70-410d-881c-02389fbf4c1e
      iscommand: false
      name: Is Active Directory Query v2 enabled?
      type: condition
      version: -1
    taskid: 9b07e7c9-ff70-410d-881c-02389fbf4c1e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2328.75,
          "y": 1220
        }
      }
  "5":
    continueonerror: true
    continueonerrortype: errorPath
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      username:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Queries Active Directory and returns information for the specified
        username.
      id: a023978d-1448-4242-bca4-0f6eec9b8aeb
      iscommand: true
      name: Get account info from Active Directory
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: a023978d-1448-4242-bca4-0f6eec9b8aeb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2183.5,
          "y": 1390
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 148faf68-5ced-41f4-82c0-f98fa9d82037
      iscommand: false
      name: SailPoint IdentityIQ
      type: title
      version: -1
    taskid: 148faf68-5ced-41f4-82c0-f98fa9d82037
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1166.75,
          "y": 1055
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 58620334-72c1-4be6-87a2-84ed544c4a8a
      iscommand: false
      name: PingOne
      type: title
      version: -1
    taskid: 58620334-72c1-4be6-87a2-84ed544c4a8a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3490.75,
          "y": 1055
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b5887cbc-9c89-47ba-8802-86c66ed0c85a
      iscommand: false
      name: Microsoft Active Directory
      type: title
      version: -1
    taskid: b5887cbc-9c89-47ba-8802-86c66ed0c85a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2328.75,
          "y": 1055
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: SailPointIdentityIQ
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 93b0d852-2215-4504-8179-64a62951fbcc
      iscommand: false
      name: Is SailPoint IdentityIQ Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 93b0d852-2215-4504-8179-64a62951fbcc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1166.75,
          "y": 1220
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: PingOne
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 82adaccd-d799-44ae-85ec-ee4ca516aab6
      iscommand: false
      name: Is PingOne Integration Enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 82adaccd-d799-44ae-85ec-ee4ca516aab6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3490.75,
          "y": 1220
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: errorPath
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Search identities by search/filter parameters (ID, email, risk
        & active) using IdentityIQ SCIM APIs.
      id: d1802ff6-cfeb-4c99-a9d2-4ce23e475665
      iscommand: true
      name: Get account info from IdentityIQ
      script: '|||identityiq-search-identities'
      type: regular
      version: -1
    taskid: d1802ff6-cfeb-4c99-a9d2-4ce23e475665
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1021.5,
          "y": 1390
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: errorPath
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Returns a PingOne user. One of the following has to be given -
        username or userId.
      id: 285a723b-5ef6-4232-ac9a-0f401a42cd4e
      iscommand: true
      name: Get account info from PingOne
      script: '|||pingone-get-user'
      type: regular
      version: -1
    taskid: 285a723b-5ef6-4232-ac9a-0f401a42cd4e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3345.5,
          "y": 1390
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4e5ba461-1f35-4898-8f03-940b3e3dd950
      iscommand: false
      name: OKTA
      type: title
      version: -1
    taskid: 4e5ba461-1f35-4898-8f03-940b3e3dd950
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4071.75,
          "y": 1055
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Okta v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: e0b7f17c-70f7-4330-8f06-c3729e226adb
      iscommand: false
      name: Is OKTA v2 integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e0b7f17c-70f7-4330-8f06-c3729e226adb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4071.75,
          "y": 1220
        }
      }
  "34":
    continueonerror: true
    continueonerrortype: errorPath
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Fetches information for a single user. You must enter one or more
        parameters for the command to run.
      id: 07a21789-3e33-4a5d-9950-84eac160d4dd
      iscommand: true
      name: Get account info from OKTA v2
      script: '|||okta-get-user'
      type: regular
      version: -1
    taskid: 07a21789-3e33-4a5d-9950-84eac160d4dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3926.5,
          "y": 1390
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ced5695a-76e7-4f6a-81b8-598925a8ea9d
      iscommand: false
      name: AWS
      type: title
      version: -1
    taskid: ced5695a-76e7-4f6a-81b8-598925a8ea9d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 4652.75,
          "y": 1055
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 0f630de1-9988-461a-883a-6113d3dd6d2a
      iscommand: false
      name: Is AWS integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 0f630de1-9988-461a-883a-6113d3dd6d2a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 4652.75,
          "y": 1220
        }
      }
  "44":
    continueonerror: true
    continueonerrortype: errorPath
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      userName:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves information about the specified IAM user, including the
        user's creation date, path, unique ID, and ARN.
      id: d9e54b01-1a69-47d0-aa46-0669007dd53d
      iscommand: true
      name: Get account info from AWS
      script: '|||aws-iam-get-user'
      type: regular
      version: -1
    taskid: d9e54b01-1a69-47d0-aa46-0669007dd53d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4507.5,
          "y": 1390
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f4d3e42-0ec6-4b22-89b2-0b275eedc3c5
      iscommand: false
      name: IAM
      type: title
      version: -1
    taskid: 4f4d3e42-0ec6-4b22-89b2-0b275eedc3c5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 6495.75,
          "y": 1055
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61ad53d6-a0fd-4e1e-8608-1c8a9596d965
      iscommand: false
      name: SailPoint IdentityNow
      type: title
      version: -1
    taskid: 61ad53d6-a0fd-4e1e-8608-1c8a9596d965
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1747.75,
          "y": 1055
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: SailPointIdentityNow
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: 21d70bb7-8b40-4f49-80ca-b78cb05b24aa
      iscommand: false
      name: Is SailPoint IdentityNow integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 21d70bb7-8b40-4f49-80ca-b78cb05b24aa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1747.75,
          "y": 1220
        }
      }
  "52":
    continueonerror: true
    continueonerrortype: errorPath
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        complex:
          root: Usernames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Get accounts by search/filter parameters (ID, name, native_identity).
      id: dc639ca3-2889-46a3-8e15-a7c73a8c8324
      iscommand: true
      name: Get account info from IdentityNow
      script: '|||identitynow-get-accounts'
      type: regular
      version: -1
    taskid: dc639ca3-2889-46a3-8e15-a7c73a8c8324
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1602.5,
          "y": 1390
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Account.Manager
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a manager?
      id: f1700d16-6e63-4a56-8157-42cecfc24657
      iscommand: false
      name: Is there a manager?
      type: condition
      version: -1
    taskid: f1700d16-6e63-4a56-8157-42cecfc24657
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2909.75,
          "y": 1220
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 285753ae-d884-4485-881c-3a99f77be4d0
      iscommand: false
      name: MSGraph Users
      type: title
      version: -1
    taskid: 285753ae-d884-4485-881c-3a99f77be4d0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 5669.5,
          "y": 550
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "57"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Microsoft Graph User
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'.
      id: be533930-e327-4945-8fb7-c47ada329a2f
      iscommand: false
      name: Is Azure Active Directory Users integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: be533930-e327-4945-8fb7-c47ada329a2f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5669.5,
          "y": 710
        }
      }
  "57":
    continueonerror: true
    continueonerrortype: errorPath
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "58"
    note: false
    quietmode: 2
    scriptarguments:
      user:
        complex:
          root: Usernames
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Retrieves the properties and relationships of a user object. For more information, visit: https://docs.microsoft.com/en-us/graph/api/user-update?view=graph-rest-1.0).
        Permissions: - User.Read (Delegated) - User.Read.All (Application)
      id: 8104947f-a39e-4ae2-8b93-04fa0087b4a5
      iscommand: true
      name: Get account info from Azure Active Directory
      script: '|||msgraph-user-get'
      type: regular
      version: -1
    taskid: 8104947f-a39e-4ae2-8b93-04fa0087b4a5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5524.25,
          "y": 880
        }
      }
  "58":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Account.Manager
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              simple: MSGraphUser.ID
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a manager?
      id: 56bea608-c34d-4914-8b16-594603971e22
      iscommand: false
      name: Is there a manager?
      type: condition
      version: -1
    taskid: 56bea608-c34d-4914-8b16-594603971e22
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 5379,
          "y": 1050
        }
      }
  "59":
    continueonerror: true
    continueonerrortype: errorPath
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        complex:
          accessor: ID
          root: MSGraphUser
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves the properties from the manager of a user.
      id: 175ee766-bbb8-4762-9d1d-659dd5b8eb34
      iscommand: true
      name: Azure Active Directory - Get manager details
      script: '|||msgraph-user-get-manager'
      type: regular
      version: -1
    taskid: 175ee766-bbb8-4762-9d1d-659dd5b8eb34
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5233.75,
          "y": 1220
        }
      }
  "60":
    continueonerror: true
    continueonerrortype: errorPath
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UserManagerEmail
      value:
        complex:
          accessor: Mail
          root: MSGraphUserManager.Manager
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e2ba46bc-a8ae-4404-a0df-d0f49c50d082
      iscommand: false
      name: Set manager email address to context
      script: Set
      type: regular
      version: -1
    taskid: e2ba46bc-a8ae-4404-a0df-d0f49c50d082
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 5088.5,
          "y": 1390
        }
      }
  "61":
    continueonerror: true
    continueonerrortype: errorPath
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      user-profile:
        complex:
          root: Usernames
          transformers:
          - operator: Stringify
          - args:
              action_dt: {}
              ignore_case: {}
              multi_line: {}
              output_format: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[\w.0-9]*\\'
            operator: RegexReplace
          - args:
              prefix:
                value:
                  simple: '{"username":"'
              suffix:
                value:
                  simple: '"}'
            operator: concat
          - operator: uniq
          - args:
              delimiter: {}
            operator: split
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a single user resource.
      id: 028034d8-88c2-4eb8-badc-baefd5891a3a
      iscommand: true
      name: IAM Get User - Without specifying a domain
      script: '|||iam-get-user'
      type: regular
      version: -1
    taskid: 028034d8-88c2-4eb8-badc-baefd5891a3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6736.25,
          "y": 1390
        }
      }
  "62":
    continueonerror: true
    continueonerrortype: errorPath
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      user-profile:
        complex:
          root: Usernames
          transformers:
          - args:
              action_dt: {}
              ignore_case: {}
              multi_line: {}
              output_format: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: '[\w.0-9]*\\'
            operator: RegexReplace
          - args:
              prefix:
                iscontext: true
              suffix:
                iscontext: true
                value:
                  simple: inputs.Domain
            operator: concat
          - args:
              prefix:
                value:
                  simple: '{"username":"'
              suffix:
                value:
                  simple: '"}'
            operator: concat
          - operator: uniq
          - args:
              delimiter: {}
            operator: split
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieves a single user resource.
      id: 156b5a8e-18d5-42b0-a894-31733886709f
      iscommand: true
      name: IAM Get User - with a domain
      script: '|||iam-get-user'
      type: regular
      version: -1
    taskid: 156b5a8e-18d5-42b0-a894-31733886709f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 6255.25,
          "y": 1390
        }
      }
  "63":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Domain
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was a domain provided?
      id: e3d4077b-a586-494b-86b3-65e1f408c83a
      iscommand: false
      name: Was a domain provided?
      type: condition
      version: -1
    taskid: e3d4077b-a586-494b-86b3-65e1f408c83a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 6495.75,
          "y": 1220
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 30472917-7825-4a09-89d8-b531bf61958c
      iscommand: false
      name: Cortex XDR
      type: title
      version: -1
    taskid: 30472917-7825-4a09-89d8-b531bf61958c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 1055
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: Cortex XDR - IR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the integration brand is available. Otherwise
        returns 'no'
      id: ed860996-40a3-4e32-8c7d-e4a961c6b7d5
      iscommand: false
      name: Is Cortex XDR - IR integration enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: ed860996-40a3-4e32-8c7d-e4a961c6b7d5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 195.25,
          "y": 1220
        }
      }
  "66":
    continueonerror: true
    continueonerrortype: errorPath
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      user_id:
        complex:
          root: UsernamesWithDomains
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Usernames
              raw: {}
            operator: AppendIfNotEmpty
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Retrieve the risk score of a specific user or list of users with
        the highest risk score in the environment along with the reason affecting
        each score.
      id: d5432c2f-b72b-4d25-8a29-d8997b80cebf
      iscommand: true
      name: Get account risk score
      script: '|||xdr-list-risky-users'
      type: regular
      version: -1
    taskid: d5432c2f-b72b-4d25-8a29-d8997b80cebf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
  "67":
    continueonerror: true
    continueonerrortype: errorPath
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "48"
      - "55"
      - "42"
      - "32"
      - "11"
      - "16"
      - "50"
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Usernames
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: \
          root: inputs.Username
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Saves the usernames without domain prefixes under a new context
        key.\n\nThis automation runs using the default Limited User role, unless you
        explicitly change the permissions.\nFor more information, see the section
        about permissions here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 3b077e00-6754-4787-8f93-de453f29d2a4
      iscommand: false
      name: Save account usernames
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3b077e00-6754-4787-8f93-de453f29d2a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 4071.75,
          "y": 380
        }
      }
  "68":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.Username
                    operator: containsGeneral
                    right:
                      value:
                        simple: \
                root: inputs.Username
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "69"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is at least one username to enrich.
      id: 2524ddf8-40ab-4b7e-8019-8fdf102afc08
      iscommand: false
      name: Is there an account to enrich (with domain prefix)?
      type: condition
      version: -1
    taskid: 2524ddf8-40ab-4b7e-8019-8fdf102afc08
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 485.75,
          "y": 710
        }
      }
  "69":
    continueonerror: true
    continueonerrortype: errorPath
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#error#':
      - "70"
      '#none#':
      - "64"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsernamesWithDomains
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: containsGeneral
              right:
                value:
                  simple: \
          root: inputs.Username
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Saves the usernames with domain prefixes under a new context key.\n\nThis
        automation runs using the default Limited User role, unless you explicitly
        change the permissions.\nFor more information, see the section about permissions
        here:\n- For Cortex see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: e4b7c203-d49f-4a5d-a005-9eda7a79ad04
      iscommand: false
      name: Save account usernames with domains
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: e4b7c203-d49f-4a5d-a005-9eda7a79ad04
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 340.5,
          "y": 880
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 8ee49e2f-882e-4e4a-975f-8bb5faad2935
      iscommand: false
      name: Foundation - Error Handling
      playbookId: Foundation - Error Handling
      type: playbook
      version: -1
    taskid: 8ee49e2f-882e-4e4a-975f-8bb5faad2935
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 4312.25,
          "y": 1560
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      UserEmail:
        complex:
          accessor: Email
          root: Account
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 342df73a-46ad-4f03-a7b7-2aa71faa4ded
      iscommand: false
      name: SOC Active Directory - Get User Manager Details
      playbookId: 'SOC Active Directory - Get User Manager Details'
      type: playbook
      version: -1
    taskid: 342df73a-46ad-4f03-a7b7-2aa71faa4ded
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2759.5,
          "y": 1390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "18_3_#default#": 0.1,
      "1_3_#default#": 0.1,
      "20_3_#default#": 0.1,
      "33_3_#default#": 0.1,
      "43_3_#default#": 0.1,
      "4_3_#default#": 0.1,
      "51_3_#default#": 0.1,
      "53_71_yes": 0.9,
      "56_3_#default#": 0.1,
      "58_3_#default#": 0.1,
      "65_66_yes": 0.59,
      "68_3_#default#": 0.11,
      "68_69_yes": 0.11
    },
    "paper": {
      "dimensions": {
        "height": 1580,
        "width": 7067.25,
        "x": 50,
        "y": 50
      }
    }
  }
